<div class="modal">
    <section class="block block--modal">
        <h1 class="title title--modal">{{ lang.get_post_ip }}</h1>
        <div class="modal__content">
            <div class="block__content">
                <ul class="list list--divided list--stats">
                    <li class="list__item">
                        <span class="list__field">{{ lang.username }}</span>
                        <span class="list__value">{{ post.user_name|raw }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__field">{{ lang.ip_address }}</span>
                        <span class="list__value">{{ post.ipaddress }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__field">{{ lang.hostname }} {{ lang.if_resolvable }}</span>
                        <span class="list__value">{{ post.hostname }}</span>
                    </li>
                    {% if mybb.usergroup.canmodcp and mybb.usergroup.canuseipsearch %}
                        <li class="list__item">
                            <a href="modcp.php?action=ipsearch&amp;ipaddress={{ post.ipaddress }}&amp;search_users=1" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'users', class: 'button__icon fa-fw'}, with_context = false) }}
                                <span class="button__text">{{ lang.search_ip_users }}</span>
                            </a>
                            <a href="modcp.php?action=ipsearch&amp;ipaddress={{ post.ipaddress }}&amp;search_posts=1" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'comments', class: 'button__icon fa-fw'}, with_context = false) }}
                                <span class="button__text">{{ lang.search_ip_posts }}</span>
                            </a>
                            <a href="modcp.php?action=iplookup&amp;ipaddress={{ post.ipaddress }}" onclick="MyBB.popupWindow('/modcp.php?action=iplookup&amp;ipaddress={{ post.ipaddress }}&amp;modal=1'); return false;" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'info-circle', class: 'button__icon fa-fw'}, with_context = false) }}
                                <span class="button__text">{{ lang.info_on_ip }}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
</div>
