<div class="upper">
    <div class="wrapper">
        {% include 'header/quicksearch.twig' %}
        <span class="welcome">{{ lang.welcome_back|raw }} <a href="{{ mybb.settings.bburl }}/member.php?action=logout&amp;logoutkey={{ mybb.user.logoutkey }}" class="logout">{{ lang.welcome_logout }}</a></span>
    </div>
</div>
<div class="lower">
    <div class="wrapper">
        <ul class="menu panel_links">
            {% if mybb.usergroup.canusercp %}
                <li><a href="{{ mybb.settings.bburl }}/usercp.php" class="usercp">{{ lang.welcome_usercp }}</a></li>
            {% endif %}

            {% if mybb.usergroup.canmodcp %}
                <li><a href="{{ mybb.settings.bburl }}/modcp.php" class="modcp">{{ lang.welcome_modcp }}</a></li>
            {% endif %}

            {% if mybb.usergroup.cancp and mybb.config.hide_admin_links != 1 %}
                <li><a href="{{ mybb.settings.bburl }}/{{ mybb.config.admin_dir }}/index.php" class="admincp">{{ lang.welcome_admin }}</a></li>
            {% endif %}
        </ul>
        <ul class="menu user_links">
            <li><a href="javascript:void(0)" onclick="MyBB.popupWindow('{{ mybb.settings.bburl }}/misc.php?action=buddypopup&modal=1', null, true); return false;">{{ lang.welcome_open_buddy_list }}</a></li>

            {% if mybb.usergroup.cansearch %}
                <li><a href="{{ mybb.settings.bburl }}/search.php?action=getnew">{{ lang.welcome_newposts }}</a></li>
<li><a href="{{ mybb.settings.bburl }}/search.php?action=getdaily">{{ lang.welcome_todaysposts }}</a></li>
            {% endif %}

            {% if mybb.settings.enablepms and mybb.usergroup.canusepms %}
                <li><a href="{{ mybb.settings.bburl }}/private.php">{{ lang.welcome_pms }}</a> {{ trans('welcome_pms_usage', mybb.user.pms_unread, mybb.user.pms_total) }}</li>
            {% endif %}
        </ul>
    </div>
    <br class="clear" />
</div>