<section class="section section--form compose__hidden-section compose__hidden-section--attachments">
    <h2 class="title title--section">{{ lang.attachments }}</h2>
    <div class="section__container">
        <div class="row row--form field">
            <p class="field__description">{{ lang.attach_quota }} {{ lang.attach_usage|raw }} <a href="usercp.php?action=attachments">{{ lang.view_attachments }}</a></p>
        </div>
        <div id="upload_bar" style="background: #0066A2; height: 5px; width: 0%;"></div>
        <div id="dropzone" style="padding: 50px 0; margin: 5px 10px 10px; cursor: pointer; border: 2px dashed #CCC; text-align: center;">
            <div style="pointer-events: none;"></div>
        </div>
        {% for attachment in attachments %}
            {{ include('misc/attachments_attachment.twig') }}
        {% endfor %}
        {% if composepost.showattachoptions %}
        <div class="row row--form field">
            <h3 class="field__name">{{ lang.new_attachment }}</h3>
            <div class="file-wrapper">
                <input type="file" name="attachments[]" size="30" class="fileupload" multiple="multiple" />
            </div>
            {% if composepost.showattachadd %}
                <button type="submit" class="button button--full-width" name="newattachment" value="new">
                    {{ include('partials/icon.twig', {icon: 'upload', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.add_attachment }}</span>
                </button>
            {% endif %}
            {% if composepost.showattachupdate %}
            <button type="submit" class="button button--full-width button--secondary" name="updateattachment" value="update">
                {{ include('partials/icon.twig', {icon: 'paperclip', class: 'button__icon'}, with_context = false) }}
                <span class="button__text">{{ lang.update_attachment }}</span>
            </button>
            {% endif %}
        </div>
        {% endif %}
    </div>
</section>
