<tr>
    <td class="{{ alt_trow() }}">
        <strong>{{ draft.subject }}</strong><br />
        <span class="smalltext">
            {% if draft.type == 'post' %}
                {{ lang.thread }}: <a href="{{ draft.threadlink|raw }}">{{ draft.threadsubject }}</a>
            {% else %}
                {{ lang.forum }}: <a href="{{ draft.forumlink|raw }}">{{ draft.forumname }}</a>
            {% endif %}
        </span>
    </td>
    <td class="{{ alt_trow() }}" align="center">
        {{ draft.savedate|raw }} {# TODO: Format dates as a Twig function, rather than using |raw for HTML... #}
    </td>
    <td class="{{ alt_trow() }}" align="center">
        <a href="{{ draft.editurl|raw }}">{{ lang.edit_draft }}</a>
    </td>
    <td class="{{ alt_trow() }}" align="center">
        <input type="checkbox" class="checkbox" name="deletedraft[{{ draft.id }}]" value="{{ draft.type }}" />
    </td>
</tr>