{% extends 'layouts/account.twig' %}

{% block head %}
    <title>{{ lang.drafts }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block accountHeader %}
<header class="page-header">
    <h1 class="title title--page">{{ lang.drafts }}</h1>
</header>
{% endblock accountHeader %}

{% block accountBody %}
    <form action="usercp.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <section class="block">
            <div class="container container--small container--adjacent">
                <div class="select-all">
                    <input type="checkbox" name="allbox" class="checkbox checkall" />
                </div>
            </div>
            <div class="results">
                {% for draft in drafts %}
                    {% include 'usercp/drafts/row.twig' %}
                {% else %}
                    <div class="alert alert--no-results alert--aligned-block">{{ lang.no_drafts|raw }}</div>
                {% endfor %}
            </div>
            <div class="sort-results">
                <input type="hidden" name="action" value="do_drafts" />
                <button type="submit" name="draftman" class="button"{% if not deleteDraftsEnabled %} disabled{% endif %}>
                    {{ include('partials/icon.twig', {icon: 'trash', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.delete_drafts }}</span>
                </button>
            </div>
        </section>
    </form>
{% endblock accountBody %}
