{% extends 'layouts/account.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.drafts }}</title>
{% endblock head %}

{% block accountHeader %}
<header class="page-header">
    <h1 class="title title--page">{{ lang.drafts }}</h1>
</header>
{% endblock accountHeader %}

{% block accountBody %}
    <form action="usercp.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <section class="block">
            <div class="container container--small container--adjacent">
                <div class="select-all">
                    <input type="checkbox" name="allbox" class="checkbox checkall" />
                </div>
            </div>
            <div class="results">
                {% for draft in drafts %}
                    {% include 'usercp/drafts/row.twig' %}
                {% else %}
                    <div class="alert alert--no-results alert--aligned-block">{{ lang.no_drafts|raw }}</div>
                {% endfor %}
            </div>
            <div class="sort-results">
                <input type="hidden" name="action" value="do_drafts" />
                <input type="submit" class="button" name="draftman" value="{{ lang.delete_drafts }}"{% if not deleteDraftsEnabled %} disabled{% endif %} />
            </div>
        </section>

    </form>
{% endblock accountBody %}
