{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bburl }} - {{ lang.email }}</title>
{% endblock head %}

{% block body %}
    <form action="usercp.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />

        {{ errors|raw }}

        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <thead>
                <tr>
                    <th class="thead" colspan="2">
                        <strong>{{ lang.change_email }}</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tcat" colspan="2">
                        <strong>{{ lang.password_confirmation }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="trow2" width="40%">
                        <label for="password">
                            <strong>{{ lang.current_password }}</strong>
                        </label>
                    </td>
                    <td class="trow1" width="60%">
                        <input type="password" class="textbox" id="password" name="password" size="25" />
                    </td>
                </tr>
                <tr>
                    <td class="tcat" colspan="2">
                        <strong>{{ lang.please_enter_confirm_new_email }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="trow2" width="40%">
                        <label for="email">
                            <strong>{{ lang.new_email }}</strong>
                        </label>
                    </td>
                    <td class="trow2" width="60%">
                        <input type="text" class="textbox" id="email" name="email" size="25" maxlength="150" value="{{ email }}" />
                    </td>
                </tr>
                <tr>
                    <td class="trow1" width="40%">
                        <label for="email2">
                            <strong>{{ lang.confirm_email }}</strong>
                        </label>
                    </td>
                    <td class="trow1" width="60%">
                        <input type="text" class="textbox" id="email2" name="email2" size="25" maxlength="150" value="{{ email2 }}" />
                    </td>
                </tr>
            </tbody>

        </table>
        <br />
        <div align="center">
            <input type="hidden" name="action" value="do_email" />
            <input type="submit" class="button" name="submit" value="{{ lang.update_email }}" />
        </div>
    </form>
{% endblock body %}
