{% extends 'layouts/account.twig' %}

{% block head %}
    <title>{{ lang.change_password }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block accountHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.change_password }}</h1>
    </header>
{% endblock %}

{% block accountBody %}
    <form action="usercp.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />

        {% include 'usercp/profile_menu.twig' %}

        {{ errors|raw }}

        <div class="block block--form form">
            <section class="section section--form">
                <h2 class="title title--section">{{ lang.change_password }}</h2>
                <div class="section__container">
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="new_password">{{ lang.new_password }}</label></h3>
                        <input type="password" class="textbox" name="password" id="new_password" size="25" />
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="confirm_password">{{ lang.confirm_password }}</label></h3>
                        <input type="password" class="textbox" id="confirm_password" name="password2" size="25" />
                    </div>
                </div>
            </section>
            <section class="section section--form">
                <h2 class="title title--section">{{ lang.password_confirmation }}</h2>
                <div class="section__container">
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="current_password">{{ lang.current_password }}</label></h3>
                        <input type="password" class="textbox" name="oldpassword" id="current_password" size="25" />
                    </div>
                </div>
            </section>
            <div class="form__submit">
                <input type="hidden" name="action" value="do_password" />
                <button type="submit" class="button button--medium" name="submit">
                    {{ include('partials/icon.twig', {icon: 'key', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.update_password }}</span>
                </button>
            </div>
        </div>
        <input type="hidden" name="action" value="do_password" />
    </form>
{% endblock accountBody %}
