{# NoCAPTCHA #}
{% if type == 4 %}
    <section class="section section--form" id="captcha_trow">
        <h2 class="title title--section">{{ lang.human_verification }}</h2>
        <div class="section__container">
            <div class="row row--form field">
                <p class="field__description">{{ lang.verification_note_nocaptcha }}</p>
                <script type="text/javascript" src="{{ server }}"></script><div class="g-recaptcha" data-sitekey="{{ mybb.settings.recaptchapublickey }}"></div>
            </div>
        </div>
    </section>
{# ReCAPTCHA v2 #}
{% elseif type == 5 %}
    <script src="{{ server }}?onload=captchaOnloadCallback&render=explicit" async defer></script>
    <script type="text/javascript">

        var captchaTarget = '';

        var captchaOnSubmit = function(token) {

            if (!captchaTarget.is('#quick_reply_submit')) {
                document.createElement('form').submit.apply(captchaTarget.closest('form')[0]);
            } else {
                captchaTarget.on('click', function(e) {
                    return Thread.quickReply(e);
                }).trigger('click').off('click');
                grecaptcha.reset();
            }

        };

        var captchaOnloadCallback = function() {

            captchaTarget = $('input[name="regsubmit"], #quick_reply_submit').filter(function(){
                return $(this).closest('#quick_login').length == 0
            });

            captchaTarget.attr('data-size', 'invisible').unbind('click');

            grecaptcha.render(captchaTarget.get(0), {
                'sitekey': '{{ mybb.settings.recaptchapublickey }}',
                'callback': captchaOnSubmit
            }, true);

        }

    </script>
{# hCaptcha #}
{% elseif type == 6 %}
    <section class="section section--form" id="captcha_trow">
        <h2 class="title title--section">{{ lang.human_verification }}</h2>
        <div class="section__container">
            <div class="row row--form field">
                <p class="field__description">{{ lang.verification_note_hcaptcha }}</p>
                <script type="text/javascript" src="{{ server }}"></script><div class="h-recaptcha" data-sitekey="{{ mybb.settings.hcaptchapublickey }}" data-theme="{{ mybb.settings.captcha_theme }}" data-size="{{ mybb.settings.captcha_size }></div>
            </div>
        </div>
    </section>
{# hCaptcha invisible #}
{% elseif type == 7 %}
    <script src="{$server}?onload=captchaOnloadCallback&render=explicit" async defer></script>
    <script type="text/javascript">

        var captchaTarget = '';

        var captchaOnSubmit = function(token) {

            if (!captchaTarget.is('#quick_reply_submit')) {
                document.createElement('form').submit.apply(captchaTarget.closest('form')[0]);
            }
            else {
                captchaTarget.on('click', function(e) {
                    return Thread.quickReply(e);
                }).trigger('click').off('click');
                hcaptcha.remove();
            }

        };

        var captchaOnloadCallback = function() {

            captchaTarget = $('input[name="regsubmit"], #quick_reply_submit').filter(function(){
                return $(this).closest('#quick_login').length == 0
            });

            captchaTarget.attr('data-size', 'invisible').unbind('click');

            hcaptcha.render(captchaTarget.get(0), {
                'sitekey': '{{ mybb.settings.hcaptchapublickey }}',
                'callback': captchaOnSubmit
            }, true);

        }

    </script>
{# MyBB Captcha #}
{% else %}
    <section class="section section--form" id="captcha_trow">
        <h2 class="title title--section">{{ lang.image_verification }}</h2>
        <div class="section__container">
            <div class="row row--form field">
                <script type="text/javascript">
                <!--
                    lang.captcha_fetch_failure = "{{ lang.captcha_fetch_failure }}";
                // -->
                </script>
                <script type="text/javascript" src="{{ mybb.asset_url }}/jscripts/captcha.js?ver=1808"></script>
                <p class="field__description">{{ lang.verification_note }}</p>
                <div class="field__block">
                    <img src="{{ mybb.settings.bburl }}/captcha.php?imagehash={{ imagehash }}" alt="{{ lang.image_verification }}" title="{{ lang.image_verification }}" id="captcha_img" />
                </div>
                <div class="field__block">
                    <p class="field__description">{{ lang.verification_subnote }}</p>
                </div>
                <div class="field__block">
                    <input type="text" class="textbox textbox--large" name="imagestring" value="" id="imagestring" />
                    <script type="text/javascript">
                    <!--
                        if(use_xmlhttprequest == "1")
                        {
                            document.write('<button class="button button--inline" name="refresh" onclick="return captcha.refresh();">{% apply spaceless %}{{ include('partials/icon.twig', {icon: 'sync-alt', class: 'button__icon'}, with_context = false) }}{% endapply %}<span class="button__text">{{ lang.refresh }}</span></button>');
                        }
                    // -->
                    </script>
                    <input type="hidden" name="imagehash" value="{{ imagehash }}" id="imagehash" />
                    <div id="imagestring_status"  style="display: none;" colspan="2">&nbsp;</div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
