<div class="user-list__user">
    <a href="{{ get_profile_link(buddy.uid) }}" class="avatar-profile-link">
        {{ render_avatar(url=buddy.avatar.image, alt=buddy.username, class='avatar--smallest') }}
    </a>
    {% if buddy.show_pm %}
        <a href="private.php?action=send&amp;uid={{ buddy.uid }}" target="_blank" onclick="window.opener.location.href=this.href; return false;" class="user-list__shortcut" title="{{ lang.pm_buddy }}">
            {{ include('partials/icon.twig', {icon: 'envelope', class: 'button__icon'}, with_context = false) }}
            <span class="visually-hidden">{{ lang.pm_buddy }}</span>
        </a>
    {% endif %}
    <h4 class="user-list__username">
        {{ buddy.profile_link|raw }}
    </h4>
    <ul class="list list--stats list--user">
        <li class="list__item">
            <span class="list__field">{{ lang.last_active }}</span>
            <span class="list__value">
                {% if buddy.lastactive %}
                    {{ buddy.last_active|raw }}
                {% else %}
                    {{ lang.never }}
                {% endif %}
            </span>
        </li>
    </ul>
</div>
