<div class="modal">
    <div class="modal_{{ report.id }}">
        <form action="report.php" method="post" class="reportData_{{ report.id }}" onsubmit="return Report.submitReport({{ report.id }});">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <input type="hidden" name="action" value="do_report" />
            <input type="hidden" name="type" value="{{ report.type }}" />
            <input type="hidden" name="pid" value="{{ report.id }}" />
            <input type="hidden" name="no_modal" value="1" />
            <section class="block block--modal">
                <h2 class="title title--modal{% if report.has_errors or report.is_duplicate %} title--danger{% endif %}">{{ report.title }}</h2>
                <div class="modal__content">
                    <div class="form form--modal">
                        <div class="section section--form">
                        {% if report.has_errors %}
                            <div class="row row--form">{{ report.error|raw }}</div>
                        {% elseif report.is_duplicate %}
                            <div class="row row--form">{{ lang.error_report_duplicate }}</div>
                        {% else %}
                            {% include 'report/report_reasons.twig' %}
                        {% endif %}
                    </div>
                    {% if report.has_errors == false %}
                    <div class="form__submit">
                        <button type="submit" class="button button--medium">
                            {{ include('partials/icon.twig', {icon: 'flag', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ report.title }}</span>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </form>

<script type="text/javascript">
<!--
    if ($("#report_reason option:selected").attr('data-extra') != 1) {
        $("#reason").hide();
    }

    $("#report_reason").on('change', function() {
        if ($(this).find("option:selected").attr('data-extra') == 1) {
            $("#reason").show();
            return;
        }

        $("#reason").hide();
    });
// -->
</script>
    </div>
</div>
