<div class="row row--simple-columns inline_row report">
    <div class="row__primary">
        <div class="report__content">
            {% if report.type == 'reputation' %}
                {{ trans('report_info_reputation', report.reputation_link, report.bad_user) }}
                {{ trans('report_info_rep_profile', report.good_user) }}
            {% elseif report.type == 'profile' %}
                {{ trans('report_info_profile', report.profile_user) }}
            {% elseif report.type == 'post' %}
                {{ trans('report_info_post', report.post, report.user) }}
                {{ trans('report_info_post_thread', report.thread_link, report.thread_subject) }}
            {% endif %}
        </div>
        <div class="report__reason">
            {% if report.comment %}
                {{ report.reason }}: {{ report.comment }}
            {% else %}
                {{ report.reason }}
            {% endif %}
        </div>
    </div>
    <div class="row__secondary">
        <div class="report__count">
            {{ report.reports }} {% if report.reports == 1 %}{{ lang.report_count_report }}{% else %}{{ lang.report_count_reports }}{% endif %}
        </div>
        <div class="report__last-reporter">
            {{ lang.report_info_lastreporter }}
            <span class="report__last-report-user"><a href="{{ report.reporterlink|raw }}" target="_blank">{{ report.username }}</a></span>
            <span class="report__last-report-date">{{ report.time|raw }}</span>
        </div>
    </div>
</div>
