{% extends 'layouts/moderation.twig' %}

{% block head %}
    <title>{{ lang.delete_announcement }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block moderationHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.delete_announcement }} - {{ announcement.subject }}</h1>

    </header>
{% endblock moderationHeader %}

{% block moderationBody %}
    <form action="modcp.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="do_delete_announcement" />
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <input type="hidden" name="aid" value="{{ announcement.aid }}" />
        <section class="block block--form form">
            <div class="section section--form">
                <div class="row row--form">
                    {{ lang.confirm_delete_announcement }}
                </div>
            </div>
            <div class="form__submit">
                <button type="submit" class="button button--medium button--danger">
                    {{ include('partials/icon.twig', {icon: 'trash', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.delete_announcement }}</span>
                </button>
            </div>
        </section>
    </form>
{% endblock moderationBody %}
