{% extends 'layouts/moderation.twig' %}

{% block head %}
    <title>{{ lang.attachments_awaiting_moderation }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% set results = true %}

{% block moderationHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.mod_queue }}</h1>
    </header>
{% endblock moderationHeader %}

{% block moderationBody %}
    {% include 'modcp/modqueue/menu.twig' %}
    <form action="modcp.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <input type="hidden" name="action" value="do_modqueue" />
        <section class="block">
            <h1 class="title title--major">{{ lang.attachments_awaiting_moderation }}</h1>
            {% for attachment in attachments %}
                {% include 'modcp/modqueue/attachment.twig' %}
            {% else %}
                {% set results = false %}
                <div class="alert alert--no-results">{{ lang.mod_queue_attachments_empty }}</div>
            {% endfor %}
            {% if results %}
                <div class="mod-queue__mass-controls">
                    <a href="javascript:void(0)" onclick="$('input.radio_ignore').each(function(){ $(this).prop('checked', true); }); return false;" class="button button--basic mass_ignore">
                        {{ include('partials/icon.twig', {icon: 'minus-circle', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.mark_all_ignored }}</span>
                    </a>
                    <a href="javascript:void(0)" onclick="$('input.radio_delete').each(function(){ $(this).prop('checked', true); }); return false;" class="button button--basic mass_delete">
                        {{ include('partials/icon.twig', {icon: 'trash', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.mark_all_deletion }}</span>
                    </a>
                    <a href="javascript:void(0)" onclick="$('input.radio_approve').each(function(){ $(this).prop('checked', true); }); return false;" class="button button--basic mass_approve">
                        {{ include('partials/icon.twig', {icon: 'check', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.mark_all_approved }}</span>
                    </a>
                </div>
                <div class="sort-results">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'arrow-circle-right', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.perform_actions }}</span>
                    </button>
                </div>
            {% endif %}
        </section>
        {{ multipage|raw }}
    </form>
{% endblock moderationBody %}
