{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.move_threads }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.move_threads }}</h1>
        </header>
        <form action="moderation.php" method="post">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <section class="block block--form form">
                <div class="section section--form">
                    <div class="row row--form field">
                        <h3 class="field__name">{{ lang.new_forum }}</h3>
                        {{ forumselect|raw }}
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'arrow-right', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.move_threads }}</span>
                    </button>
                </div>
            </section>
            <input type="hidden" name="action" value="do_multimovethreads" />
            <input type="hidden" name="fid" value="{{ forum.fid }}" />
            <input type="hidden" name="threads" value="{{ inlineids }}" />
            <input type="hidden" name="url" value="{{ return_url }}" />
        </form>
    </div>
{% endblock body %}
