{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.split_thread }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.split_thread }}</h1>
        </header>
        <form action="moderation.php" method="post">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <section class="block block--form form">
                <div class="section section--form">
                    <h2 class="title title--section">{{ lang.new_thread_info }}</h2>
                    <div class="section__container">
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="newsubject">{{ lang.new_subject }}</label></h3>
                            <input type="text" class="textbox" name="newsubject" id="newsubject" value="{{ lang.split_thread_subject }} {{ thread.subject }}" size="50" />
                        </div>
                        <div class="row row--form field">
                            <h3 class="field__name">{{ lang.new_forum }}</h3>
                            <div class="select-field">
                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                {{ forumselect|raw }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'arrow-alt-circle-right', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.split_thread }}</span>
                    </button>
                </div>
            </section>
            <input type="hidden" name="action" value="do_multisplitposts" />
            <input type="hidden" name="tid" value="{{ thread.tid }}" />
            <input type="hidden" name="posts" value="{{ inlineids }}" />
            <input type="hidden" name="url" value="{{ return_url }}" />
        </form>
    </div>
{% endblock body %}
