<a name="pid{{ post.pid }}" id="pid{{ post.pid }}"></a>
<div class="post post--message" id="post_{{ post.pid }}">
	<div class="post__meta">
		<h3 class="post__author">{{ post.profilelink|raw }}</h3>
	</div>
	<div class="post__body post__body--message post_body" id="deleted_post{{ post.pid }}">
		{{ lang.postbit_post_deleted }}
	</div>
</div>
