<table class="tborder" border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}">
    <thead>
    <tr>
        <th class="thead" colspan="3">
            <strong>{{ lang.buddyrequests_received }}</strong>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tcat" width="33%">
            <strong>{{ lang.from }}</strong>
        </td>
        <td class="tcat" width="33%">
            <strong>{{ lang.date }}</strong>
        </td>
        <td class="tcat" width="33%">
            <strong>{{ lang.options }}</strong>
        </td>
    </tr>
    {% for request in receivedRequests %}
        {% set row = alt_trow() %}

        {% include 'usercp/editlists/received_request_row.twig' %}
    {% else %}
        <tr>
            <td class="trow1" colspan="3">
                {{ lang.no_requests }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>