<li class="buddy-ignore-list__user" id="{{ user.type }}_{{ user.uid }}">
    <span class="buddy-ignore-list__username">{{ user.profile_link|raw }}</span>
    {% if user.status_type == "online" %}
        <span class="buddy-ignore-list__user-status user-status user-status--online">
            <i class="user-status__icon fas fa-dot-circle" title="{{ attribute(lang, user.status) }}"></i>
        </span>
    {% elseif user.status == "away" %}
        <span class="buddy-ignore-list__user-status user-status user-status--away">
            <i class="user-status__icon fas fa-dot-circle" title="{{ attribute(lang, user.status) }}"></i>
        </span>
    {% else %}
        <span class="buddy-ignore-list__user-status user-status user-status--offline">
            <i class="user-status__icon fas fa-dot-circle" title="{{ attribute(lang, user.status) }}"></i>
        </span>
    {% endif %}
    <a href="usercp.php?action=do_editlists&amp;my_post_key={{ mybb.post_code }}&amp;manage={{ user.type }}&amp;delete={{ user.uid }}"
       onclick="return UserCP.removeBuddy('{{ user.type }}', {{ user.uid }});" title="{{ lang.remove_from_list }}" class="buddy-ignore-list__delete-link">
       <i class="buddy-ignore-list__delete-icon fas fa-user-times" title="{{ lang.remove_from_list }}"></i>
    </a>
</li>
