<section class="section section--form compose__hidden-section compose__hidden-section--attachments">
    <h2 class="title title--section">{{ lang.attachments }}</h2>
    <div class="section__container">
        <div class="row row--form field">
            <p class="field__description">{{ lang.attach_quota }} {{ lang.attach_usage|raw }} <a href="usercp.php?action=attachments">{{ lang.view_attachments }}</a></p>
        </div>
        {% for attachment in attachments %}
            {% if attachment.visible %}
                <div class="row row--form field uploaded-attachment" id="attachment_{{ attachment.aid }}">
                    <div class="uploaded-attachment__details">
                        <span class="uploaded-attachment__icon">{{ attachment.icon|raw }}</span>
                        <span class="uploaded-attachment__file-name">{{ attachment.filename }}</span>
                        <span class="uploaded-attachment__file-size">({{ attachment.size }})</span>
                    </div>
                    <div class="uploaded-attachment__buttons">
                        {% if attachment.showmodapproval %}
                            <input type="submit" class="button button--danger" name="unapproveattach_{{ attachment.aid }}" value="{{ lang.unapprove_attachment }}" onclick="return Post.attachmentAction({{ attachment.aid }},'unapprove');" />
                        {% endif %}
                        <button type="submit" class="button button--secondary" name="rem_{{ attachment.aid }}" value="rem" onclick="return Post.removeAttachment({{ attachment.aid }});">
                            {{ include('partials/icon.twig', {icon: 'trash', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.remove_attachment }}</span>
                        </button>
                        {% if attachment.showinsert %}
                            <button type="button" class="button" name="insert" value="insert" onclick="$('#message').sceditor('instance').insertText('[attachment={{ attachment.aid }}]'); return false;">
                                {{ include('partials/icon.twig', {icon: 'long-arrow-alt-up', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.insert_attachment_post }}</span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="row row--form row--shaded field uploaded-attachment">
                    <div class="uploaded-attachment__details">
                        <span class="uploaded-attachment__icon">{{ attachment.icon|raw }}</span>
                        <span class="uploaded-attachment__file-name"><a href="attachment.php?aid={{ attachment.aid }}" target="_blank">{{ attachment.filename }}</a></span>
                        <span class="uploaded-attachment__file-size">({{ attachment.size }})</span>
                    </div>
                    <div class="uploaded-attachment__buttons">
                        {% if attachment.showmodapproval %}
                            <input type="submit" class="button button--success" name="approveattach_{{ attachment.aid }}" value="{{ lang.approve_attachment }}" onclick="return Post.attachmentAction({{ attachment.aid }},'approve');" />
                            <button type="submit" class="button button--secondary" name="rem" value="rem_{{ attachment.aid }}" onclick="return Post.removeAttachment({{ attachment.aid }});">
                                {{ include('partials/icon.twig', {icon: 'trash', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.remove_attachment }}</span>
                            </button>
                        {% endif %}
                        {% if attachment.showinsert %}
                            <button type="button" class="button" name="insert" value="insert" onclick="$('#message').sceditor('instance').insertText('[attachment={{ attachment.aid }}]'); return false;">
                                {{ include('partials/icon.twig', {icon: 'long-arrow-alt-up', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.insert_attachment_post }}</span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if composepost.showattachoptions %}
        <div class="row row--form field">
            <h3 class="field__name">{{ lang.new_attachment }}</h3>
            <div class="file-wrapper">
                <input type="file" name="attachments[]" size="30" class="fileupload" multiple="multiple" />
            </div>
            {% if composepost.showattachadd %}
                <button type="submit" class="button button--full-width" name="newattachment" value="new">
                    {{ include('partials/icon.twig', {icon: 'upload', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.add_attachment }}</span>
                </button>
            {% endif %}
            {% if composepost.showattachupdate %}
            <button type="submit" class="button button--full-width button--secondary" name="updateattachment" value="update">
                {{ include('partials/icon.twig', {icon: 'paperclip', class: 'button__icon'}, with_context = false) }}
                <span class="button__text">{{ lang.update_attachment }}</span>
            </button>
            {% endif %}
        </div>
        <div id="upload_bar" style="background: #0066A2; height: 5px; width: 0%;"></div>
        <div id="dropzone" style="padding: 50px 0; margin: 5px 10px 10px; cursor: pointer; border: 2px dashed #CCC; text-align: center;">
            <div style="pointer-events: none;"></div>
        </div>
        {% endif %}
    </div>
</section>
