<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <table cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead"{% if buddies.showlist %} colspan="2"{% endif %}>
                    <div><strong>{{ lang.buddy_list }}</strong></div>
                </td>
            </tr>
            {% if buddies.showlist %}
                <tr>
                    <td class="tcat" colspan="2"><strong>{{ lang.online }}</strong></td>
                    {% for buddy in buddys.online %}
                        {% set row = alt_trow() %}
                        <tr>
                            <td class="{{ row }}" width="1%">
                                <div class="buddy_avatar float_left"><img src="{{ buddy.avatar.image }}" alt="" {{ buddy.avatar.width_height|raw }} style="margin-top: 3px;" /></div>
                            </td>
                            <td class="{{ row }}">
                                {{ buddy.profile_link|raw }}
                                <div class="buddy_action">
                                    <span class="smalltext">
                                        {% if buddy.lastactive %}
                                            {{ trans('last_active', buddy.last_active) }}
                                        {% else %}
                                            {{ trans('last_active', lang.never) }}
                                        {% endif %}
                                        <br />
                                        {% if buddy.show_pm %}
                                            <a href="private.php?action=send&amp;uid={{ buddy.uid }}" target="_blank" onclick="window.opener.location.href=this.href; return false;">{{ lang.pm_buddy }}</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="trow1" colspan="2"><em>{{ lang.online_none }}</em></td>
                        </tr>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="tcat" colspan="2"><strong>{{ lang.offline }}</strong></td>
                    {% for buddy in buddys.offline %}
                        {% set row = alt_trow() %}
                        <tr>
                            <td class="{{ row }}" width="1%">
                                <div class="buddy_avatar float_left"><img src="{{ buddy.avatar.image }}" alt="" {{ buddy.avatar.width_height|raw }} style="margin-top: 3px;" /></div>
                            </td>
                            <td class="{{ row }}">
                                {{ buddy.profile_link|raw }}
                                <div class="buddy_action">
                                    <span class="smalltext">
                                        {% if buddy.lastactive %}
                                            {{ trans('last_active', buddy.last_active) }}
                                        {% else %}
                                            {{ trans('last_active', lang.never) }}
                                        {% endif %}
                                        <br />
                                        {% if buddy.show_pm %}
                                            <a href="private.php?action=send&amp;uid={{ buddy.uid }}" target="_blank" onclick="window.opener.location.href=this.href; return false;">{{ lang.pm_buddy }}</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="trow1" colspan="2"><em>{{ lang.offline_none }}</em></td>
                        </tr>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <td class="trow1"><em>{{ lang.no_buddies }}</em></td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>