<div id="debug" class="footer__debug">
    {{ trans('debug_generated_in', totaltime) }} {{ debug_weight }} <br />
    {{ sql_queries }} / {{ trans('debug_server_load', serverload) }} / {{ trans('debug_memory_usage', memory_usage) }}<br />
    [<a href="{{ debuglink }}" target="_blank">{{ lang.debug_advanced_details }}</a>]<br />
</div>
