{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.help_doc_results }}</title>
{% endblock head %}

{% block body %}
    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
        <tr>
            <td class="thead"><strong>{{ lang.help_doc_results }}</strong></td>
        </tr>
        <tr>
            <td class="tcat" align="left"><span class="smalltext"><strong>{{ lang.document }}</strong></span></td>
        </tr>
        {% for helpdoc in helpdoclist %}
            {% set row = alt_trow() %}
            <tr><td class="{{ row }}">
                <span class="smalltext">
                    <a href="misc.php?action=help&amp;hid={{ helpdoc.hid }}{{ highlight|raw }}">
                        {{ helpdoc.name|slice(0, 50) }}{% if helpdoc.name|length > 50 %}...{% endif %}
                    </a><br />
                </span>
                <table width="100%"><tr><td><span class="smalltext"><em>
                    {{ helpdoc.helpdoc|slice(0, 350) }}{% if helpdoc.helpdoc|length > 350 %}...{% endif %}
                </em></span></td></tr></table>
            </td></tr>
        {% else %}
            <tr>
                <td class="trow1">{{ lang.no_help_results }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}
