<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <table width="100%" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" border="0" align="center" class="tborder">
            <tr>
                <td class="thead" align="center">
                    <strong>{{ user.username }} - {% if imtype == 'yahoo' %}{{ lang.yahoo_center }}{% else %}{{ lang.skype_center }}{% endif %}</strong>
                </td>
            </tr>
            <tr>
                <td class="tcat" align="center"><span class="smalltext"><strong>
                {% if user.skype %}
                    <a href="javascript:void(0)" onclick="MyBB.popupWindow('/misc.php?action=imcenter&amp;imtype=skype&amp;uid={{ user.uid }}&amp;modal=1'); return false;">{{ lang.skype }}</a>
                {% endif %}
                {% if user.skype and user.yahoo %} - {% endif %}
                {% if user.yahoo %}
                    <a href="javascript:void(0)" onclick="MyBB.popupWindow('/misc.php?action=imcenter&amp;imtype=yahoo&amp;uid={{ user.uid }}&amp;modal=1'); return false;">{{ lang.yahoo_im }}</a>
                {% endif %}
                </strong></span></td>
            </tr>
            <tr>
                <td class="trow1" align="center" colspan="2"><strong>
                    {% if imtype == 'yahoo' %}{{ user.yahoo }}{% else %}{{ user.skype }}{% endif %}
                </strong></td>
            </tr>
            {% if imtype == 'skype' %}
                <tr>
                    <td class="trow1" align="center">
                        <span class="smalltext">
                            <a href="skype:{{ user.skype }}?chat">{{ trans('chat_on_skype', user.username) }}</a>  -  <a href="skype:{{ user.skype }}?call">{{ trans('call_on_skype', user.username) }}</a>
                        </span>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>