{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ forum.rulestitle }}</title>
{% endblock head %}

{% block body %}
    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder tfixed">
        <tr>
            <td class="thead"><strong>{{ forum.rulestitle }}</strong></td>
        </tr>
        <tr>
            <td class="trow1 scaleimages">{{ forum.rules }}</td>
        </tr>
    </table>
{% endblock body %}
