{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.who_posted }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content page-content--centered">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.total_posts }} {{ thread.numposts }}</h1>
        </header>
        <section class="block who-posted">
            <div class="container container--adjacent container--simple-columns who-posted__legend">
                <div class="who-posted__username"><a href="{{ mybb.settings.bburl }}/misc.php?action=whoposted&amp;tid={{ thread.tid }}&amp;sort=username">{{ lang.user }}</a></div>
                <div class="who-posted__count"><a href="{{ mybb.settings.bburl }}/misc.php?action=whoposted&amp;tid={{ thread.tid }}">{{ lang.num_posts }}</a></div>
            </div>
            {% for poster in whoposted %}
                <div class="row row--simple-columns who-posted__user">
                    <div class="row__primary who-posted__username">{{ poster.profile_link|raw }}</div>
                    <div class="row__secondary who-posted__count">{{ poster.posts }}</div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock body %}
