{{ ignore_bit|raw }}{{ deleted_bit|raw }}
<a name="pid{{ post.pid }}" id="pid{{ post.pid }}"></a>
<div class="post classic {{ unapproved_shade }}" style="{{ post_visibility }}" id="post_{{ post.pid }}">
	<div class="post_author scaleimages">
		{{ post.useravatar|raw }}
		<div class="author_information">
				<strong><span class="largetext">{{ post.profilelink|raw }}</span></strong> {{ post.onlinestatus|raw }}<br />
				<span class="smalltext">
					{{ post.usertitle|raw }}<br />
{% if post.starimage and post.stars %}
	{% for i in range(0, post.stars) %}
		<img src="{{ post.starimage }}" border="0" alt="*" />
	{% endfor %}
	<br />
{% endif %}
{% if post.groupimage %}
					<img src="{{ usergroup.image }}" alt="{{ usergroup.title }}" title="{{ usergroup.title }}" /><br />
{% endif %}
				</span>
		</div>
		<div class="author_statistics">
			{{ post.user_details|raw }}
		</div>
	</div>
	<div class="post_content">
		<div class="post_head">
			{{ post.posturl|raw }}
			{{ post.icon|raw }}
			<span class="post_date">{{ post.postdate|raw }} <span class="post_edit" id="edited_by_{{ post.pid }}">{{ post.editedmsg|raw }}</span></span>
		{{ post.subject_extra|raw }}
		</div>
		<div class="post_body scaleimages" id="pid_{{ post.pid }}">
			{{ post.message|raw }}
		</div>
		{{ post.attachments|raw }}
		{{ post.signature|raw }}
		<div class="post_meta" id="post_meta_{{ post.pid }}">
			{{ post.iplogged|raw }}
			<div class="float_right">
				{{ post.poststatus|raw }}
			</div>
		</div>
		{{ post.input_editreason|raw }}
	</div>
	<div class="post_controls">
		<div class="postbit_buttons author_buttons float_left">
			{{ post.button_email|raw }}{{ post.button_pm|raw }}{{ post.button_www|raw }}{{ post.button_find|raw }}{{ post.button_rep|raw }}
		</div>
		<div class="postbit_buttons post_management_buttons float_right">
			{{ post.button_edit|raw }}{{ post.button_quickdelete|raw }}{{ post.button_quickrestore|raw }}{{ post.button_quote|raw }}{{ post.button_multiquote|raw }}{{ post.button_report|raw }}{{ post.button_warn|raw }}{{ post.button_purgespammer|raw }}{{ post.button_reply_pm|raw }}{{ post.button_replyall_pm|raw }}{{ post.button_forward_pm|raw }}{{ post.button_delete_pm|raw }}
		</div>
	</div>
</div>