<a name="pid{{ post.pid }}" id="pid{{ post.pid }}"></a>
<div class="post deleted_post_hidden" id="post_{{ post.pid }}">
	<div class="deleted_post_author"><strong><span class="largetext">{{ post.profilelink|raw }}</span></strong></div>
	<div class="post_content">
		<em>{{ lang.postbit_post_deleted }}</em>
	</div>
</div>