{{ ignore_bit|raw }}{{ deleted_bit|raw }}
<a name="pid{{ post.pid }}" id="pid{{ post.pid }}"></a>
<div class="post classic {{ unapproved_shade }}" style="{{ post_visibility }}" id="post_{{ post.pid }}">
	<div class="post_author scaleimages">
{% if post.showavatar %}
		<div class="author_avatar">
			<a href="{{ post.profilelink_plain|raw }}"><img src="{{ post.useravatar.image }}" alt="" {{ post.useravatar.width_height|raw }} /></a>
		</div>
{% endif %}
		<div class="author_information">
				<strong><span class="largetext">{{ post.profilelink|raw }}</span></strong> 
{% if post.onlinestatus == "online" %}
<a href="online.php" title="{{ lang.postbit_status_online }}"><img src="{{ theme.imgdir }}/buddy_online.png" border="0" alt="{{ lang.postbit_status_online }}" class="buddy_status" /></a>
{% elseif post.onlinestatus == "away" %}
<a href="{{ post.profilelink_plain|raw }}" title="{{ lang.postbit_status_away }}"><img src="{{ theme.imgdir }}/buddy_away.png" border="0" alt="{{ lang.postbit_status_away }}" class="buddy_status" /></a>
{% else %}
<img src="{{ theme.imgdir }}/buddy_offline.png" title="{{ lang.postbit_status_offline }}" alt="{{ lang.postbit_status_offline }}" class="buddy_status" />
{% endif %}
<br />
				<span class="smalltext">
					{{ post.usertitle|raw }}<br />
{% if post.starimage and post.stars %}
	{% for i in range(0, post.stars) %}
		<img src="{{ post.starimage }}" border="0" alt="*" />
	{% endfor %}
	<br />
{% endif %}
{% if post.groupimage %}
					<img src="{{ usergroup.image }}" alt="{{ usergroup.title }}" title="{{ usergroup.title }}" /><br />
{% endif %}
				</span>
		</div>
		<div class="author_statistics">
			{{ post.user_details|raw }}
		</div>
	</div>
	<div class="post_content">
		<div class="post_head">
			{{ post.posturl|raw }}
			{{ post.icon|raw }}
			<span class="post_date">{{ post.postdate|raw }} <span class="post_edit" id="edited_by_{{ post.pid }}">{{ post.editedmsg|raw }}</span></span>
		{{ post.subject_extra|raw }}
		</div>
		<div class="post_body scaleimages" id="pid_{{ post.pid }}">
			{{ post.message|raw }}
		</div>
		{{ post.attachments|raw }}
		{{ post.signature|raw }}
		<div class="post_meta" id="post_meta_{{ post.pid }}">
			{{ post.iplogged|raw }}
			<div class="float_right">
				{{ post.poststatus|raw }}
			</div>
		</div>
		{{ post.input_editreason|raw }}
	</div>
	<div class="post_controls">
		<div class="postbit_buttons author_buttons float_left">
{% if post.button_email %}
<a href="member.php?action=emailuser&amp;uid={{ post.uid }}" title="{{ lang.postbit_email }}" class="postbit_email"><span>{{ lang.postbit_button_email }}</span></a>
{% endif %}
{% if post.button_pm %}
<a href="private.php?action=send&amp;uid={{ post.uid }}" title="{{ lang.postbit_pm }}" class="postbit_pm"><span>{{ lang.postbit_button_pm }}</span></a>
{% endif %}
{% if post.button_www %}
<a href="{{ post.website }}" target="_blank" rel="noopener" title="{{ lang.postbit_website }}" class="postbit_website"><span>{{ lang.postbit_button_website }}</span></a>
{% endif %}
{% if post.button_find %}
<a href="search.php?action=finduser&amp;uid={{ post.uid }}" title="{{ lang.postbit_find }}" class="postbit_find"><span>{{ lang.postbit_button_find }}</span></a>
{% endif %}
{% if post.button_rep %}
<a href="javascript:void(0)" onclick="MyBB.reputation({{ post.uid }}, {{ post.pid }}); return false;" title="{{ lang.postbit_reputation_add }}" class="postbit_reputation_add"><span>{{ lang.postbit_button_reputation_add }}</span></a>
{% endif %}
		</div>
		<div class="postbit_buttons post_management_buttons float_right">
			{{ post.button_edit|raw }}{{ post.button_quickdelete|raw }}{{ post.button_quickrestore|raw }}{{ post.button_quote|raw }}{{ post.button_multiquote|raw }}{{ post.button_report|raw }}{{ post.button_warn|raw }}{{ post.button_purgespammer|raw }}{{ post.button_reply_pm|raw }}{{ post.button_replyall_pm|raw }}{{ post.button_forward_pm|raw }}{{ post.button_delete_pm|raw }}
		</div>
	</div>
</div>