<a href="attachment.php?aid={{ thumb.aid }}" target="_blank">
    <img
            src="attachment.php?thumbnail={{ thumb.aid }}"
            class="attachment"
            alt=""
            title="{{ lang.postbit_attachment_filename }} {{ thumb.filename }} {{ lang.postbit_attachment_size }} {{ thumb.filesize }} {{ thumb.date }}"
    />
</a>&nbsp;&nbsp;&nbsp;
