{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    {{ forums|raw }}

    {% if (mybb.settings.showwol and mybb.usergroup.canviewonline) or mybb.settings.showindexstats or (mybb.settings.showbirthdays and birthdays|length > 0) %}
    <section class="board-statistics">
        {% if (mybb.settings.showwol and mybb.usergroup.canviewonline) %}
            <div class="board-statistics__section">
            	<h3 class="board-statistics__title">
            		<i class="board-statistics__icon fas fa-users fa-fw"></i>
            		<a href="online.php">{{ lang.whos_online }}</a>
            	</h3>
            	<p class="board-statistics__body board-statistics__body--active-note">{{ lang.online_note }}</p>
            	<p class="board-statistics__body board-statistics__body--members">
                    {% for user in users %}
                        {{ user.profilelink|raw }}{% if loop.last != true %}{{ lang.comma }} {% endif %}
                        {% if user.invisible == 1 and (mybb.usergroup.canviewwolinvis == 1 or user.uid == mybb.user.uid) %}*{% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endif %}
        {% if birthdays or hiddencount %}
            <div class="board-statistics__section">
            	<h3 class="board-statistics__title">
            		<i class="board-statistics__icon fas fa-birthday-cake fa-fw"></i>
                    {{ lang.todays_birthdays }}
                </h3>
                <p class="board-statistics__body">
                    {% spaceless %}
                        {% for user in birthdays %}
                            {{ user.profilelink|raw }}{% if user.age %} ({{ user.age }}) {% endif %}{% if loop.last != true %}{{ lang.comma }} {% endif %}
                        {% endfor %}
                    {% endspaceless %}{% if hiddencount %} - {{ hiddencount }} {{ lang.birthdayhidden }}{% endif %}
                </p>
            </div>
        {% endif %}
        {% if mybb.settings.showindexstats %}
            <div class="board-statistics__section">
            	<h3 class="board-statistics__title">
            		<i class="board-statistics__icon fas fa-chart-bar fa-fw"></i>
            		<a href="stats.php">{{ lang.boardstats }}</a>
                </h3>
                <p class="board-statistics__body">
                    {{ lang.stats_posts_threads }}<br />
                    {{ lang.stats_numusers }}<br />
                    {{ lang.stats_newestuser|raw }}<br />
                    {{ lang.stats_mostonline|raw }}
                </p>
            </div>
        {% endif %}
    </section>
    {% endif %}
    <div class="page-controls">
        <div class="page-buttons">
        	{% if mybb.user.uid != 0 %}
                <a href="member.php?action=logout&amp;logoutkey={{ mybb.user.logoutkey }}" class="button button--basic">
                	<i class="button__icon fas fa-sign-out-alt"></i>
                	<span class="button__text">{{ lang.index_logout }}</span>
                </a>
            {% endif %}
        	<a href="showteam.php" class="button button--basic">
        		<i class="button__icon fas fa-address-book"></i>
        		<span class="button__text">{{ lang.forumteam }}</span>
        	</a>
        	{% if mybb.settings.statsenabled %}
                <a href="stats.php" class="button button--basic">
                	<i class="button__icon fas fa-chart-bar"></i>
                	<span class="button__text">{{ lang.forumstats }}</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock body %}
