{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.index }}</title>
{% endblock head %}

{% block body %}
    {% include 'index/forums.twig' %}

    {% if show_board_statistics %}
        {% include 'index/boardstats.twig' %}
    {% endif %}

    <dl class="forum_legend smalltext">
        <dt><span class="forum_status forum_on" title="{{ lang.new_posts }}"></span></dt>
        <dd>{{ lang.new_posts }}</dd>

        <dt><span class="forum_status forum_off" title="{{ lang.no_new_posts }}"></span></dt>
        <dd>{{ lang.no_new_posts }}</dd>

        <dt><span class="forum_status forum_offlock" title="{{ lang.forum_locked }}"></span></dt>
        <dd>{{ lang.forum_locked }}</dd>

        <dt><span class="forum_status forum_offlink" title="{{ lang.forum_redirect }}"></span></dt>
        <dd>{{ lang.forum_redirect }}</dd>
    </dl>
    <br class="clear" />
{% endblock body %}
