{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ thread.subject }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block jscripts %}
    <script type="text/javascript">
    <!--
        var quickdelete_confirm = "{{ lang.quickdelete_confirm }}";
        var quickrestore_confirm = "{{ lang.quickrestore_confirm }}";
        var allowEditReason = "{{ mybb.settings.alloweditreason }}";
        lang.save_changes = "{{ lang.save_changes }}";
        lang.cancel_edit = "{{ lang.cancel_edit }}";
        lang.quick_edit_update_error = "{{ lang.quick_edit_update_error }}";
        lang.quick_reply_post_error = "{{ lang.quick_reply_post_error }}";
        lang.quick_delete_error = "{{ lang.quick_delete_error }}";
        lang.quick_delete_success = "{{ lang.quick_delete_success }}";
        lang.quick_delete_thread_success = "{{ lang.quick_delete_thread_success }}";
        lang.quick_restore_error = "{{ lang.quick_restore_error }}";
        lang.quick_restore_success = "{{ lang.quick_restore_success }}";
        lang.editreason = "{{ lang.postbit_editreason }}";
        lang.post_deleted_error = "{{ lang.post_deleted_error }}";
        lang.softdelete_thread = "{{ lang.soft_delete_thread }}";
        lang.restore_thread = "{{ lang.restore_thread }}";
    // -->
    </script>
    <script type="text/javascript" src="{{ asset_url('jscripts/report.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset_url('jscripts/jeditable/jeditable.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset_url('jscripts/thread.js') }}" defer></script>
{% endblock jscripts %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            {% if thread.prefix %}
                <span class="tag tag--float tag--thread-prefix tag--thread-prefix-{{ thread.prefix }}">{{ thread.displayprefix|raw }}</span>
            {% endif %}
            <h1 class="title title--page">{{ thread.subject }}</h1>
        </header>

        {# Thread moderator notes #}
        {% if modpermissions.ismod and thread.notes %}
        <section class="container">
            <h4 class="title title--container">{{ lang.thread_notes }}</h4>
            {% if thread.notes|length > 200 %}
                {{ thread.notes|slice(0, 200)|nl2br }}...
                <a href="javascript:void(0)" onclick="Thread.viewNotes({{ thread.tid }}); return false;" class="button button--basic">
                    {{ include('partials/icon.twig', {icon: 'file-alt', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.view_all_notes }}</span>
                </a>
            {% else %}
                {{ thread.notes|nl2br }}
            {% endif %}
        </section>
        {% endif %}

        {# Thread has a poll #}
        {% if thread.poll %}

            {# Show poll results - user has already voted, poll is closed, or user does not have permission to vote #}
            {% if poll.alreadyvoted or poll.showresults or poll.nopermission %}
                <div class="poll block">
                    <h1 class="title title--major poll__question"><span class="poll__tag">{{ lang.poll }}</span> {{ poll.question }}</h1>
                    {% if poll.alreadyvoted %}
                        <div class="poll__row poll__row--information">{{ lang.already_voted }}</div>
                    {% elseif poll.nopermission %}
                        <div class="poll__row poll__row--information">
                            {{ lang.no_voting_permission }}
                        </div>
                    {% else %}
                        <div class="poll__row poll__row--information">
                            {{ lang.poll_closed }}
                        </div>
                    {% endif %}
                    <div class="poll__options">
                        {% for option in poll.polloptions %}
                            <div class="poll__row">
                                <div class="poll__option">
                                    {{ option.option|raw }}
                                    {% if option.votestar == '*' %}
                                        {{ include('partials/icon.twig', {icon: 'check-square', class: 'poll__your-vote', title: lang.you_voted}, with_context = false) }}
                                    {% endif %}
                                </div>
                                <div class="poll__count">{{ option.votes }} ({{ option.percent }}%)</div>
                                <div class="poll__votes">
                                    <div class="poll__bar" style="width: {{ option.imagewidth }}%" title="{{ option.percent }}%"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="poll__vote">
                        <a href="polls.php?action=showresults&amp;pid={{ poll.pid }}" class="button button--secondary">
                            {{ include('partials/icon.twig', {icon: 'align-left', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.show_results }}</span>
                        </a>
                        {% if modpermissions.canmanagepolls %}
                            <a href="polls.php?action=editpoll&amp;pid={{ poll.pid }}" class="button button--secondary">
                                {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.edit_poll }}</span>
                            </a>
                        {% endif %}
                        {% if poll.alreadyvoted and mybb.usergroup.canundovotes %}
                            <a href="polls.php?action=do_undovote&amp;pid={{ poll.pid }}&amp;my_post_key={{ mybb.post_code }}" class="button button--secondary">
                                {{ include('partials/icon.twig', {icon: 'undo', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.undo_vote }}</span>
                            </a>
                        {% endif %}
                        <span class="poll__total">
                            {{ lang.total_votes }}
                            {{ poll.totalvotes }}
                            ({{ poll.totpercent }})
                        </span>
                    </div>
                </div>

            {# Otherwise, allow user to vote #}
            {% else %}
                <section class="poll block">
                    <form action="polls.php" method="post">
                        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
                        <input type="hidden" name="action" value="vote" />
                        <input type="hidden" name="pid" value="{{ poll.pid }}" />
                        <h1 class="title title--major poll__question"><span class="poll__tag">{{ lang.poll }}</span> {{ poll.question }}</h1>
                        {% if poll.timeout %}
                            <div class="poll__row poll__row--information">{{ trans('poll_closes', poll.dateformat, poll.expiretime) }}</div>
                        {% endif %}

                        {% if poll.public %}
                            <div class="poll__row poll__row--information">{{ lang.public_note|raw }}</div>
                        {% endif %}
                        <div class="poll__options">
                            {% for option in poll.polloptions %}
                                {% if poll.multiple %}
                                    <div class="poll__row poll__row--cast-vote">
                                        <label><input type="checkbox" class="checkbox poll__input" name="option[{{ option.number }}]" id="option_{{ option.number }}" value="1" /> {{ option.option|raw }}</label>
                                    </div>
                                {% else %}
                                    <div class="poll__row poll__row--cast-vote">
                                        <label><input type="radio" class="radio poll__input" name="option" id="option_{{ option.number }}" value="{{ option.number }}" /> {{ option.option|raw }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="poll__vote">
                            <button type="submit" class="button">
                                {{ include('partials/icon.twig', {icon: 'check-square', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.vote }}</span>
                            </button>
                            <a href="polls.php?action=showresults&amp;pid={{ poll.pid }}" class="button button--secondary">
                                {{ include('partials/icon.twig', {icon: 'align-left', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.show_results }}</span>
                            </a>
                            {% if modpermissions.canmanagepolls %}
                                <a href="polls.php?action=editpoll&amp;pid={{ poll.pid }}" class="button button--secondary">
                                    {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.edit_poll }}</span>
                                </a>
                            {% endif %}
                        </div>
                    </form>
                </section>
            {% endif %}
        {% endif %}
        <div class="page-controls page-controls--top">
            <div class="page-buttons">
                {% if modpermissions.canmanagethreads and thread.notes %}
                    <a href="moderation.php?action=threadnotes&amp;modtype=thread&amp;tid={{ thread.tid }}" class="button button--basic button--full-width">
                        {{ include('partials/icon.twig', {icon: 'file-alt', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.edit_thread_notes }}</span>
                    </a>
                {% endif %}
                {% if mybb.user.uid %}
                    {% if thread.issubscribed %}
                        <a href="usercp.php?action=removesubscription&amp;tid={{ thread.tid }}&amp;my_post_key={{ mybb.post_code }}" class="button button--secondary button--medium button--full-width subscribe--remove">
                            {{ include('partials/icon.twig', {icon: 'minus', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.unsubscribe_thread }}</span>
                        </a>
                    {% else %}
                        <a href="usercp.php?action=addsubscription&amp;tid={{ thread.tid }}&amp;my_post_key={{ mybb.post_code }}" class="button button--secondary button--medium button--full-width subscribe--add">
                            {{ include('partials/icon.twig', {icon: 'plus', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.subscribe_thread }}</span>
                        </a>
                    {% endif %}
                {% endif %}
                {% if forum.open and forum.type == 'f' and forumpermissions.canpostreplys != 0 %}
                    {% if thread.canfullreply %}
                        <a href="newreply.php?tid={{ thread.tid }}" class="button button--medium button--full-width">
                            {{ include('partials/icon.twig', {icon: 'comment', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.new_reply }}</span>
                        </a>
                    {% elseif thread.canmodreply %}
                        <a href="newreply.php?tid={{ thread.tid }}" class="button button--medium button--danger">
                            {{ include('partials/icon.twig', {icon: 'lock', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.thread_closed }}</span>
                        </a>
                    {% else %}
                        <a href="showthread.php?tid={{ thread.tid }}" class="button button--medium button--danger">
                            {{ include('partials/icon.twig', {icon: 'lock', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.thread_closed }}</span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="thread-pagination thread-pagination--top">
                {{ multipage|raw }}
            </div>
        </div>

        {% if mybb.settings.allowthreadratings and forum.allowtratings %}
            <div style="margin-top: 6px; padding-right: 10px;" class="float_right">
                <script type="text/javascript">
                <!--
                    lang.ratings_update_error = "{{ lang.ratings_update_error }}";
                // -->
                </script>
                <script type="text/javascript" src="{{ asset_url('jscripts/rating.js') }}"></script>
                <div class="inline_rating">
                    <strong class="float_left" style="padding-right: 10px;">{{ lang.thread_rating }}</strong>
                    <ul class="star_rating{{ thread.not_rated }}" id="rating_thread_{{ thread.tid }}">
                        <li style="width: {{ thread.width }}%" class="current_rating" id="current_rating_{{ thread.tid }}">{{ trans('rating_average', thread.numratings, thread.averagerating) }}</li>
                        <li><a class="one_star" title="{{ lang.one_star }}" href="./ratethread.php?tid={{ thread.tid }}&amp;rating=1&amp;my_post_key={{ mybb.post_code }}">1</a></li>
                        <li><a class="two_stars" title="{{ lang.two_stars }}" href="./ratethread.php?tid={{ thread.tid }}&amp;rating=2&amp;my_post_key={{ mybb.post_code }}">2</a></li>
                        <li><a class="three_stars" title="{{ lang.three_stars }}" href="./ratethread.php?tid={{ thread.tid }}&amp;rating=3&amp;my_post_key={{ mybb.post_code }}">3</a></li>
                        <li><a class="four_stars" title="{{ lang.four_stars }}" href="./ratethread.php?tid={{ thread.tid }}&amp;rating=4&amp;my_post_key={{ mybb.post_code }}">4</a></li>
                        <li><a class="five_stars" title="{{ lang.five_stars }}" href="./ratethread.php?tid={{ thread.tid }}&amp;rating=5&amp;my_post_key={{ mybb.post_code }}">5</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}

        <section class="post-list" id="posts">
            {{ posts|raw }}
        </section>

        <div class="page-controls page-controls--bottom">
            <div class="thread-pagination thread-pagination--bottom">
                {{ multipage|raw }}
            </div>
            <div class="page-buttons">
                {% if forum.open and forum.type == 'f' and forumpermissions.canpostreplys != 0 %}
                    {% if thread.canfullreply %}
                        <a href="newreply.php?tid={{ thread.tid }}" class="button button--medium button--full-width">
                            {{ include('partials/icon.twig', {icon: 'comment', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.new_reply }}</span>
                        </a>
                    {% elseif thread.canmodreply %}
                        <a href="newreply.php?tid={{ thread.tid }}" class="button button--medium button--danger">
                            {{ include('partials/icon.twig', {icon: 'lock', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.thread_closed }}</span>
                        </a>
                    {% else %}
                        <a href="showthread.php?tid={{ thread.tid }}" class="button button--medium button--danger">
                            {{ include('partials/icon.twig', {icon: 'lock', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.thread_closed }}</span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% if thread.showthreaded %}
            <section class="block">
                <h1 class="title title--major">{{ lang.messages_in_thread }}</h1>
                <div class="threaded-mode">
                    {% for post in threadedbits %}
                        {% if post.bitactive %}
                            <div class="threaded-mode__post threaded-mode__post--active" style="margin-left: {{ post.indentsize }}px;">
                                <span class="threaded-mode__date">{{ post.postdate|raw }}</span>
                                <span class="threaded-mode__author">{{ lang.by }} {{ post.profilelink|raw }}</span>
                            </div>
                        {% else %}
                            <div class="threaded-mode__post" style="margin-left: {{ post.indentsize }}px;">
                                <span class="threaded-mode__date"><a href="showthread.php?tid={{ thread.tid }}&amp;pid={{ post.pid }}&amp;mode=threaded">{{ post.postdate|raw }}</a></span>
                                <span class="threaded-mode__author">{{ lang.by }} {{ post.profilelink|raw }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {% if thread.showquickreply and thread.visible >= 0 %}
            <div id="quickreply_spinner" class="spinner spinner--quick-reply" style="display: none"><span class="spinner__icon">{{ include('partials/icon.twig', {icon: 'sync', class: 'spinner__icon fa-spin'}, with_context = false) }}</span></div>
            {% if thread.showmodnotice %}
                <div class="alert alert--danger">
                    {{ thread.moderation_text }}
                </div>
            {% endif %}
            <div class="editor_control_bar editor_control_bar--quick-reply" style="display: none;" id="quickreply_multiquote">
                <h3 class="editor_control_bar__title">
                    {{ include('partials/icon.twig', {icon: 'quote-left', class: 'editor_control_bar__icon'}, with_context = false) }}
                    {{ lang.quickreply_multiquote_selected }}
                </h3>
                <div class="editor_control_bar__buttons">
                    <a href="./newreply.php?tid={{ thread.tid }}&amp;load_all_quotes=1" onclick="return Thread.loadMultiQuoted();" class="button button--small">
                        {{ include('partials/icon.twig', {icon: 'quote-left', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.quickreply_multiquote_now }}</span>
                    </a>
                    <a href="javascript:void(0)" onclick="Thread.clearMultiQuoted(); return false;" class="button button--secondary button--small">
                        {{ include('partials/icon.twig', {icon: 'times', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.quickreply_multiquote_deselect }}</span>
                    </a>
                </div>
            </div>
            <div class="post post--reply post--quick-reply compose compose--quick-reply quick-reply" id="post-reply">
                <form method="post" action="newreply.php?tid={{ thread.tid }}&amp;processed=1" name="quick_reply_form" id="quick_reply_form">
                    <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
                    <input type="hidden" name="subject" value="RE: {{ thread.reply_subject }}" />
                    <input type="hidden" name="action" value="do_newreply" />
                    <input type="hidden" name="posthash" value="{{ thread.posthash }}" id="posthash" />
                    <input type="hidden" name="quoted_ids" value="" id="quoted_ids" />
                    <input type="hidden" name="lastpid" id="lastpid" value="{{ thread.last_pid }}" />
                    <input type="hidden" name="from_page" value="{{ thread.page }}" />
                    <input type="hidden" name="tid" value="{{ thread.tid }}" />
                    <input type="hidden" name="method" value="quickreply" />
                    <div class="post__meta">
                        <a href="{{ get_profile_link(mybb.user.uid) }}" class="avatar-profile-link" title="{{ lang.welcome_my_profile }}">
                            {{ render_avatar(url=mybb.user.avatar, alt=lang.welcome_my_avatar) }}
                        </a>
                        {# TO DO: username styling #}
                        <h3 class="post__author"><a href="{{ get_profile_link(mybb.user.uid) }}">{{ mybb.user.username }}</a></h3>
                        <span class="post__date">{{ lang.quick_reply }}</span>
                    </div>
                    <div class="post__body">
                        <textarea class="textarea" rows="8" cols="80" name="message" id="message" tabindex="1" placeholder="{{ lang.quick_reply_message }}"></textarea>
                    </div>
                    {% if (mybb.usergroup.canusesig and mybb.user.suspendsignature != 1) or forum.allowsmilies or modpermissions.canopenclosethreads or modpermissions.canstickunstickthreads %}
                        <input type="checkbox" class="compose__checkbox" id="show-quick-reply-options">
                        <div class="quick-reply__options">
                            {% if mybb.usergroup.canusesig and mybb.user.suspendsignature != 1 %}
                                <label class="quick-reply__option"><input type="checkbox" class="checkbox quick-reply__checkbox" name="postoptions[signature]" value="1"{% if thread.postoptions.signature %} checked="checked"{% endif %} /> {{ lang.signature }}</label>
                            {% endif %}
                            {% if forum.allowsmilies %}
                                <label class="quick-reply__option"><input type="checkbox" class="checkbox quick-reply__checkbox" name="postoptions[disablesmilies]" value="1" /> {{ lang.disable_smilies }} </label>
                            {% endif %}
                            {% if modpermissions.canopenclosethreads %}
                                <label class="quick-reply__option"><input type="checkbox" class="checkbox quick-reply__checkbox" name="modoptions[closethread]" value="1"{% if thread.closed %} checked="checked"{% endif %} /> {{ lang.close_thread }}</label>
                            {% endif %}
                            {% if modpermissions.canstickunstickthreads %}
                                <label class="quick-reply__option"><input type="checkbox" class="checkbox quick-reply__checkbox" name="modoptions[stickthread]" value="1"{% if thread.sticky %} checked="checked"{% endif %} /> {{ lang.stick_thread }}</label>
                            {% endif %}
                        </div>
                    {% endif %}
                    {{ captcha|raw }}
                    <div class="post__foot">
                        <button type="submit" class="button" tabindex="2" accesskey="s" id="quick_reply_submit">
                            {{ include('partials/icon.twig', {icon: 'comment', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.post_reply }}</span>
                        </button>
                        {% if (mybb.usergroup.canusesig and mybb.user.suspendsignature != 1) or forum.allowsmilies or modpermissions.canopenclosethreads or modpermissions.canstickunstickthreads %}
                            <label for="show-quick-reply-options" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'cog', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.options }}</span>
                            </label>
                        {% endif %}
                        <button type="submit" class="button button--basic" name="previewpost" value="preview" tabindex="3">
                            {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.preview_post }}</span>
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}

        <footer class="page-footer">
            <div class="row row--simple-columns thread-actions">
                {% if forumpermissions.cansearch %}
                <div class="thread-search inline-form">
                    <form action="search.php" method="post">
                        <input type="hidden" name="action" value="thread" />
                        <input type="hidden" name="tid" value="{{ thread.tid }}" />
                        <input type="text" name="keywords" placeholder="{{ lang.enter_keywords }}" class="textbox textbox--large" size="25" />
                        <button type="submit" class="button button--inline">
                            {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.search_thread }}</span>
                        </button>
                    </form>
                </div>
                {% endif %}
                <div class="thread-nav">
                    <a href="{{ thread.next_oldest_link|raw }}" class="button button--basic">
                        {{ include('partials/icon.twig', {icon: 'angle-double-left', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.next_oldest }}</span>
                    </a>
                    <a href="{{ thread.next_newest_link|raw }}" class="button button--basic">
                        <span class="button__text">{{ lang.next_newest }}</span>
                        {{ include('partials/icon.twig', {icon: 'angle-double-right', class: 'button__icon button__icon--after'}, with_context = false) }}
                    </a>
                </div>
            </div>

            {% if modpermissions.ismod and thread.showmodoptions %}
                {% include 'showthread/moderation.twig' %}
            {% endif %}

            {% if mybb.settings.showsimilarthreads and thread.similarthreads %}
                <br>
                <section class="block">
                    <h1 class="title title--major">{{ lang.similar_threads }}</h1>
                    <div class="thread-list thread-list--compact thread-list--no-footer">
                        <div class="sort-threads sort-threads--alt">
                            <div class="sort-threads__column sort-threads__column--primary">
                                {{ lang.thread }}<span class="sort-threads__author"> &mdash; {{ lang.author }}</span>
                            </div>
                            <div class="sort-threads__column sort-threads__column--replies">
                                {{ lang.replies }}
                            </div>
                            <div class="sort-threads__column sort-threads__column--latest">
                                {{ lang.lastpost }}
                            </div>
                        </div>

                        {% for similar_thread in similarthreads %}
                            <div class="row row--thread thread {{ thread.class }}">
                                <div class="thread__column thread__column--primary">
                                    <h3 class="thread__title {$new_class}">
                                        {% if similar_thread.threadprefix %}
                                            <span class="tag tag--thread-prefix tag--thread-prefix-{{ similar_thread.prefix }}">{{ similar_thread.threadprefix|raw }}</span>
                                        {% endif %}
                                        <a href="{{ similar_thread.threadlink|raw }}">{{ similar_thread.subject }}</a>
                                        <span class="thread__icons">
                                            {% if similar_thread.hasicon %}
                                                <img src="{{ similar_thread.icon_path }}" alt="{{ similar_thread.icon_name }}" title="{{ similar_thread.icon_name }}" />
                                            {% endif %}
                                        </span>
                                    </h3>
                                    <p class="thread__author">{{ lang.by }} {{ similar_thread.profilelink|raw }}</p>
                                </div>
                                <div class="thread__column thread__column--replies">
                                    <p class="thread__replies" title="{{ lang.replies }}: {{ thread.replies }} &middot; {{ lang.views }}: {{ thread.views }}">
                                        <a href="{{ mybb.settings.bburl }}/misc.php?action=whoposted&amp;tid={{ similar_thread.tid }}" onclick="MyBB.whoPosted({{ similar_thread.tid }}); return false;" class="thread__reply-count">{{ similar_thread.replies }}</a>
                                        <span class="thread__reply-legend">{% if thread.replies == 1 %}{{ lang.reply }}{% else %}{{ lang.replies }}{% endif %}</span>
                                    </p>
                                </div>
                                <div class="thread__column thread__column--latest">
                                    <p class="thread__latest-post">
                                        <span class="thread__latest-post__text">{{ lang.lastpost_by }}</span>
                                        <span class="thread__latest-post__author">
                                            {{ similar_thread.lastposterlink|raw }}
                                        </span>
                                        <a href="{{ similar_thread.lastpostlink|raw }}" class="thread__latest-post__date">{{ similar_thread.lastpostdate|raw }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            <div class="page-controls">
                <div class="page-buttons">
                    {% if thread.showthreaded %}
                        <a href="showthread.php?mode=linear&amp;tid={{ thread.tid }}&amp;pid={{ thread.pid }}#pid{{ thread.pid }}" class="button button--basic">
                            {{ include('partials/icon.twig', {icon: 'th-list', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.linear }}</span>
                        </a>
                    {% else %}
                        <a href="showthread.php?mode=threaded&amp;tid={{ thread.tid }}&amp;pid={{ thread.pid }}#pid{{ thread.pid }}" class="button button--basic">
                            {{ include('partials/icon.twig', {icon: 'list', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.threaded }}</span>
                        </a>
                    {% endif %}
                    <a href="printthread.php?tid={{ thread.tid }}" class="button button--basic">
                        {{ include('partials/icon.twig', {icon: 'print', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.view_printable }}</span>
                    </a>
                    {% if mybb.usergroup.cansendemail %}
                        <a href="sendthread.php?tid={{ thread.tid }}" class="button button--basic">
                            {{ include('partials/icon.twig', {icon: 'share', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.send_thread }}</span>
                        </a>
                    {% endif %}
                    {% if thread.addpoll %}
                        <a href="polls.php?action=newpoll&amp;tid={{ thread.tid }}" class="button button--basic">
                            {{ include('partials/icon.twig', {icon: 'plus-circle', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.add_poll_to_thread }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>

            {% if mybb.settings.browsingthisthread %}
                <div class="container container--small container--users-browsing">
                    {{ lang.users_browsing_thread }}
                    {% for user in onlinemembers %}
                        <a href="{{ user.profilelink|raw }}" title="{{ lang.users_browsing_thread_reading }} ({{ user.reading }})">{{ user.username|raw }}</a>{{ user.invisiblemark }}{% if not loop.last %}{{ lang.comma }}{% endif %}
                    {% endfor %}
                    {% if thread.inviscount and thread.onlinemembers %}
                        {{ lang.comma }}
                    {% endif %}
                    {% if thread.inviscount and mybb.usergroup.canviewwolinvis %}
                        {{ trans('users_browsing_thread_invis', thread.inviscount) }}
                    {% endif %}
                    {% if (thread.inviscount and thread.guestcount) or (thread.onlinemembers and thread.guestcount) %}
                        {{ lang.comma }}
                    {% endif %}
                    {% if thread.guestcount %}
                        {{ trans('users_browsing_thread_guests', thread.guestcount) }}
                    {% endif %}
                </div>
            {% endif %}
        </footer>
	<script type="text/javascript">
		var thread_deleted = "{{ thread_deleted }}";
		if(thread_deleted == "1")
		{
			$("#quick_reply_form, .new_reply_button, .thread_tools, .inline_rating").hide();
			$("#moderator_options_selector option.option_mirage").attr("disabled","disabled");
		}
	</script>
    </div>
{% endblock body %}
