{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.account_activation }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content page-content--centered">
        <header class="page-header">
           <h1 class="title title--page">{{ lang.activate_account }}</h1>
       </header>
        <form action="member.php" method="post">
            <div class="block block--form form">
                <section class="section section--form">
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="username">{{ lang.username }}</label></h3>
                        <input type="text" class="textbox" name="username" id="username" value="{{ activate.username }}" />
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="code">{{ lang.activation_code }}</label></h3>
                        <input type="text" class="textbox" name="code" id="code" value="{{ activate.code }}" />
                    </div>
                </section>
                <div class="form__submit">
                    <button type="submit" name="regsubmit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'check', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.activate_account }}</span>
                    </button>
                </div>
            </div>
            <input type="hidden" name="action" value="activate" />
        </form>
    </div>
{% endblock body %}
