{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ trans('profile', memprofile.username) }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block jscripts %}
    <script type="text/javascript" src="{{ asset_url('jscripts/report.js') }}"></script>
{% endblock jscripts %}

{% block body %}
    <div class="profile">
        <header class="page-header profile__header">
            {% if memprofile.useravatar %}
                <img src="{{ memprofile.avatar_image }}" alt="" {{ memprofile.avatar_width_height }} class="avatar" />
            {% endif %}
            <h1 class="profile__username">{{ memprofile.formattedname|raw }}</h1>
            <p class="profile__usertitle">{{ memprofile.user_title }}</p>
            {% if memprofile.groupimage %}
                <img src="{{ memprofile.groupimage }}" alt="{{ memprofile.user_title }}" title="{{ memprofile.user_title }}" /><br />
            {% endif %}
            {% if memprofile.starimage and memprofile.stars %}
                {% apply spaceless %}
                    {% for star in range(1, memprofile.stars) %}
                        <img src="{{ memprofile.starimage }}" border="0" alt="*" />
                    {% endfor %}
                {% endapply %}
            {% endif %}
        </header>
        <div class="page-controls">
            <div class="page-buttons">
                {% if memprofile.showoptions %}
                    {% if memprofile.showbuddy %}
                        {% if memprofile.onbuddylist %}
                            <a href="usercp.php?action=do_editlists&amp;delete={{ memprofile.uid }}&amp;my_post_key={{ mybb.post_code }}" class="button button--secondary button--half-width remove_buddy_button">
                                {{ include('partials/icon.twig', {icon: 'user-times', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.remove_from_buddy_list }}</span>
                            </a>
                        {% else %}
                            <a href="usercp.php?action=do_editlists&amp;add_username={{ memprofile.username }}&amp;my_post_key={{ mybb.post_code }}" class="button button--secondary button--half-width add_buddy_button">
                                {{ include('partials/icon.twig', {icon: 'heart', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.add_to_buddy_list }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if memprofile.showignore %}
                        {% if memprofile.onignorelist %}
                            <a href="usercp.php?action=do_editlists&amp;manage=ignored&amp;delete={{ memprofile.uid }}&amp;my_post_key={{ mybb.post_code }}" class="button button--secondary button--half-width remove_ignore_button">
                                {{ include('partials/icon.twig', {icon: 'shield-alt', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.remove_from_ignore_list }}</span>
                            </a>
                        {% else %}
                            <a href="usercp.php?action=do_editlists&amp;manage=ignored&amp;add_username={{ memprofile.username }}&amp;my_post_key={{ mybb.post_code }}" class="button button--secondary button--half-width add_ignore_button">
                                {{ include('partials/icon.twig', {icon: 'shield-alt', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.add_to_ignore_list }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if memprofile.showreport %}
                        <a href="javascript:Report.reportUser({{ memprofile.uid }});" class="button button--secondary button--half-width report_user_button">
                            {{ include('partials/icon.twig', {icon: 'flag', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.report_user }}</span>
                        </a>
                    {% endif %}
                {% endif %}
                {% if memprofile.showpm %}
                    <a href="private.php?action=send&amp;uid={{ memprofile.uid }}" class="button button--half-width">
                        {{ include('partials/icon.twig', {icon: 'envelope', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.send_message }}</span>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="page-content page-content--sidebar profile__content">
            {% if memprofile.away %}
                <section class="container container--away-note">
                    <h3 class="title title--container">{{ trans('away_note', memprofile.username) }}</h3>
                    <p>{{ lang.away_reason }} {{ memprofile.awayreason }}</p>
                    <p>{{ lang.away_since }} {{ memprofile.awaydate }} &mdash; {{ lang.away_returns }} {{ memprofile.returndate }}</p>
                </section>
            {% endif %}
            {% if memprofile.banned %}
                <section class="container container--ban-note">
                    <h3 class="title title--container">{{ lang.ban_note }}</h3>
                    <p>{{ lang.banned_warning2 }}: {{ memprofile.banned_reason }}</p>
                    <p>
                        <strong>{{ lang.ban_by }}:</strong> {{ memprofile.banned_adminuser|raw }} &mdash; <strong>{{ lang.ban_length }}:</strong> {{ memprofile.banlength }}
                        {% if memprofile.perm_ban %}
                            {{ lang.na }}
                        {% else %}
                            <span class="{{ memprofile.banned_class }}">({{ memprofile.timeremaining }} {{ lang.ban_remaining }})</span>
                        {% endif %}
                    </p>
                </section>
            {% endif %}
            {% if memprofile.showsignature %}
                <section class="block">
                    <h2 class="title title--major">{{ trans('users_signature', memprofile.username) }}</h2>
                    <div class="row row--profile-field profile-field">
                        <div class="profile-field__value scaleimages">
                            {{ memprofile.signature|raw }}
                        </div>
                    </div>
                </section>
            {% endif %}
            <section class="block">
                <h3 class="title title--major">{{ trans('users_forum_info', memprofile.username) }}</h3>
                <div class="row row--simple-columns">
                    <div class="row__primary profile-field">
                        <h4 class="profile-field__name">{{ lang.total_posts }}</h4>
                        <p class="profile-field__value">
                            {{ memprofile.postnum|my_number_format }} ({{ trans('ppd_percent_total', memprofile.ppd|my_number_format, memprofile.post_percent) }})
                        </p>
                    </div>
                    {% if mybb.usergroup.cansearch %}
                        <div class="row__secondary">
                            <a href="search.php?action=finduser&amp;uid={{ memprofile.uid }}" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.find_posts }}</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="row row--simple-columns">
                    <div class="row__primary profile-field">
                        <h4 class="profile-field__name">{{ lang.total_threads }}</h4>
                        <p class="profile-field__value">
                            {{ memprofile.threadnum|my_number_format }} ({{ trans('tpd_percent_total', memprofile.tpd|my_number_format, memprofile.thread_percent) }})
                        </p>
                    </div>
                    {% if mybb.usergroup.cansearch %}
                        <div class="row__secondary">
                            <a href="search.php?action=finduserthreads&amp;uid={{ memprofile.uid }}" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.find_threads }}</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
                {% if memprofile.showreputation %}
                    <div class="row row--simple-columns">
                        <div class="row__primary profile-field">
                            <h4 class="profile-field__name">{{ lang.reputation }}</h4>
                            <p class="profile-field__value">
                                <a href="reputation.php?uid={{ memprofile.uid }}"{{ memprofile.reputation|raw }}</a>
                            </p>
                        </div>
                        <div class="row__secondary">
                            <a href="reputation.php?uid={{ memprofile.uid }}" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'info-circle', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.reputation_details }}</span>
                            </a>
                            {% if memprofile.showvote %}
                                <a href="javascript:void(0)" onclick="MyBB.reputation({{ memprofile.uid }}); return false;" class="button button--basic">
                                    {{ include('partials/icon.twig', {icon: 'thumbs-up', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.reputation_vote }}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if mybb.settings.usereferrals %}
                    <div class="row row--profile-field profile-field">
                        <h4 class="profile-field__name">{{ lang.members_referred }}</h4>
                        <p class="profile-field__value">{{ memprofile.referrals_link|raw }}</p>
                    </div>
                {% endif %}
                {% if memprofile.showwarning %}
                    <div class="row row--simple-columns">
                        <div class="row__primary profile-field">
                            <h4 class="profile-field__name">{{ lang.warning_level }}</h4>
                            <p class="profile-field__value">
                                <a href="{{ memprofile.warning_link }}">{{ memprofile.warning_level|raw }}</a>
                            </p>
                        </div>
                        {% if memprofile.warn_user %}
                            <div class="row__secondary">
                                <a href="warnings.php?action=warn&amp;uid={{ memprofile.uid }}" class="button button--basic">
                                    {{ include('partials/icon.twig', {icon: 'exclamation-triangle', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.warn }}</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="row row--profile-field profile-field">
                    <h4 class="profile-field__name">{{ lang.timeonline }}</h4>
                    <p class="profile-field__value">{{ memprofile.time_online }}</p>
                </div>
                <div class="row row--profile-field profile-field">
                    <h4 class="profile-field__name">{{ lang.postbit_status }}</h4>
                    <p class="profile-field__value">
                        {% if memprofile.isonline %}
                            <a href="online.php"><span class="online" style="font-weight: bold;">{{ lang.postbit_status_online }}</span></a> ({{ memprofile.online_location|raw }} @ {{ memprofile.online_location_time }})
                        {% else %}
                            <span class="offline" style="font-weight: bold;">{{ lang.postbit_status_offline }}</span>
                        {% endif %}
                    </p>
                </div>
            </section>
            {% if memprofile.profilefields %}
                <section class="block">
                    <h3 class="title title--major">{{ trans('users_additional_info', memprofile.username) }}</h3>
                    {% for customfield in customfields %}
                        <div class="row row--profile-field profile-field">
                            <h4 class="profile-field__name">{{ customfield.name }}:</h4>
                            <p class="profile-field__value scaleimages">
                                {% if customfield.ismulti %}
                                    <ul style="margin: 0; padding-left: 15px;">
                                        {% for value in customfield.value %}
                                            <li style="margin-left: 0;">{{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ customfield.value|raw }}
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </section>
            {% endif %}

            {% if memprofile.showmodoptions %}
                <section class="block">
                    <h3 class="title title--major">{{ lang.mod_options }}</h3>
                    {% if mybb.usergroup.canuseipsearch %}
                        <div class="row row--profile-field profile-field">
                            <h4 class="profile-field__name">{{ lang.registration_ip }}</h4>
                            <p class="profile-field__value">{{ memprofile.regip }}</p>
                        </div>
                        <div class="row row--profile-field profile-field">
                            <h4 class="profile-field__name">{{ lang.last_known_ip }}</h4>
                            <p class="profile-field__value">{{ memprofile.lastip }}</p>
                        </div>
                    {% endif %}
                    <div class="row">
                        {% if memprofile.usernotes %}
                            {% if memprofile.usernotes|length > 100 %}
                                {{ memprofile.usernotes|slice(0, 100)|nl2br }}... [<a href="javascript:void(0)" onclick="MyBB.viewNotes({{ memprofile.uid }}); return false;">{{ lang.view_all_notes }}</a>]
                            {% else %}
                                {{ memprofile.usernotes|nl2br }}
                            {% endif %}
                        {% else %}
                            {{ lang.no_usernotes }}
                        {% endif %}
                    </div>
                    {% if memprofile.showmanageuser %}
                        <div class="row">
                            {% if memprofile.showeditprofile %}
                                <a href="{{ mybb.settings.bburl }}/modcp.php?action=editprofile&amp;uid={{ memprofile.uid }}#usernotes" class="button button--inline button--basic">
                                    {{ include('partials/icon.twig', {icon: 'edit', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.edit_usernotes }}</span>
                                </a>
                                <a href="{{ mybb.settings.bburl }}/modcp.php?action=editprofile&amp;uid={{ memprofile.uid }}" class="button button--inline button--basic">
                                    {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.edit_in_mcp }}</span>
                                </a>
                            {% endif %}
                            {% if memprofile.showbanuser %}
                                <a href="{{ mybb.settings.bburl }}/modcp.php?action=banuser&amp;uid={{ memprofile.uid }}" class="button button--inline button--basic">
                                    {{ include('partials/icon.twig', {icon: 'gavel', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.ban_in_mcp }}</span>
                                </a>
                            {% endif %}
                            {% if memprofile.showpurgespammer %}
                                <a href="{{ mybb.settings.bburl }}/moderation.php?action=purgespammer&amp;uid={{ memprofile.uid }}" class="button button--inline button--basic">
                                    {{ include('partials/icon.twig', {icon: 'user-slash', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.purgespammer }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </section>
            {% endif %}
            {% if memprofile.showadminoptions %}
                <section class="block">
                    <h3 class="title title--major">{{ lang.admin_options }}</h3>
                    <div class="row">
                        {% if memperms.isbannedgroup %}
                            <a href="{{ mybb.settings.bburl }}/{{ memprofile.admin_dir }}/index.php?module=user-users&amp;action=edit&amp;uid={{ memprofile.uid }}" class="button button--inline button--basic">
                                {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.admin_edit_in_acp }}</span>
                            </a>
                            <a href="{{ mybb.settings.bburl }}/{{ memprofile.admin_dir }}/index.php?module=user-banning&amp;action=edit&amp;uid={{ memprofile.uid }}" class="button button--inline button--basic">
                                {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.admin_edit_ban_in_acp }}</span>
                            </a>
                            <a href="{{ mybb.settings.bburl }}/{{ memprofile.admin_dir }}/index.php?module=user-banning&amp;action=lift&amp;uid={{ memprofile.uid }}" class="button button--inline button--basic">
                                <span class="button__text">{{ lang.admin_lift_ban_in_acp }}</span>
                            </a>
                        {% else %}
                            <a href="{{ mybb.settings.bburl }}/{{ memprofile.admin_dir }}/index.php?module=user-users&amp;action=edit&amp;uid={{ memprofile.uid }}" class="button button--inline button--basic">
                                {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.admin_edit_in_acp }}</span>
                            </a>
                            <a href="{{ mybb.settings.bburl }}/{{ memprofile.admin_dir }}/index.php?module=user-banning&amp;uid={{ memprofile.uid }}" class="button button--inline button--basic">
                                {{ include('partials/icon.twig', {icon: 'gavel', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.admin_ban_in_acp }}</span>
                            </a>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        </div>
        <aside class="page-sidebar">
            <section class="block block--sidebar">
                <h1 class="title title--sidebar">{{ trans('about_user', memprofile.username) }}</h1>
                <ul class="list list--divided list--stats">
                    <li class="list__item">
                        <span class="list__field">{{ lang.joined }}</span>
                        <span class="list__value">{{ memprofile.memregdate|raw }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__field">{{ lang.lastvisit }}</span>
                        <span class="list__value">{{ memprofile.last_active|raw }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__field">{{ lang.date_of_birth }}</span>
                        <span class="list__value">{{ memprofile.membday }} {{ memprofile.membdayage }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__field">{{ lang.local_time }}</span>
                        <span class="list__value">{{ trans('local_time_format', memprofile.memlocaldate, memprofile.memlocaltime) }}</span>
                    </li>
                </ul>
            </section>

            {% if memprofile.hascontacts %}
                <section class="block block--sidebar">
                    <h2 class="title title--sidebar">{{ trans('users_contact_details', memprofile.username) }}</h2>
                    <ul class="list list--divided list--stats">
                        {% if memprofile.showwebsite %}
                            <li class="list__item">
                                <span class="list__field">{{ lang.homepage }}</span>
                                <span class="list__value"><a href="{{ memprofile.website }}" target="_blank" rel="noopener">{{ memprofile.website }}</a></span>
                            </li>
                        {% endif %}
                        {% if memprofile.showemail %}
                            <li class="list__item">
                                <span class="list__field">{{ lang.email }}</span>
                                <span class="list__value"><a href="member.php?action=emailuser&amp;uid={{ memprofile.uid }}">{{ trans('send_user_email', memprofile.username) }}</a></span>
                            </li>
                        {% endif %}
                        {% if memprofile.showpm %}
                            <li class="list__item">
                                <span class="list__field">{{ lang.pm }}</span>
                                <span class="list__value"><a href="private.php?action=send&amp;uid={{ memprofile.uid }}">{{ trans('send_pm', memprofile.username) }}</a></span>
                            </li>
                        {% endif %}
                        {% for customfield in contactfields %}
                            <li class="list__item">
                                <span class="list__field">{{ customfield.name }}</span>
                                <span class="list__value">
                                    {% if customfield.ismulti %}
                                        <ul style="margin: 0; padding-left: 15px;">
                                            {% for value in customfield.value %}
                                                <li style="margin-left: 0;">{{ value }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {{ customfield.value|raw }}
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        </aside>
    </div>
{% endblock body %}
