<section class="block">
    <h1 class="title title--major title--separation">
        <a href="{{ mybb.settings.bburl }}/{{ announcement.threadlink }}">{{ announcement.subject }}</a>
    </h1>
    <div class="post">
        <div class="post__meta">
            {% if announcement.useravatar %}
                <a href="{{ get_profile_link(announcement.uid )}}" class="avatar-profile-link">
                    {# TO DO: fix default avatar #}
                    {{ render_avatar(url=announcement.avatar_image, alt=announcement.username) }}
                </a>
            {% endif %}
            <h3 class="post__author">
                {{ announcement.profilelink|raw }}
            </h3>
            {% if announcement.hasicon %}
                <img src="{{ announcement.icon_path }}" alt="{{ announcement.icon_name }}" title="{{ announcement.icon_name }}" />
            {% endif %}
            <a href="{{ mybb.settings.bburl }}/{{ announcement.threadlink }}" class="post__date">{{ announcement.date|raw }}</a>
        </div>

        <div class="post__body">
            {{ announcement.message|raw }}

            {% if announcement.hasattachments %}
                {% set attached = announcement.attached %}
                {% include 'postbit/postbit_attachments.twig' %}
            {% endif %}
        </div>

        <div class="post__foot">
            <a href="{{ mybb.settings.bburl }}/{{ announcement.forumlink }}" class="post-control post-control--forum">
                {{ include('partials/icon.twig', {icon: 'folder', class: 'post-control__icon fa-fw'}, with_context = false) }}
                <span class="post-control__text">{{ lang.posted_in }} {{ announcement.forumname }}</span>
            </a>
            <a href="{{ mybb.settings.bburl }}/{{ announcement.threadlink }}" class="post-control post-control--replies">
                {{ include('partials/icon.twig', {icon: 'comments', class: 'post-control__icon fa-fw'}, with_context = false) }}
                <span class="post-control__text">
                    {% if announcement.replies %}
                        {{ announcement.replies }}
                        {% if announcement.replies == 1 %}
                            {{ lang.reply }}
                        {% else %}
                            {{ lang.replies }}
                        {% endif %}
                    {% else %}
                        {{ lang.no_replies }}
                    {% endif %}
                </span>
            </a>
        </div>
    </div>
</section>
