{# NoCAPTCHA #}
{% if type == 4 %}
    <tr id="captcha_trow">
        <td class="trow1" valign="top"><strong>{{ lang.human_verification }}</strong></td>
        <td class="trow1">
            <table style="width: 300px; padding: 4px;">
                <tr>
                    <td>
                        <span class="smalltext">{{ lang.verification_note_nocaptcha }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <script type="text/javascript" src="{{ server }}"></script>
                        <div class="g-recaptcha" data-sitekey="{{ mybb.settings.captchapublickey }}"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{# ReCAPTCHA v2 #}
{% elseif type == 5 %}
    <br />
    <script src="{{ server }}?onload=captchaOnloadCallback&render=explicit" async defer></script>
    <script type="text/javascript">

        var captchaTarget = '';

        var captchaOnSubmit = function(token) {

            if (!captchaTarget.is('#quick_reply_submit')) {
                document.createElement('form').submit.apply(captchaTarget.closest('form')[0]);
            } else {
                captchaTarget.bind('click', function(e) {
                    return Thread.quickReply(e);
                }).trigger('click').unbind('click');
                grecaptcha.reset();
            }

        };

        var captchaOnloadCallback = function() {

            captchaTarget = $('input[name="regsubmit"], #quick_reply_submit').filter(function(){
                return $(this).closest('#quick_login').length == 0
            });

            captchaTarget.attr('data-size', 'invisible').unbind('click');

            grecaptcha.render(captchaTarget.get(0), {
                'sitekey': '{{ mybb.settings.captchapublickey }}',
                'callback': captchaOnSubmit
            }, true);

        }

    </script>
{# MyBB Captcha #}
{% else %}
    <tr id="captcha_trow">
        <td class="trow1" valign="top" width="350">
            <strong>{{ lang.image_verification }}</strong><br />
            <span class="smalltext">{{ lang.verification_note }}</span>
        </td>
        <td class="trow1">
            <script type="text/javascript">
            <!--
                lang.captcha_fetch_failure = "{{ lang.captcha_fetch_failure }}";
            // -->
            </script>
            <script type="text/javascript" src="{{ mybb.asset_url }}/jscripts/captcha.js?ver=1808"></script>
            <table style="width: 300px; padding: 4px;">
                <tr>
                    <td style="vertical-align: middle;">
                        <img src="{{ mybb.settings.bburl }}/captcha.php?imagehash={{ imagehash }}" alt="{{ lang.image_verification }}" title="{{ lang.image_verification }}" id="captcha_img" /><br />
                        <span style="color: red;" class="smalltext">{{ lang.verification_subnote }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="textbox" name="imagestring" value="" id="imagestring" size="16" /><input type="hidden" name="imagehash" value="{{ imagehash }}" id="imagehash" />
                        <script type="text/javascript">
                        <!--
                            if(use_xmlhttprequest == "1")
                            {
                                document.write('<input type="button" class="button" name="refresh" value="{{ lang.refresh }}" onclick="return captcha.refresh();" \/>');
                            }
                        // -->
                        </script>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endif %}