{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.edit_post }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block jscripts %}
    {{ post_javascript|raw }}
{% endblock jscripts %}

{# let the editpost variable be used in shared twig templates #}
{% set composepost = editpost %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.edit_post }}</h1>
        </header>
        {% if editpost.preview %}
        <section class="block block--container">
            <h1 class="title title--major title--separation">{{ lang.post_preview }}</h1>
            <div id="posts_container">
                <div id="posts">
                    {{ postbit|raw }}
                </div>
            </div>
        </section>
        {% endif %}
        {{ post_errors|raw }}
        {% if editpost.showmodnotice %}
            <div class="alert alert--red-alert">
                {{ include('partials/icon.twig', {icon: 'exclamation-triangle', class: 'alert__icon'}, with_context = false) }}
                <div class="alert__message">{{ editpost.moderation_text }}</div>
            </div>
        {% endif %}
        {% if editpost.showdelete %}
            <form action="editpost.php" method="post" name="editpost">
                <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
                <div class="form form--alt form--delete">
                    <div class="option-field option-field--single">
                        <input type="checkbox" class="checkbox" name="delete" id="deletepost" value="1" tabindex="9" />
                        <h3 class="option-field__name"><label for="deletepost">{{ lang.delete_q }}</label></h3>
                        <p class="option-field__description">
                            <label for="deletepost">{{ lang.delete_1 }}<br />{{ lang.delete_2|raw }}</label>
                        </p>
                    </div>
                    <div class="form__submit">
                        <button type="submit" class="button button--medium" name="submit">
                            {{ include('partials/icon.twig', {icon: 'trash', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.delete_post }}</span>
                        </button>
                    </div>
                </div>
                <input type="hidden" name="action" value="deletepost" />
                <input type="hidden" name="pid" value="{{ editpost.pid }}" />
            </form>
        {% endif %}
        <form id="editpost" action="editpost.php?pid={{ editpost.pid }}&amp;processed=1" method="post" enctype="multipart/form-data" name="input">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <div class="form form--compose compose">
                <input type="checkbox" class="compose__checkbox" id="show-post-options">
                {% if editpost.showpollbox %}
                    <input type="checkbox" class="compose__checkbox" id="show-post-poll">
                {% endif %}
                <input type="checkbox" class="compose__checkbox" id="show-attachments"{% if editpost.showattachments and attachments|length > 0 %} checked="checked"{% endif %}>
                {{ loginbox|raw }}
                <section class="section section--form compose__primary-section{% if mybb.settings.alloweditreason %} compose__primary-section--padding{% endif %}">
                    <div class="row row--form field">
                        <h3 class="field__name visually-hidden"><label for="subject">{{ lang.subject }}</label></h3>
                        <div class="compose__subject">
                            {% if editpost.showprefixes %}
                                <div class="select-field select-field--subject">
                                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                    <select name="threadprefix">
                                        <option value="0">{{ lang.no_prefix }}</option>
                                        {% for prefix in prefixes %}
                                            <option value="{{ prefix.pid }}"{% if prefix.selected %} selected="selected"{% endif %}>{{ prefix.prefix }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                            <input type="text" class="textbox textbox--subject" name="subject" size="40" maxlength="85" id="subject" value="{{ editpost.subject }}" tabindex="1" />
                        </div>
                    </div>

                    {% if editpost.showposticons %}
                        {% include 'misc/posticons.twig' %}
                    {% endif %}

                    <div class="row row--form field">
                        <h3 class="field__name visually-hidden"><label for="message">{{ lang.your_message }}</label></h3>
                        <div class="compose__container">
                            <div class="compose__message">
                                <textarea name="message" id="message" rows="20" cols="70" tabindex="3">{{ editpost.message }}</textarea>
                                {{ codebuttons|raw }}
                            </div>
                            {{ smilieinserter|raw }}
                        </div>
                        <div class="compose__option-buttons">
                            {% if editpost.showpostoptions %}
                                <label for="show-post-options" class="button button--basic compose__option-button--options">
                                    {{ include('partials/icon.twig', {icon: 'cog', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.options }}</span>
                                </label>
                            {% endif %}
                            {% if editpost.showpollbox %}
                                <label for="show-post-poll" class="button button--basic compose__option-button--poll">
                                    {{ include('partials/icon.twig', {icon: 'plus-circle', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.add_poll }}</span>
                                </label>
                            {% endif %}
                            {% if editpost.showattachments %}
                                <label for="show-attachments" class="button button--basic compose__option-button--attachments">
                                    {{ include('partials/icon.twig', {icon: 'paperclip', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.upload_attachments }}</span>
                                </label>
                            {% endif %}
                            <button type="submit" name="previewpost" value="preview" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'edit', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.preview_post }}</span>
                            </button>
                        </div>
                    </div>

                    {% if mybb.settings.alloweditreason %}
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="editreason">{{ lang.editreason }}</label></h3>
                            <input type="text" class="textbox" name="editreason" id="editreason" size="40" maxlength="150" value="{{ editpost.reason }}" tabindex="5" tabindex="5" />
                        </div>
                    {% endif %}
                </section>

                {% if editpost.showpostoptions %}
                    <section class="section section--form compose__hidden-section compose__hidden-section--options">
                        <h2 class="title title--section">{{ lang.post_options }}</h2>
                        <div class="section__container">
                            <div class="row row--form field">
                                {% if editpost.showsignature %}
                                    <p class="option-field option-field--compact">
                                        <label>
                                            <input type="checkbox" class="checkbox" name="postoptions[disablesmilies]" value="1" tabindex="8"{% if editpost.postoptions.signature %} checked="checked"{% endif %} />
                                            {{ lang.options_sig|raw }}
                                        </label>
                                    </p>
                                {% endif %}
                                {% if editpost.showdisablesmilies %}
                                    <p class="option-field option-field--compact">
                                        <label>
                                            <input type="checkbox" class="checkbox" name="postoptions[signature]" value="1" tabindex="6"{% if editpost.postoptions.disablesmilies %} checked="checked"{% endif %} />
                                            {{ lang.options_disablesmilies|raw }}
                                        </label>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endif %}

                {% include 'misc/subscriptionmethod.twig' %}

                {% if editpost.showpollbox %}
                    {% include 'misc/postpoll.twig' %}
                {% endif %}

                {% if editpost.showattachments %}
                    {% include 'misc/attachments.twig' %}
                {% endif %}

                <div class="form__submit">
                    <button type="submit" class="button button--big" name="submitbutton" tabindex="3" accesskey="s">
                        {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.update_post }}</span>
                    </button>
                </div>
                <input type="hidden" name="action" value="do_editpost" />
                <input type="hidden" name="attachmentaid" value="" />
                <input type="hidden" name="attachmentact" value="" />
            </div>
        </form>
    </div>
{% endblock body %}
