<tr>
    <td align="center" class="trow1" width="1%"><img src="{{ theme.imgdir }}/{{ message.msgstatus }}.png" alt="{{ message.msgalt }}" title="{{ message.msgalt }}" /></td>
    <td align="center" class="trow2" width="1%">
        {% if message.hasicon %}
            <img src="{{ message.icon_path }}" alt="{{ message.icon_name }}" title="{{ message.icon_name }}" /> 
        {% else %}
            &nbsp;
        {% endif %}
    </td>
    <td class="trow1" width="35%">
        <a class="{{ message.msgstatus }}" href="private.php?action=read&amp;pmid={{ message.pmid }}">{{ message.subject }}</a>
        {% if message.denyreceipt %}
             <span class="smalltext"><a href="private.php?action=read&amp;pmid={{ message.pmid }}&amp;denyreceipt=1">{{ lang.deny_receipt }}</a></span>
        {% endif %}
    </td>
    <td align="center" class="trow2">
        {% if message.multiplerecipients %}
            <a href="private.php?action=read&amp;pmid={{ message.pmid }}" id="private_message_{{ message.pmid }}">{{ lang.multiple_recipients }}</a>
            <div id="private_message_{{ message.pmid }}_popup" class="popup_menu" style="display: none;">
                <div class="tcat"><strong>{{ lang.to }}</strong></div>
                {% for user in messages.tousers %}
                    <div class="popup_item_container"><a href="{{ user.profilelink|raw }}" class="popup_item">{{ user.username|raw }}</a></div>
                {% endfor %}
                {% if message.bbcusers %}
                    <div class="tcat"><strong>{{ lang.bcc }}</strong></div>
                {% endif %}
                {% for user in messages.bbcusers %}
                    <div class="popup_item_container"><a href="{{ user.profilelink|raw }}" class="popup_item">{{ user.username|raw }}</a></div>
                {% endfor %}
            </div>
            <script type="text/javascript">
            <!--
                $("#private_message_{{ message.pmid }}").popupMenu();
            // -->
            </script>
        {% else %}
            {{ render_avatar(url=message.avatar, alt=message.username_raw) }}
            
            {{ message.username|raw }}
        {% endif %}
    </td>
    <td class="trow1" align="right" style="white-space: nowrap"><span class="smalltext">{{ message.senddate|raw }}</span></td>
    <td class="trow2" align="center"><input type="checkbox" class="checkbox" name="check[{{ message.pmid }}]" value="1" /></td>
</tr>