{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ thread.subject }} - {{ lang.send_thread }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.send_thread }}</h1>
        </header>
        {{ errors|raw }}
        <form action="sendthread.php" method="post">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <div class="block block--form form">
                <div class="section section--form">
                    {% if mybb.user.uid == 0 %}
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="fromname">{{ lang.your_name }}</label></h3>
                            <p class="field__description">{{ lang.name_note }}</p>
                            <input type="text" class="textbox" size="50" name="fromname" id="fromname" value="{{ form.fromname }}" />
                        </div>
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="fromemail">{{ lang.your_email }}</label></h3>
                            <p class="field__description">{{ lang.email_note }}</p>
                            <input type="text" class="textbox" size="50" name="fromemail" id="fromemail" value="{{ form.fromemail }}" />
                        </div>
                    {% endif %}
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="email">{{ lang.recipient }}</label></h3>
                        <p class="field__description">{{ lang.recipient_note }}</p>
                        <input type="text" class="textbox" size="50" name="email" id="email" value="{{ form.email }}" />
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="subject">{{ lang.subject }}</label></h3>
                        <input type="text" class="textbox" size="50" name="subject" id="subject" value="{{ form.subject }}" />
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="message">{{ lang.message }}</label></h3>
                        <textarea cols="50" rows="10" name="message" id="message">{{ form.message }}</textarea>
                    </div>
                    {{ captcha|raw }}
                </div>
                <div class="form__submit">
                    <input type="hidden" name="action" value="do_sendtofriend" />
                    <input type="hidden" name="tid" value="{{ thread.tid }}" />
                    <button type="submit" class="button button--medium" name="submit">
                        {{ include('partials/icon.twig', {icon: 'share', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.send_thread }}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
