<div class="breadcrumb">
    {% for crumb in breadcrumbs %}
        {% if crumb.multipage is not empty %}
            {% if not mybb.settings.threadsperpage or mybb.settings.threadsperpage < 1 %}
                {% set perPage = 20 %}
            {% else %}
                {% set perPage = mybb.settings.threadsperpage %}
            {% endif %}

            {{ multi_page(crumb.multipage.num_threads, mybb.settings.threadsperpage,
                crumb.multipage.current_page, crumb.multipage.url, true) }}
        {% endif %}

        {# Separator #}
        {% if loop.first != true and loop.last != true %}
            {# Not used #}
        {% elseif loop.last and loop.length > 1 %}
            {# Not used #}
        {% endif %}

        {# Breadcrumb bit #}
        {% if loop.last %}
            <span class="active visually-hidden">{{ crumb.name }}</span>
        {% else %}
            <a href="{{ crumb.url|remove_page_one|raw }}" class="breadcrumb__link">
                <span class="breadcrumb__text">{{ crumb.name }}</span>
                {{ include('partials/icon.twig', {icon: 'chevron-right', class: 'breadcrumb__separator'}, with_context = false) }}
            </a>
        {% endif %}
    {% endfor %}
</div>
