<div id="container">
    {% if mybb.settings.dst_correction %}
        {{ mybb.settings.dst_correction }}
    {% endif %}
    <a name="top" id="top"></a>

    <header class="header">
        <div class="wrapper wrapper--header">
            <h1 class="header__title">
                <a href="{{ mybb.settings.bburl }}/index.php" class="logo logo--light  header__title__logo">
                    <span class="logo__icon">
                        {% include 'partials/logo.svg' %}
                    </span>
                    <span class="logo__text">{{ mybb.settings.bbname }}</span>
                </a>
            </h1>
            <label class="menu-button" for="show-mobile-menu"><span class="menu-button__icon">{{ include('partials/icon.twig', {icon: 'bars'}, with_context = false) }}</span></label>
            <label class="menu-close-button menu-close-button--hide" for="show-mobile-menu"><span class="menu-close-button__icon">{{ include('partials/icon.twig', {icon: 'times-circle'}, with_context = false) }}</span></label>
            <input type="checkbox" class="header__checkbox" id="show-mobile-menu">
            <nav class="main-menu">
                <ul class="main-menu__links">
                    {% apply spaceless %}
                    {% if mybb.settings.portal %}
                        <li class="main-menu__item">
                            <a href="{{ mybb.settings.bburl }}/portal.php" class="main-menu__link">
                                {{ include('partials/icon.twig', {icon: 'newspaper', class: 'main-menu__icon fa-fw'}, with_context = false) }}
                                <span class="main-menu__text">{{ lang.toplinks_portal }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if mybb.settings.enablememberlist and mybb.usergroup.canviewmemberlist %}
                        <li class="main-menu__item">
                            <a href="{{ mybb.settings.bburl }}/memberlist.php" class="main-menu__link">
                                {{ include('partials/icon.twig', {icon: 'users', class: 'main-menu__icon fa-fw'}, with_context = false) }}
                                <span class="main-menu__text">{{ lang.toplinks_memberlist }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if mybb.settings.enablecalendar and mybb.usergroup.canviewcalendar %}
                        <li class="main-menu__item">
                            <a href="{{ mybb.settings.bburl }}/calendar.php" class="main-menu__link">
                                {{ include('partials/icon.twig', {icon: 'calendar-alt', class: 'main-menu__icon fa-fw'}, with_context = false) }}
                                <span class="main-menu__text">{{ lang.toplinks_calendar }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% endapply %}
                </ul>
           </nav>
       </div>
   </header>
   <nav class="user-bar">
       <div class="wrapper wrapper--user-bar">
            {% if mybb.user.uid > 0 %}
                {% include 'header/welcomeblock_member.twig' %}
            {% else %}
                {% include 'header/welcomeblock_guest.twig' %}
            {% endif %}
            {% include 'header/quicksearch.twig' %}
        </div>
    </nav>
    <div class="main">
        <div class="wrapper wrapper--main">
            <div id="content">
                {% for template, options in headerMessages %}
                    {% if template matches '/^\\d+$/' %}
                        {% include 'messages/base.twig' %}
                    {% else %}
                        {% include 'messages/' ~ template ~ '.twig' %}
                    {% endif %}
                {% endfor %}
                {{ build_breadcrumb_navigation() }}
