<div class="row row--simple-columns draft">
    <div class="draft__info">
        <h3 class="draft__subject"><a href="{{ draft.editurl|raw }}">{{ draft.subject }}</a></h3>
        <p class="draft__location">
            {% if draft.type == 'post' %}
                {{ lang.thread }}: <a href="{{ draft.threadlink|raw }}">{{ draft.threadsubject }}</a>
            {% else %}
                {{ lang.forum }}: <a href="{{ draft.forumlink|raw }}">{{ draft.forumname }}</a>
            {% endif %}
        </p>
        <p class="draft__date">
            {{ draft.savedate|raw }} {# TODO: Format dates as a Twig function, rather than using |raw for HTML... #}
        </p>
    </div>
    <div class="draft__button">
        <a href="{{ draft.editurl|raw }}" class="button button--small">
            {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
            <span class="button__text">{{ lang.edit_draft }}</span>
        </a>
        <input type="checkbox" class="checkbox" name="deletedraft[{{ draft.id }}]" value="{{ draft.type }}" />
    </div>
</div>
