{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.confirm_execute_tool }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ confirm.subject }} - {{ lang.confirm_execute_tool }}</h1>
            <p class="page-description">{{ lang.confirm_execute_tool_desc|raw }}</p>
        </header>
        <form action="moderation.php" method="post">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <input type="hidden" name="action" value="{{ confirm.action }}" />
            <input type="hidden" name="modtype" value="{{ confirm.modtype }}" />
            <input type="hidden" name="tid" value="{{ confirm.tid }}" />
            <input type="hidden" name="pid" value="{{ confirm.pid }}" />
            <input type="hidden" name="fid" value="{{ confirm.fid }}" />
            <input type="hidden" name="confirm" value="1" />
            <input type="hidden" name="inlinetype" value="{{ confirm.inlinetype }}" />
            <input type="hidden" name="searchid" value="{{ confirm.searchid }}" />
            <input type="hidden" name="url" value="{{ confirm.url }}" />
            <section class="block block--form form">
                <div class="form__submit">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'arrow-right', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.confirm_execute_tool }}</span>
                    </button>
                </div>
            </section>
        </form>
    </div>
{% endblock body %}
