{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.merge_posts }}</title>
{% endblock head %}

{% block body %}
    <form action="moderation.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead" colspan="2"><strong>{{ lang.merge_posts }}</strong></td>
            </tr>
            {{ loginbox|raw }}
            <tr>
                <td class="trow2"><strong>{{ lang.post_separator }}</strong></td>
                <td class="trow2">
                    <label><input type="radio" class="radio" name="sep" value="hr" checked="checked" />&nbsp;{{ lang.horizontal_rule }}</label><br />
                    <label><input type="radio" class="radio" name="sep" value="new_line" />&nbsp;{{ lang.new_line }}</label>
                </td>
            </tr>
            {% for post in postlist %}
                {% set row = alt_trow() %}
                <tr>
                    <td class="tcat" colspan="2"><span class="smalltext"><strong>{{ lang.posted_by }} {{ post.username }} - {{ post.postdate|raw }}</strong></span></td>
                </tr>
                <tr>
                    <td class="{{ row }}" valign="top" align="center" width="1"><input type="checkbox" class="checkbox" checked="checked" name="mergepost[{{ post.pid }}]" value="1" /></td>
                    <td class="{{ row }}">{{ post.message|raw }}</td>
                </tr>
            {% endfor %}
        </table>
        <br />
        <div align="center"><input type="submit" class="button" name="submit" value="{{ lang.merge_posts }}" /></div>
        <input type="hidden" name="action" value="do_multimergeposts" />
        <input type="hidden" name="tid" value="{{ thread.tid }}" />
        <input type="hidden" name="url" value="{{ return_url }}" />
    </form>
{% endblock body %}
