{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.move_threads }}</title>
{% endblock head %}

{% block body %}
    <form action="moderation.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead" colspan="2"><strong>{{ lang.move_threads }}</strong></td>
            </tr>
            {{ loginbox|raw }}
            <tr>
                <td class="trow1"><strong>{{ lang.new_forum }}</strong></td>
                <td class="trow2">{{ forumselect|raw }}</td>
            </tr>
        </table>
        <br />
        <div align="center"><input type="submit" class="button" name="submit" value="{{ lang.move_threads }}" /></div>
        <input type="hidden" name="action" value="do_multimovethreads" />
        <input type="hidden" name="fid" value="{{ forum.fid }}" />
        <input type="hidden" name="threads" value="{{ inlineids }}" />
        <input type="hidden" name="url" value="{{ return_url }}" />
    </form>
{% endblock body %}
