{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.purgespammer }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.purgespammer_purge }}</h1>
            <p class="description">{{ lang.purgespammer_purge_desc }}</p>
        </header>
        <form method="post" action="moderation.php">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <section class="block block--form form">
                <div class="form__submit">
                    <button type="submit" class="button button--medium">
                        <i class="button__icon fas fa-gavel"></i>
                        <span class="button__text">{{ lang.purgespammer_submit }}</span>
                    </button>
                </div>
            </section>
            <input type="hidden" name="action" value="do_purgespammer" />
            <input type="hidden" name="uid" value="{{ user.uid }}" />
        </form>
    </div>
{% endblock body %}
