{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.purgespammer }}</title>
{% endblock head %}

{% block body %}
    <form method="post" action="moderation.php">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead"><strong>{{ lang.purgespammer_purge }}</strong></td>
            </tr>
            <tr>
                <td class="trow1">{{ lang.purgespammer_purge_desc }}</td>
            </tr>
            <tr>
                <td class="tfoot" align="center"><input class="button" type="submit" value="{{ lang.purgespammer_submit }}" /></td>
            </tr>
        </table>
        <input type="hidden" name="action" value="do_purgespammer" />
        <input type="hidden" name="uid" value="{{ user.uid }}" />
    </form>
{% endblock body %}
