{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.nav_threadnotes }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.nav_threadnotes }}</h1>
        </header>
        <form action="moderation.php" method="post">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <section class="block block--form form">
                <div class="section section--form">
                    <div class="row row--form field">
                        <h2 class="field__name">{{ lang.thread_notes_editor }}</h2>
                        <p class="field__description">{{ lang.below_notes }}</p>
                        <textarea name="threadnotes" cols="80" rows="10" tabindex="1">{{ thread.notes }}</textarea>
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="button button--medium" tabindex="2">
                        {{ include('partials/icon.twig', {icon: 'file-alt', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.update_notes }}</span>
                    </button>
                </div>
            </section>
            <input type="hidden" name="action" value="do_threadnotes" />
            <input type="hidden" name="tid" value="{{ thread.tid }}" />
        </form>

        <section class="block">
            <h1 class="title title--major">{{ lang.mod_logs }}</h1>
            {% for modaction in modactions %}
            <div class="row row--simple-columns mod-log">
                <div class="row__primary">
                    <div class="mod-log__user">{{ modaction.profilelink|raw }}</div>
                    <div class="mod-log__action">{{ modaction.action }}</div>
                    <div class="mod-log__date">{{ modaction.dateline|raw }}</div>
                </div>
                <div class="row__secondary mod-log--information">
                    <ul class="list list--stats list--mod-log">
                        {% if modaction.thread %}
                            <li class="list__item">
                                <span class="list__field">{{ lang.thread }}</span>
                                <span class="list__value"><a href="{{ modaction.threadlink }}">{{ modaction.tsubject }}</a></span>
                            </li>
                        {% endif %}
                        {% if modaction.forum %}
                            <li class="list__item">
                                <span class="list__field">{{ lang.forum }}</span>
                                <span class="list__value"><a href="{{ modaction.forumlink }}" target="_blank">{{ modaction.fname }}</a></span>
                            </li>
                        {% endif %}
                        {% if modaction.post %}
                            <li class="list__item">
                                <span class="list__field">{{ lang.post }}</span>
                                <span class="list__value"><a href="{{ modaction.postlink }}#pid{{ modaction.pid }}">{{ modaction.psubject }}</a></span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% else %}
                <div class="alert alert--no-results">{{ lang.no_mod_options }}</div>
            {% endfor %}
        </section>

        <section class="block">
            <h1 class="title title--major">{{ lang.delayed_mod_queue }}</h1>
            {% for delayedmod in delayedmods %}
                <div class="row row--simple-columns mod-log mod-log--delayed">
                    <div class="row__primary">
                        <div class="mod-log__user">{{ delayedmod.profilelink|raw }}</div>
                        <div class="mod-log__action">{{ delayedmod.action }}</div>
                        <div class="mod-log__date">{{ delayedmod.dateline|raw }}</div>
                    </div>
                    <div class="row__secondary mod-log--information">
                        <ul class="list list--stats list--mod-log">
                            {% if delayedmod.thread_single %}
                                <li class="list__item">
                                    <span class="list__field">{{ lang.thread }}</span>
                                    <span class="list__value"><a href="{{ delayedmod.threadlink }}">{{ delayedmod.threadsubject }}</a></span>
                                </li>
                            {% endif %}
                            {% if delayedmod.thread_multiple %}
                                <li class="list__item">
                                    <span class="list__field">{{ lang.thread }}</span>
                                    <span class="list__value">{{ lang.multiple_threads }}</span>
                                </li>
                            {% endif %}
                            {% if delayedmod.forum %}
                                <li class="list__item">
                                    <span class="list__field">{{ lang.forum }}</span>
                                    <span class="list__value"><a href="{{ delayedmod.link }}">{{ delayedmod.fname }}</a></span>
                                </li>
                            {% endif %}
                            {% if delayedmod.new_forum %}
                                <li class="list__item">
                                    <span class="list__field">{{ lang.new_forum }}</span>
                                    <span class="list__value"><a href="{{ delayedmod.new_link }}">{{ delayedmod.new_name }}</a></span>
                                </li>
                            {% endif %}
                            {% if delayedmod.redirect %}
                                <li class="list__item">
                                    <span class="list__field">{{ lang.leave_redirect_for }}</span>
                                    <span class="list__value">{{ delayedmod.redirect_expire }}</span>
                                </li>
                            {% endif %}
                            {% if delayedmod.merge %}
                                <li class="list__item">
                                    <span class="list__field">{{ lang.new_subject }}</span>
                                    <span class="list__value">{{ delayedmod.subject }}</span>
                                </li>
                                <li class="list__item">
                                    <span class="list__field">{{ lang.thread_to_merge_with }}</span>
                                    <span class="list__value"><a href="{{ delayedmod.threadurl }}">{{ delayedmod.threadurl }}</a></span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="alert alert--no-results">{{ lang.no_delayed_mods }}</div>
            {% endfor %}
        </section>
    </div>
{% endblock body %}
