{% set row = alt_trow() %}
<tr>
    <td class="{{ row }}">
        <a href="attachment.php?aid={{ attachment.aid }}" target="_blank">{{ attachment.filename }}</a> ({{ attachment.filesize }})<br />
        <small class="modqueue_meta">{{ lang.post }}: <a href="{{ attachment.link }}">{{ attachment.postsubject }}</a></small>
    </td>
    <td class="{{ row }}" align="center">{{ attachment.profile_link|raw }}</td>
    <td align="center" class="{{ row }}">{{ attachment.attachdate|raw }}</td>
    <td class="{{ row }}" align="center"><label class="label_radio_ignore"><input type="radio" class="radio radio_ignore" name="attachments[{{ attachment.aid }}]" value="ignore" checked="checked" /> {{ lang.ignore }}</label></td>
    <td class="{{ row }}" align="center"><label class="label_radio_delete"><input type="radio" class="radio radio_delete" name="attachments[{{ attachment.aid }}]" value="delete" /> {{ lang.delete }}</label></td>
    <td class="{{ row }}" align="center"><label class="label_radio_approve"><input type="radio" class="radio radio_approve" name="attachments[{{ attachment.aid }}]" value="approve" /> {{ lang.approve }}</label></td>
</tr>