<div class="row mod-queue">
    <div class="mod-queue__header">
        <div class="mod-queue__header-section">
            <h2 class="mod-queue__subject"><a href="attachment.php?aid={{ attachment.aid }}" target="_blank">{{ attachment.filename }}</a> ({{ attachment.filesize }})</h2>
            <div class="mod-queue__author">{{ lang.by }} {{ attachment.profile_link|raw }}</div>
            <div class="mod-queue__date">{{ attachment.attachdate|raw }}</div>
            <div class="mod-queue__post">{{ lang.post }}: <a href="{{ attachment.link }}">{{ attachment.postsubject }}</a></div>
        </div>
        <div class="mod-queue__header-section">
            <div class="segmented-control">
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_ignore segmented-control__input" name="attachments[{{ attachment.aid }}]" id="attachment_ignore_{{ attachment.aid }}" value="ignore" checked />
                    <label class="segmented-control__button" for="attachment_ignore_{{ attachment.aid }}">
                        {{ include('partials/icon.twig', {icon: 'minus-circle', class: 'segmented-control__icon'}, with_context = false) }}
                        <span class="segmented-control__text">{{ lang.ignore }}</span>
                    </label>
                </span>
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_delete segmented-control__input" name="attachments[{{ attachment.aid }}]" id="attachment_delete_{{ attachment.aid }}" value="delete" />
                    <label class="segmented-control__button" for="attachment_delete_{{ attachment.aid }}">
                        {{ include('partials/icon.twig', {icon: 'trash', class: 'segmented-control__icon'}, with_context = false) }}
                        <span class="segmented-control__text">{{ lang.delete }}</span>
                    </label>
                </span>
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_approve segmented-control__input" name="attachments[{{ attachment.aid }}]" id="attachment_approve_{{ attachment.aid }}" value="approve" />
                    <label class="segmented-control__button" for="attachment_approve_{{ attachment.aid }}">
                        {{ include('partials/icon.twig', {icon: 'check', class: 'segmented-control__icon'}, with_context = false) }}
                        <span class="segmented-control__text">{{ lang.approve }}</span>
                    </label>
                </span>
            </div>
        </div>
    </div>
</div>
