{% set row = alt_trow() %}
<tr>
    <td class="{{ row }}"><a href="{{ post.postlink|raw }}#pid{{ post.pid }}">{{ post.subject }}</a></td>
    <td class="{{ row }}" align="center">{{ post.profile_link|raw }}</td>
    <td align="center" class="{{ row }}">{{ post.postdate|raw }}</td>
</tr>
<tr>
    <td class="{{ row }}" colspan="3">
        <div class="modqueue_message">
            <div class="float_right modqueue_controls">
                <label class="label_radio_ignore"><input type="radio" class="radio radio_ignore" name="posts[{{ post.pid }}]" value="ignore" checked="checked" /> {{ lang.ignore }}</label>
                <label class="label_radio_delete"><input type="radio" class="radio radio_delete" name="posts[{{ post.pid }}]" value="delete" /> {{ lang.delete }}</label>
                <label class="label_radio_approve"><input type="radio" class="radio radio_approve" name="posts[{{ post.pid }}]" value="approve" /> {{ lang.approve }}</label>
            </div>
            <div class="modqueue_meta">
                <strong>{{ lang.meta_forum }} <a href="{{ post.forum_link }}">{{ post.forum_name }}</a></strong><br />
                <strong>{{ lang.meta_thread }} <a href="{{ post.threadlink }}">{{ post.threadsubject }}</a></strong>
            </div>
            {{ post.message|nl2br }}
        </div>
    </td>
</tr>