<div class="row mod-queue">
    <div class="mod-queue__header">
        <div class="mod-queue__header-section">
            <h2 class="mod-queue__subject"><a href="{{ thread.threadlink }}">{{ thread.subject }}</a></h2>
            <div class="mod-queue__author">{{ lang.by }} {{ thread.profile_link|raw }}</div>
            <div class="mod-queue__date">{{ thread.threaddate|raw }}</div>
            <div class="mod-queue__forum">{{ lang.meta_forum }} <a href="{{ thread.forum_link }}">{{ thread.forum_name }}</a></div>
        </div>
        <div class="mod-queue__header-section">
            <div class="segmented-control">
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_ignore segmented-control__input" name="threads[{{ thread.tid }}]" id="thread_ignore_{{ thread.tid }}" value="ignore" checked />
                    <label class="segmented-control__button" for="thread_ignore_{{ thread.tid }}">
                        <i class="segmented-control__icon fas fa-minus-circle"></i>
                        <span class="segmented-control__text">{{ lang.ignore }}</span>
                    </label>
                </span>
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_delete segmented-control__input" name="threads[{{ thread.tid }}]" id="thread_delete_{{ thread.tid }}" value="delete" />
                    <label class="segmented-control__button" for="thread_delete_{{ thread.tid }}">
                        <i class="segmented-control__icon fas fa-trash"></i>
                        <span class="segmented-control__text">{{ lang.delete }}</span>
                    </label>
                </span>
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_approve segmented-control__input" name="threads[{{ thread.tid }}]" id="thread_approve_{{ thread.tid }}" value="approve" />
                    <label class="segmented-control__button" for="thread_approve_{{ thread.tid }}">
                        <i class="segmented-control__icon fas fa-check"></i>
                        <span class="segmented-control__text">{{ lang.approve }}</span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="mod-queue__message">
        {{ thread.postmessage|nl2br }}
    </div>
</div>
