{% set row = alt_trow() %}
<tr>
    <td class="{{ row }}"><a href="{{ thread.threadlink }}">{{ thread.subject }}</a></td>
    <td class="{{ row }}" align="center">{{ thread.profile_link|raw }}</td>
    <td align="center" class="{{ row }}">{{ thread.threaddate|raw }}</td>
</tr>
<tr>
    <td class="{{ row }}" colspan="3">
        <div class="modqueue_message">
            <div class="float_right modqueue_controls">
                <label class="label_radio_ignore"><input type="radio" class="radio radio_ignore" name="threads[{{ thread.tid }}]" value="ignore" checked="checked" /> {{ lang.ignore }}</label>
                <label class="label_radio_delete"><input type="radio" class="radio radio_delete" name="threads[{{ thread.tid }}]" value="delete" /> {{ lang.delete }}</label>
                <label class="label_radio_approve"><input type="radio" class="radio radio_approve" name="threads[{{ thread.tid }}]" value="approve" /> {{ lang.approve }}</label>
            </div>
            <div class="modqueue_meta">
                <strong>{{ lang.meta_forum }} <a href="{{ thread.forum_link }}">{{ thread.forum_name }}</a></strong><br />
            </div>
            {{ thread.postmessage|nl2br }}
        </div>
    </td>
</tr>