{% set row = alt_trow() %}
<tr>
    <td class="{{ row }}" valign="top">{{ logitem.profilelink|raw }}</td>
    <td class="{{ row }}" align="center" valign="top">{{ logitem.date|raw }}</td>
    <td class="{{ row }}" align="center" valign="top">{{ logitem.action }}</td>
    <td class="{{ row }}" align="center" valign="top">
        {% if logitem.tsubject %}
            <strong>{{ lang.thread }}:</strong> <a href="{{ logitem.threadlink }}" target="_blank">{{ logitem.tsubject }}</a><br />
        {% endif %}
        {% if logitem.fname %}
            <strong>{{ lang.forum }}:</strong> <a href="{{ logitem.forumlink }}" target="_blank">{{ logitem.fname }}</a><br />
        {% endif %}
        {% if logitem.psubject %}
            <strong>{{ lang.post }}:</strong> <a href="{{ logitem.postlink }}#pid{{ logitem.pid }}">{{ logitem.psubject }}</a>
        {% endif %}
        {% if logitem.logdata.uid %}
            {{ trans('edited_user_info', logitem.logdata.username, logitem.logdata.profilelink) }}
        {% endif %}
        {% if logitem.logdata.aid %}
            <strong>{{ lang.announcement }}:</strong> <a href="{{ logitem.logdata.announcement }}" target="_blank">{{ logitem.logdata.subject }}</a>
        {% endif %}
    </td>
    <td class="{{ row }}" align="center" valign="top">{{ logitem.ipaddress }}</td>
</tr>