<div class="row row--simple-columns attachment">
    <div class="attachment__icon">{{ attachment.icon|raw }}</div>
    <div class="row__primary attachment__file">
        <h3 class="attachment__file-name"><a href="attachment.php?aid={{ attachment.aid }}" target="_blank">{{ attachment.filename }}</a></h3>
        <div class="attachment__size-downloads">{{ trans('attachment_size_downloads', attachment.size, attachment.downloads) }}</div>
        <div class="attachment__date">{{ attachment.date|raw }}</div>
    </div>
    <div class="row__secondary attachment__post">
        <div class="attachment__post-link">
            <a href="{{ attachment.postlink }}#pid{{ attachment.pid }}">{{ attachment.subject }}</a>
        </div>
        <div class="attachment__thread">
            {{ lang.attachment_thread }} <a href="{{ attachment.threadlink }}">{{ attachment.threadsubject }}</a>
        </div>
    </div>
    <div class="row__select-control">
        <input type="checkbox" class="checkbox" name="attachments[{{ attachment.aid }}]" value="{{ attachment.aid }}" />
    </div>
</div>
