{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.help_doc_results }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.help_doc_results }}</h1>
        </header>
        <section class="block">
            <h1 class="title title--major">{{ lang.help_doc_results }}</h1>
            {% for helpdoc in helpdoclist %}
                <div class="row">
                    <h2 class="title title--row"><a href="misc.php?action=help&amp;hid={{ helpdoc.hid }}{{ highlight|raw }}">{{ helpdoc.name|slice(0, 50) }}{% if helpdoc.name|length > 50 %}...{% endif %}</a></h2>
                    <p class="row__description">{{ helpdoc.helpdoc|slice(0, 350) }}{% if helpdoc.helpdoc|length > 350 %}...{% endif %}</p>
                </div>
            {% else %}
                <div class="alert alert--no-results">{{ lang.no_help_results }}</div>
            {% endfor %}
        </section>
    </div>
{% endblock body %}
