{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="2;URL={{ url }}" />
{% endblock head %}

{% block header %}{% endblock header %}
{% block body %}
    <div class="redirect" style="width: {{ lang.redirect_width }}">
        <h1 class="redirect__title">{{ title }}</h1>
        <div class="redirect__message">{{ message|raw }}</div>
        <div class="redirect__link">
            <a href="{{ url }}">{{ lang.click_no_wait }}</a>
        </div>
    </div>
{% endblock body %}
{% block footer %}{% endblock footer %}
