{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.search_results }}</title>
{% endblock head %}

{% block body %}
    <table width="100%" align="center" border="0">
        <tr>
            <td align="right" valign="top">{{ multipage|raw }}</td>
        </tr>
    </table>
    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
        <tr>
            <td colspan="8" class="thead"><strong>{{ lang.search_results }}</strong></td>
        </tr>
        <tr>
            <td class="tcat" align="center" colspan="3" width="56%">
                <span class="smalltext">
                    <strong>
                        <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=subject&amp;order=asc">{{ lang.thread }}</a>
                        {% if results.orderarrow.subject %}
                            <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=subject&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                        {% endif %}
                    </strong> / 
                    <strong>
                        <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=starter&amp;order=asc">{{ lang.author }}</a> 
                        {% if results.orderarrow.starter %}
                            <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=starter&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                        {% endif %}
                    </strong>
                </span>
            </td>
            <td class="tcat" align="center" width="14%">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=forum&amp;order=asc">{{ lang.forum }}</a> 
                    {% if results.orderarrow.forum %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=forum&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            <td class="tcat" align="center">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=replies&amp;order=desc">{{ lang.replies }}</a> 
                    {% if results.orderarrow.replies %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=replies&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            <td class="tcat" align="center">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=views&amp;order=desc">{{ lang.views }}</a> 
                    {% if results.orderarrow.views %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=views&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            <td class="tcat" align="center" width="200">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=lastpost&amp;order=desc">{{ lang.lastpost }}</a> 
                    {% if results.orderarrow.lastpost %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=lastpost&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            {% if results.show_inline_moderation %}
                <td class="tcat" align="center" width="1"><input type="checkbox" name="allbox" onclick="inlineModeration.checkAll(this);" /></td>
            {% elseif results.show_mod_empty %}
                <td class="tcat" align="center" width="1"></td>
            {% endif %}
        </tr>
        {% if results.show_inline_moderation %}
            <tr id="selectAllrow" class="hiddenrow">
                <td colspan="9" class="selectall">{{ lang.page_selected }} <a href="javascript:void(0)" onclick='inlineModeration.selectAll(); return false;'>{{ lang.select_all }}</a></td>
            </tr>
            <tr id="allSelectedrow" class="hiddenrow">
                <td colspan="9" class="selectall">{{ lang.all_selected }} <a href="javascript:void(0)" onclick='inlineModeration.clearChecked(); return false;'>{{ lang.clear_selection }}</a></td>
            </tr>
        {% endif %}
        {% for thread in threads %}
            {% include 'search/results_threads_row.twig' %}
        {% endfor %}
    </table>
    <table width="100%" align="center" border="0">
        <tr>
            <td align="left" valign="top">{{ multipage|raw }}</td>
            <td align="right" valign="top">
                {% if results.show_inline_moderation %}
                    <script type="text/javascript" src="{{ mybb.asset_url }}/jscripts/inline_moderation.js?ver=1813"></script>
                    <form action="moderation.php" method="post">
                        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
                        <input type="hidden" name="fid" value="0" />
                        <input type="hidden" name="searchid" value="{{ results.sid }}" />
                        <input type="hidden" name="modtype" value="inlinethread" />
                        <span class="smalltext"><strong>{{ lang.inline_thread_moderation }}</strong></span>
                        <select name="action">
                            <optgroup label="{{ lang.standard_mod_tools }}">
                                <option value="multiclosethreads">{{ lang.close_threads }}</option>
                                <option value="multiopenthreads">{{ lang.open_threads }}</option>
                                <option value="multistickthreads">{{ lang.stick_threads }}</option>
                                <option value="multiunstickthreads">{{ lang.unstick_threads }}</option>
                                <option value="multisoftdeletethreads">{{ lang.soft_delete_threads }}</option>
                                <option value="multirestorethreads">{{ lang.restore_threads }}</option>
                                <option value="multideletethreads">{{ lang.delete_threads }}</option>
                                <option value="multimovethreads">{{ lang.move_threads }}</option>
                                <option value="multiapprovethreads">{{ lang.approve_threads }}</option>
                                <option value="multiunapprovethreads">{{ lang.unapprove_threads }}</option>
                            </optgroup>
                            {% if results.show_inline_moderation %}
                                <optgroup label="{{ lang.custom_mod_tools }}">
                                    {% for tool in results.customthreadtools %}
                                        <option value="{{ tool.tid }}">{{ tool.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                        </select>
                        <input type="submit" class="button" name="go" value="{{ lang.inline_go }} ({{ results.inlinecount }})" id="inline_go" />&nbsp;
                        <input type="button" onclick="inlineModeration.clearChecked();" value="{{ lang.clear }}" class="button" />
                        <input type="hidden" name="url" value="{{ results.return_url }}" />
                        <input type="hidden" name="inlinetype" value="search" />
                    </form>
                    <script type="text/javascript">
                    <!--
                        var go_text = "{{ lang.inline_go }}";
                        var all_text = "{{ results.threadcount }}";
                        var inlineType = "search";
                        var inlineId = '{{ results.sid }}';
                    // -->
                    </script>
                    <br />
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock body %}
