{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.search_results }}</title>
{% endblock head %}

{% block body %}
    <table width="100%" align="center" border="0">
        <tr>
            <td align="right" valign="top">{{ multipage|raw }}</td>
        </tr>
    </table>
    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
        <tr>
            <td colspan="9" class="thead"><strong>{{ lang.search_results }}</strong></td>
        </tr>
        <tr>
            <td class="tcat" align="center" colspan="3">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=subject&amp;order=asc">{{ lang.post }}</a>
                    {% if results.orderarrow.subject %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=subject&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            <td class="tcat" align="center">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=starter&amp;order=asc">{{ lang.author }}</a> 
                    {% if results.orderarrow.starter %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=starter&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            <td class="tcat" align="center">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=forum&amp;order=asc">{{ lang.forum }}</a> 
                    {% if results.orderarrow.forum %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=forum&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            <td class="tcat" align="center">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=replies&amp;order=desc">{{ lang.replies }}</a> 
                    {% if results.orderarrow.replies %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=replies&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            <td class="tcat" align="center">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=views&amp;order=desc">{{ lang.views }}</a> 
                    {% if results.orderarrow.views %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=views&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            <td class="tcat" align="center">
                <span class="smalltext"><strong>
                    <a href="search.php?action=results&amp;sid={{ results.sid }}&amp;sortby=dateline&amp;order=desc">{{ lang.posted }}</a> 
                    {% if results.orderarrow.dateline %}
                        <span class="smalltext">[<a href="{{ results.sorturl|raw }}&amp;sortby=dateline&amp;order={{ results.oppsortnext }}">{{ results.oppsort }}</a>]</span>
                    {% endif %}
                </strong></span>
            </td>
            {% if results.show_inline_moderation %}
                <td class="tcat" align="center" width="1"><input type="checkbox" name="allbox" onclick="inlineModeration.checkAll(this);" /></td>
            {% elseif results.show_mod_empty %}
                <td class="tcat" align="center" width="1"></td>
            {% endif %}
        </tr>
        {% if results.show_inline_moderation %}
            <tr id="selectAllrow" class="hiddenrow">
                <td colspan="9" class="selectall">{{ lang.page_selected }} <a href="javascript:void(0)" onclick='inlineModeration.selectAll(); return false;'>{{ lang.select_all }}</a></td>
            </tr>
            <tr id="allSelectedrow" class="hiddenrow">
                <td colspan="9" class="selectall">{{ lang.all_selected }} <a href="javascript:void(0)" onclick='inlineModeration.clearChecked(); return false;'>{{ lang.clear_selection }}</a></td>
            </tr>
        {% endif %}
        {% for post in posts %}
            {% include 'search/results_posts_row.twig' %}
        {% endfor %}
    </table>
    <table width="100%" align="center" border="0">
        <tr>
            <td align="left" valign="top">{{ multipage|raw }}</td>
            <td align="right" valign="top">
                {% if results.show_inline_moderation %}
                    <script type="text/javascript" src="{{ mybb.asset_url }}/jscripts/inline_moderation.js?ver=1813"></script>
                    <form action="moderation.php" method="post" style="margin-top: 0; margin-bottom: 0;">
                        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
                        <input type="hidden" name="tid" value="0" />
                        <input type="hidden" name="searchid" value="{{ results.sid }}" />
                        <input type="hidden" name="modtype" value="inlinepost" />
                        <span class="smalltext"><strong>{{ lang.inline_post_moderation }}</strong></span>
                        <select name="action">
                            <optgroup label="{{ lang.standard_mod_tools }}">
                                <option value="multisoftdeleteposts">{{ lang.inline_soft_delete_posts }}</option>
                                <option value="multirestoreposts">{{ lang.inline_restore_posts }}</option>
                                <option value="multideleteposts">{{ lang.inline_delete_posts }}</option>
                                <option value="multimergeposts">{{ lang.inline_merge_posts }}</option>
                                <option value="multisplitposts">{{ lang.inline_split_posts }}</option>
                                <option value="multimoveposts">{{ lang.inline_move_posts }}</option>
                                <option value="multiapproveposts">{{ lang.inline_approve_posts }}</option>
                                <option value="multiunapproveposts">{{ lang.inline_unapprove_posts }}</option>
                            </optgroup>
                            {% if results.show_inline_moderation %}
                                <optgroup label="{{ lang.custom_mod_tools }}">
                                    {% for tool in results.customposttools %}
                                        <option value="{{ tool.tid }}">{{ tool.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                        </select>
                        <input type="submit" class="button" name="go" value="{{ lang.inline_go }} ({{ results.inlinecount }})" id="inline_go" />&nbsp;
                        <input type="button" onclick="inlineModeration.clearChecked();" value="{{ lang.clear }}" class="button" />
                        <input type="hidden" name="url" value="{{ results.return_url }}" />
                        <input type="hidden" name="inlinetype" value="search" />
                    </form>
                    <script type="text/javascript">
                    <!--
                        var go_text = "{{ lang.inline_go }}";
                        var all_text = "{{ results.postcount }}";
                        var inlineType = "search";
                        var inlineId = '{{ results.sid }}';
                    // -->
                    </script>
                    <br />
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock body %}
