{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ trans('join_requests_title', usergroup.title) }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ trans('join_requests_title', usergroup.title) }}</h1>
        </header>
        <form method="post" action="managegroup.php">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <input type="hidden" name="action" value="do_joinrequests" />
            <input type="hidden" name="gid" value="{{ usergroup.gid }}" />
            <section class="block">
                <div class="results">
                    {% for user in users %}
                        <div class="row row--simple-columns join-request">
                            <div class="row__primary">
                                <h2 class="join-request__username">{{ user.profilelink|raw }}</h2>
                                <p class="join-request__reason">{{ lang.reason }}: {{ user.reason }}</p>
                            </div>
                            <div class="row__controls">
                                <div class="segmented-control">
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio radio_ignore segmented-control__input" name="request[{{ user.uid }}]" id="request_ignore_{{ user.uid }}" value="ignore" checked="checked" />
                                        <label class="segmented-control__button" for="request_ignore_{{ user.uid }}">
                                            {{ include('partials/icon.twig', {icon: 'minus-circle', class: 'segmented-control__icon'}, with_context = false) }}
                                            <span class="segmented-control__text">{{ lang.ignore }}</span>
                                        </label>
                                    </span>
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio radio_accept segmented-control__input" name="request[{{ user.uid }}]" id="request_accept_{{ user.uid }}" value="accept" />
                                        <label class="segmented-control__button" for="request_accept_{{ user.uid }}">
                                            {{ include('partials/icon.twig', {icon: 'check', class: 'segmented-control__icon'}, with_context = false) }}
                                            <span class="segmented-control__text">{{ lang.accept }}</span>
                                        </label>
                                    </span>
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio radio_decline segmented-control__input" name="request[{{ user.uid }}]" id="request_decline_{{ user.uid }}" value="decline" />
                                        <label class="segmented-control__button" for="request_decline_{{ user.uid }}">
                                            {{ include('partials/icon.twig', {icon: 'times', class: 'segmented-control__icon'}, with_context = false) }}
                                            <span class="segmented-control__text">{{ lang.decline }}</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="sort-results">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'cog', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.action_requests }}</span>
                    </button>
                </div>
            </section>
        </form>
    </div>
{% endblock body %}
