{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.agreement }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.agreement }}</h1>
        </header>
        <form action="member.php" method="post">
            <section class="block block--form form">
                <div class="section section--form">
                    {% if coppa_agreement %}
                        <div class="row row--form">
                            <strong>{{ lang.coppa_compliance }}</strong>
                            <p>{{ trans('coppa_agreement_1', mybb.settings.bbname) }}</p>
                            <p>{{ lang.coppa_agreement_2|raw }}</p>
                            <p>{{ lang.coppa_agreement_3 }}</p>
                        </div>
                    {% endif %}
                    <div class="row row--form">
                        <p>{{ lang.agreement_1 }}</p>
                        <p>{{ lang.agreement_2 }}</p>
                        <p>{{ lang.agreement_3 }}</p>
                        <p>{{ lang.agreement_4 }}</p>
                        <p><strong>{{ lang.agreement_5 }}</strong></p>
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="button button--medium" name="agree">
                        {{ include('partials/icon.twig', {icon: 'check', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.i_agree }}</span>
                    </button>
                </div>
            </section>
            <input type="hidden" name="step" value="agreement" />
            <input type="hidden" name="action" value="register" />
        </form>
    </div>
{% endblock body %}
