<div class="row row--simple-columns warning-log">
    <div class="row__primary">
        <div class="warning-log__username">{{ warning.username_link|raw }}</div>
        <div class="warning-log__warning">{{ warning.title }} ({{ warning.points }})</div>
        {% if warning.daterevoked %}
            <div class="warning-log__revoked-date"><span class="warning-log__revoked">{{ lang.revoked }}</span> {{ warning.revoked_date|raw }}</div>
        {% else %}
            {% if warning.expired %}
                <div class="warning-log__expiry-date warning-log__expiry-date--expired">
                    {{ warning.expire_date }}
                </div>
            {% else %}
                <div class="warning-log__expiry-date">
                    {{ lang.expires }}
                    {{ warning.expire_date }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row__secondary">
        <div class="warning-log__details">
            <a href="warnings.php?action=view&amp;wid={{ warning.wid }}" class="button">
                {{ include('partials/icon.twig', {icon: 'info-circle', class: 'button__icon'}, with_context = false) }}
                <span class="button__text">{{ lang.view }}</span>
            </a>
        </div>
        <div class="warning-log__issued_by">{{ lang.issued_by }} {{ warning.mod_username_link|raw }}</div>
        <div class="warning-log__issued-date">{{ warning.issued_date }}</div>
    </div>
</div>
