{% extends 'layouts/account.twig' %}

{% block head %}
    <title>{{ lang.user_cp }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block accountHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.account_summary }}</h1>
    </header>
{% endblock accountHeader %}

{% block accountBody %}
    <section class="block block--container account-dashboard">
        <a href="{{ get_profile_link(mybb.user.uid) }}" class="avatar-profile-link"><img src="{{ useravatar.image }}" alt="{{ mybb.user.username }}" title="{{ mybb.user.username }}" {{ useravatar.width_height }} class="avatar" /></a>
        <ul class="list list--divided list--stats">
            <li class="list__item title">{{ username|raw }}</li>
            <li class="list__item">
                <span class="list__field">{{ lang.postnum }}</span>
                <span class="list__value"><a href="search.php?action=finduser&amp;uid={{ mybb.user.uid }}">{{ mybb.user.posts }}</a> {{ lang.posts_day }}</span>
            </li>
            {% if mybb.usergroup.usereputationsystem and mybb.settings.enablereputation %}
                <li class="list__item">
                    <span class="list__field">{{ lang.reputation }}</span>
                    <span class="list__value">{{ reputation_link|raw }} [<a href="reputation.php?uid={{ mybb.user.uid }}">{{ lang.details }}</a>]</span>
                </li>
            {% endif %}
            <li class="list__item">
                <span class="list__field">{{ lang.email }}</span>
                <span class="list__value">{{ mybb.user.email }}</span>
            </li>
            <li class="list__item">
                <span class="list__field">{{ lang.registration_date }}</span>
                <span class="list__value">{{ mybb.user.regdate|raw }}</span>
            </li>
            <li class="list__item">
                <span class="list__field">{{ lang.primary_usergroup }}</span>
                <span class="list__value">{{ groupscache[mybb.user.usergroup].title }} {% if mybb.user.usergroup == 5 and mybb.settings.regtype != 'admin' %}(<a href="member.php?action=resendactivation">{{ lang.resend_activation }}</a>){% endif %}</span>
            </li>
            {% if mybb.settings.usereferrals %}
                <li class="list__item">
                    <span class="list__field">{{ lang.members_referred }}</span>
                    <span class="list__value"> {{ mybb.user.referrals }}<br />
                    {{ trans('referral_link', mybb.settings.bburl, mybb.user.uid) }}</span>
                </li>
            {% endif %}
        </ul>
    </section>
    {# Latest subscribed #}
    {% if latestsubscriptions %}
        <section class="block">
            <h1 class="title title--major title">{{ lang.new_thread_subscriptions }}</h1>
            <div class="thread-list thread-list--compact">
            <div class="sort-threads sort-threads--alt">
                <div class="sort-threads__column sort-threads__column--primary">
                    {{ lang.thread }}<span class="sort-threads__author"> &mdash; {{ lang.author }}</span>
                </div>
                <div class="sort-threads__column sort-threads__column--replies">
                    {{ lang.replies }}
                </div>
                <div class="sort-threads__column sort-threads__column--latest">
                    {{ lang.lastpost }}
                </div>
            </div>
                {% for thread in latestsubscriptions %}
                    {# TO DO : {{ thread.folder }} {{ thread.folder_label }} #}
                    <div class="row row--thread thread {{ thread.class }}">
                        <div class="thread__column thread__column--primary">
                            <h3 class="thread__title {$new_class}">
                                {% if thread.displayprefix %}
                                    <span class="tag tag--thread-prefix tag--thread-prefix-{{ thread.prefix }}">{{ thread.displayprefix|raw }}</span>
                                {% endif %}
                                <a href="{{ thread.threadlink }}" class="{{ thread.new_class }}">{{ thread.subject }}</a>
                                {% if thread.lastread and thread.lastpost > thread.lastread %}
                                    <a href="{{ thread.newpostlink }}" class="thread__status">
                                        {{ include('partials/icon.twig', {icon: 'circle', class: '', title: lang.goto_first_unread}, with_context = false) }}
                                    </a>
                                {% endif %}
                                <span class="thread__icons">
                                    {{ icon }}
                                </span>
                            </h3>
                            <p class="thread__author">{{ lang.by }} {{ thread.author|raw }}</p>
                        </div>
                        <div class="thread__column thread__column--replies">
                            <p class="thread__replies" title="{{ lang.replies }}: {{ thread.replies }} &middot; {{ lang.views }}: {{ thread.views }}">
                                <a href="{{ mybb.settings.bburl }}/misc.php?action=whoposted&tid={{ thread.tid }}" onclick="MyBB.whoPosted({{ thread.tid }}); return false;" class="thread__reply-count">{{ thread.replies }}</a>
                                <span class="thread__reply-legend">{% if thread.replies == 1 %}{{ lang.reply }}{% else %}{{ lang.replies }}{% endif %}</span>
                            </p>
                        </div>
                        <div class="thread__column thread__column--latest">
                            <p class="thread__latest-post">
                                <span class="thread__latest-post__text">{{ lang.lastpost_by }}</span>
                                <a href="{{ get_profile_link(thread.lastposteruid) }}" class="avatar-profile-link">
                                    {{ render_avatar(url=thread.last_poster_avatar, alt=last_poster_name, class='avatar--smallest') }}
                                </a>
                                <span class="thread__latest-post__author">
                                    {% if thread.lastposteruid == 0 %}{{ lang.guest }}{% else %}{{ thread.lastposter|raw }}{% endif %}
                                </span>
                                <a href="{{ thread.lastpostlink }}" class="thread__latest-post__date">{{ thread.lastpostdate|raw }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="block__footer-link">
                <a href="usercp.php?action=subscriptions">
                    {{ include('partials/icon.twig', {icon: 'plus-square', class: 'icon'}, with_context = false) }}
                    {{ lang.view_all_subscriptions }}
                </a>
            </div>
        </section>
    {% endif %}

    {# Latest threads #}
    {% if latestthreads %}
        <section class="block">
            <h1 class="title title--major">{{ lang.latest_threads }}</h1>
            <div class="thread-list thread-list--compact">
                <div class="sort-threads sort-threads--alt">
                    <div class="sort-threads__column sort-threads__column--primary">
                        {{ lang.thread }}<span class="sort-threads__author"> &mdash; {{ lang.author }}</span>
                    </div>
                    <div class="sort-threads__column sort-threads__column--replies">
                        {{ lang.replies }}
                    </div>
                    <div class="sort-threads__column sort-threads__column--latest">
                        {{ lang.lastpost }}
                    </div>
                </div>
                {% for thread in latestthreads %}
                    {# TO DO : {{ thread.folder }} {{ thread.folder_label }} #}
                    <div class="row row--thread thread {{ thread.class }}">
                        <div class="thread__column thread__column--primary">
                            <h3 class="thread__title {$new_class}">
                                {% if thread.displayprefix %}
                                    <span class="tag tag--thread-prefix tag--thread-prefix-{{ thread.prefix }}">{{ thread.displayprefix|raw }}</span>
                                {% endif %}
                                <a href="{{ thread.threadlink }}" class="{{ thread.new_class }}">{{ thread.subject }}</a>
                                {% if thread.lastread and thread.lastpost > thread.lastread %}
                                    <a href="{{ thread.newpostlink }}" class="thread__status">
                                        {{ include('partials/icon.twig', {icon: 'circle', class: '', title: lang.goto_first_unread}, with_context = false) }}
                                    </a>
                                {% endif %}
                                <span class="thread__icons">
                                    {{ icon }}
                                </span>
                            </h3>
                            <p class="thread__author">{{ lang.by }} {{ thread.author|raw }}</p>
                        </div>
                        <div class="thread__column thread__column--replies">
                            <p class="thread__replies" title="{{ lang.replies }}: {{ thread.replies }} &middot; {{ lang.views }}: {{ thread.views }}">
                                <a href="{{ mybb.settings.bburl }}/misc.php?action=whoposted&tid={{ thread.tid }}" onclick="MyBB.whoPosted({{ thread.tid }}); return false;" class="thread__reply-count">{{ thread.replies }}</a>
                                <span class="thread__reply-legend">{% if thread.replies == 1 %}{{ lang.reply }}{% else %}{{ lang.replies }}{% endif %}</span>
                            </p>
                        </div>
                        <div class="thread__column thread__column--latest">
                            <p class="thread__latest-post">
                                <span class="thread__latest-post__text">{{ lang.lastpost_by }}</span>
                                <a href="{{ get_profile_link(thread.lastposteruid) }}" class="avatar-profile-link">
                                    {{ render_avatar(url=thread.last_poster_avatar, alt=last_poster_name, class='avatar--smallest') }}
                                </a>
                                <span class="thread__latest-post__author">
                                    {% if thread.lastposteruid == 0 %}{{ lang.guest }}{% else %}{{ thread.lastposter|raw }}{% endif %}
                                </span>
                                <a href="{{ thread.lastpostlink }}" class="thread__latest-post__date">{{ thread.lastpostdate|raw }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="block__footer-link">
                <a href="search.php?action=finduserthreads&amp;uid={{ mybb.user.uid }}">
                    {{ include('partials/icon.twig', {icon: 'comments', class: 'icon'}, with_context = false) }}
                    {{ lang.find_all_threads }}
                </a>
            </div>
        </section>
    {% endif %}

    {# Warnings #}
    {% if warnings %}
        <section class="block">
            <h1 class="title title--major">{{ lang.latest_warnings }} {{ lang.current_warning_level }}</h1>
            {% for warning in warnings %}
                <div class="row row--simple-columns warning-log">
                    <div class="row__primary">
                        <div class="warning-log__warning">{{ warning.type }} {{ warning.points }}</div>
                        {% if warning.post_subject %}
                            <div class="warning-log__post">{{ lang.warning_for_post }} <a href="{{ warning.postlink }}">{{ warning.post_subject }}</a></div>
                        {% endif %}
                        <div class="warning-log__expiry-date">
                            {{ lang.expires }}:
                            {{ expires }}
                        </div>
                    </div>
                    <div class="row__secondary">
                        <div class="warning-log__issued_by">{{ lang.issued_by }} {{ warning.issuedby|raw }}</div>
                        <div class="warning-log__issued-date">{{ warning.date_issued|raw }}</div>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    <section class="block block--form form">
        <form action="usercp.php" method="post">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <div class="section section--form">
                <div class="row row--form field">
                    <h3 class="field__name"><label for="notepad">{{ lang.personal_notepad }}</label></h3>
                    <textarea name="notepad" cols="1" rows="10" id="notepad" class="usercp_notepad">{{ mybb.user.notepad }}</textarea>
                </div>
            </div>
            <div class="form__submit">
                <input type="hidden" name="action" value="do_notepad" />
                <button type="submit" class="button" name="submit">
                    {{ include('partials/icon.twig', {icon: 'sticky-note', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.update_notepad }}</span>
                </button>
            </div>
        </form>
    </section>

{% endblock accountBody %}
