{% extends 'layouts/account.twig' %}

{% block head %}
    <title>{{ lang.subscriptions }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block accountHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.subscriptions }}</h1>
    </header>
{% endblock accountHeader %}

{% block accountBody %}

    {% include 'usercp/subscribed_menu.twig' %}

    {{ multipage|raw }} {# TODO: improve multipage so that `|raw` isn't required - perhaps make it a Twig function? #}
    <form action="usercp.php" method="post" name="input">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <input type="hidden" name="action" value="do_subscriptions" />
        <div class="thread-list thread-list--compact">
            <div class="sort-threads">
                <div class="sort-threads__column sort-threads__column--primary">
                    {{ lang.thread }}
                </div>
                <div class="sort-threads__column sort-threads__column--replies">
                    {{ lang.replies }}
                </div>
                <div class="sort-threads__column sort-threads__column--latest">
                    {{ lang.lastpost }}
                </div>
                <div class="sort-threads__column sort-threads__column--checkbox">
                    <input name="allbox" title="{{ lang.selectall }}" type="checkbox" class="checkbox checkall" value="1" />
                </div>
            </div>
            <div class="thread-list__container">
                {% for thread in threads %}
                    {% include 'usercp/subscribed_threads/row.twig' %}
                {% else %}
                    <div class="alert alert--no-results alert--aligned-block">{{ lang.no_thread_subscriptions|raw }}</div>
                {% endfor %}
            </div>
            <div class="sort-results">
                <h3 class="sort-results__title">{{ lang.with_selected }}</h3>
                <div class="select-field">
                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                    <select name="do" id="do">
                        <option value="delete">{{ lang.delete_subscriptions }}</option>
                        <option value="no_notification">{{ lang.update_no_notification }}</option>
                        <option value="email_notification">{{ lang.update_email_notification }}</option>
                        <option value="pm_notification">{{ lang.update_pm_notification }}</option>
                    </select>
                </div>
                <input type="submit" class="button button--inline" value="{{ lang.go }}" />
            </div>
        </div>
        <div class="page-controls">
            <div class="page-buttons">
                <a href="usercp2.php?action=removesubscriptions&amp;my_post_key={{ mybb.post_code }}" class="button">
                    {{ include('partials/icon.twig', {icon: 'trash', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.remove_all_subscriptions }}</span>
                </a>
            </div>
        </div>
        {{ multipage|raw }}
    </form>
{% endblock accountBody %}
