{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.post_new_poll }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.post_new_poll }}</h1>
        </header>
        <form action="polls.php" method="post">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <div class="form">
                <section class="section section--form">
                    <h2 class="title title--section">{{ lang.poll_details }}</h2>
                    <div class="section__container">
                        {{ loginbox|raw }}
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="question">{{ lang.question }}</label></h3>
                            <input type="text" class="textbox" name="question" id="question" size="40" maxlength="240" value="{{ select.question }}" />
                        </div>
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="polloptions">{{ lang.num_options }}</label></h3>
                            <p class="field__description">{{ lang.max_options }} {{ mybb.settings.maxpolloptions }}</p>
                            <input type="text" class="textbox textbox--small" name="polloptions" id="polloptions" size="10" value="{{ select.polloptions }}" />&nbsp;<input type="submit" class="button button--inline" name="updateoptions" value="{{ lang.update_options }}" />
                        </div>
                    </div>
                </section>
                <section class="section section--form">
                    <h2 class="title title--section">{{ lang.poll_options }}</h2>
                    <div class="section__container">
                        <div class="row row--form field">
                            <p class="field__description">{{ lang.poll_options_note }}</p>
                        </div>
                        {% for option in optionbits %}
                            <div class="row row--form field">
                                <h3 class="field__name"><label for="options_{{ option.id }}">{{ lang.option }} {{ option.id }}</label></h3>
                                <input type="text" class="textbox" name="options[{{ option.id }}]" id="options_{{ option.id }}" value="{{ option.value }}" />
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="section section--form">
                    <h2 class="title title--section">{{ lang.poll_settings }}</h2>
                    <div class="section__container">
                        <div class="row row--form field">
                            <p class="option-field option-field--compact"><label><input type="checkbox" class="checkbox" name="postoptions[multiple]" value="1"{% if select.postoptions.multiple %} checked="checked"{% endif %} /> {{ lang.option_multiple|raw }}</label></p>
                            <p class="option-field option-field--compact"><label><input type="checkbox" class="checkbox" name="postoptions[public]" value="1"{% if select.postoptions.public %} checked="checked"{% endif %} /> {{ lang.option_public|raw }}</label></p>
                        </div>
                        <div class="row row--form field" id="maxOptions" style="display: none">
                            <h3 class="field__name"><label for="maxoptionsfield">{{ lang.option_multiple_maxoptions }}</h3>
                            <input type="text" class="textbox textbox--small" name="maxoptions" id="maxoptionsfield" value="{{ select.maxoptions }}" />
                        </div>
                        <script type="text/javascript">
                        //<!--
                            if($("input[name='postoptions[multiple]']").is(":checked")) {
                                $("#maxOptions").css("display", "");
                            }

                            $("input[name='postoptions[multiple]']").click(function() {
                                if($(this).is(":checked")) {
                                    $("#maxOptions").css("display", "");
                                } else {
                                    $("#maxOptions").css("display", "none");
                                }
                            });
                        // -->
                        </script>
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="timeout">{{ lang.poll_timeout }}</label></h3>
                            <p class="field__description">{{ lang.timeout_note }}</p>
                            <input type="text" class="textbox textbox--small" name="timeout" id="timeout" value="{{ select.timeout }}" /> {{ lang.days }}
                        </div>
                    </div>
                </section>
                <div class="form__submit">
                    <button type="submit" class="button button--big" name="submit">
                        {{ include('partials/icon.twig', {icon: 'plus-circle', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.post_new_poll }}</span>
                    </button>
                </div>
            </div>
            <input type="hidden" name="action" value="do_newpoll" />
            <input type="hidden" name="tid" value="{{ thread.tid }}" />
        </form>
    </div>
{% endblock body %}
