{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.poll_results }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.poll_results }}</h1>
        </header>
        <div class="poll block">
            <h1 class="title title--major poll__question">{{ poll.question }}</h1>
            <div class="poll__options">
                {% for polloption in polloptions %}
                    <div class="poll__row">
                       <div class="poll__option">
                           {{ polloption.option|raw }}
                           {% if polloption.votestar == '*' %}
                                {{ include('partials/icon.twig', {icon: 'check-square', class: 'poll__your-vote', title: lang.you_voted}, with_context = false) }}
                           {% endif %}
                       </div>
                       <div class="poll__count">
                           {{ polloption.votes }}
                           ({{ polloption.percent }}%)
                       </div>
                       <div class="poll__votes">
                           <div class="poll__bar" style="width: {{ polloption.imagewidth }}%" title="{{ polloption.percent }}%"></div>
                       </div>
                       <div class="poll__users">
                           {{ polloption.userlist|raw }}
                       </div>
                   </div>
                {% endfor %}
            </div>
            <div class="poll__vote">
                <span class="poll__total">
                    {{ lang.poll_total }}
                    {{ poll.numvotes }}
                    ({{ poll.totpercent }})
                </span>
            </div>
        </div>
    </div>
{% endblock body %}
