{% set row = alt_trow() %}
{% if warning.active == 1 %}
    <tr>
        <td class="trow_sep" colspan="5">{{ lang.active_warnings }}</td>
    </tr>
{% endif %}
{% if warning.active == 2 %}
    <tr>
        <td class="trow_sep" colspan="5">{{ lang.expired_warnings }}</td>
    </tr>
{% endif %}
<tr>
    <td class="{{ row }}">
        {{ warning.warning_type }} {{ trans('warning_points', warning.points) }}
        {% if warning.post_subject %}
            <br /><small>{{ lang.warning_for_post }} <a href="{{ warning.post_link|raw }}#pid{{ warning.pid }}">{{ warning.post_subject }}</a></small>
        {% endif %}
    </td>
    <td class="{{ row }}" style="text-align: center;">
        {{ warning.date_issued|raw }}
    </td>
    <td class="{{ row }}" style="text-align: center;">
        {{ warning.expires }}
    </td>
    <td class="{{ row }}" style="text-align: center;">
        {{ warning.issuedby|raw }}
    </td>
    <td class="{{ row }}" style="text-align: center;">
        <a href="warnings.php?action=view&amp;wid={{ warning.wid }}">{{ lang.view }}</a>
    </td>
</tr>