<table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
	<tr>
		<td class="thead"><strong>{{ report.title }}</strong></td>
	</tr>
	<tr>
		<td class="tcat">{{ lang.report_to_mod }}</td>
	</tr>
	<tr>
		<td class="trow1">{{ lang.success_report_voted }}</td>
	</tr>
</table>
