{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ trans('post_reply_to', thread.subject) }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block jscripts %}
    {{ post_javascript|raw }}
{% endblock jscripts %}

{# let the newreply variable be used in shared twig templates #}
{% set composepost = newreply %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ trans('post_reply_to', thread.subject) }}</h1>
        </header>
        {% if newreply.preview %}
            <section class="block block--container">
                <h1 class="title title--major title--separation">{{ lang.post_preview }}</h1>
                <div id="posts_container">
                    <div id="posts">
                        {{ postbit|raw }}
                    </div>
                </div>
            </section>
        {% endif %}
        {{ reply_errors|raw }}
        {% if newreply.showmodnotice %}
            <div class="alert alert--red-alert">
                {{ include('partials/icon.twig', {icon: 'exclamation-triangle', class: 'alert__icon'}, with_context = false) }}
                <div class="alert__message">{{ newreply.moderation_text }}</div>
            </div>
        {% endif %}
        {% if newreply.showforumrules %}
            {% if forum.rulestype == 2 %}
                <section class="container">
                    <a href="misc.php?action=rules&amp;fid={{ forum.fid }}">{{ forum.rulestitle }}</a>
                </section>
            {% else %}
            <section class="container">
                <h4 class="title title--container">{{ forum.rulestitle }}</h4>
                <div class="scaleimages">{{ forum.rules|raw }}</div>
            </section>
            {% endif %}
        {% endif %}
        <form action="newreply.php?tid={{ thread.tid }}&amp;processed=1" method="post" enctype="multipart/form-data" name="input">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <div class="form form--compose compose">
                <input type="checkbox" class="compose__checkbox" id="show-post-options">
                <input type="checkbox" class="compose__checkbox" id="show-attachments"{% if newreply.showattachments and attachments|length > 0 %} checked="checked"{% endif %}>
                <section class="section section--form compose__primary-section">
                    <div class="row row--form field">
                        <h3 class="field__name visually-hidden"><label for="subject">{{ lang.post_subject }}</label></h3>
                        <input type="text" class="textbox textbox--subject" name="subject" size="40" maxlength="85" id="subject" value="{{ newreply.subject }}" tabindex="1" />
                    </div>
                    {{ loginbox|raw }}

                    {% if newreply.showposticons %}
                        {% set emptyiconcheck = newreply.emptyiconcheck %}
                        {% include 'misc/posticons.twig' %}
                    {% endif %}

                    <div class="row row--form field">
                        <h3 class="field__name visually-hidden"><label for="message">{{ lang.your_message }}</label></h3>
                        <div class="compose__container">
                            <div class="compose__message">
                                <textarea name="message" id="message" rows="20" cols="70" tabindex="3">{{ newreply.message }}</textarea>
                                {{ codebuttons|raw }}
                                {% if newreply.multiquote %}
                                    <div id="multiquote_unloaded">
                                        {{ newreply.multiquote_text }} <a href="./newreply.php?tid={{ thread.tid }}" onclick="return Post.loadMultiQuoted();">{{ newreply.multiquote_quote }}</a>,
                                        <a href="javascript:void(0)" onclick="Post.clearMultiQuoted(); return false;">{{ newreply.multiquote_deselect }}</a>
                                    </div>
                                {% endif %}
                            </div>
                            {{ smilieinserter|raw }}
                        </div>
                        <div class="compose__option-buttons">
                            {% if newreply.showpostoptions %}
                                <label for="show-post-options" class="button button--basic compose__option-button--options">
                                    {{ include('partials/icon.twig', {icon: 'cog', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.options }}</span>
                                </label>
                            {% endif %}

                            {% if newreply.showattachments %}
                                <label for="show-attachments" class="button button--basic compose__option-button--attachments">
                                    {{ include('partials/icon.twig', {icon: 'paperclip', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.upload_attachments }}</span>
                                </label>
                            {% endif %}

                            {% if mybb.user.uid %}
                                <button type="submit" name="savedraft" value="draft" class="button button--basic">
                                    {{ include('partials/icon.twig', {icon: 'file', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.save_draft }}</span>
                                </button>
                            {% endif %}

                            <button type="submit" name="previewpost" value="preview" class="button button--basic">
                                {{ include('partials/icon.twig', {icon: 'edit', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.preview_post }}</span>
                            </button>
                        </div>
                    </div>
                </section>

                {% if newreply.showpostoptions %}
                    <section class="section section--form compose__hidden-section compose__hidden-section--options">
                    	<h2 class="title title--section">{{ lang.post_options }}</h2>
                    	<div class="section__container">
                    		<div class="row row--form field">
                                {% if newreply.showsignature %}
                                    <p class="option-field option-field--compact">
                                        <label>
                                            <input type="checkbox" class="checkbox" name="postoptions[signature]" value="1" tabindex="6"{% if newreply.postoptions.signature %} checked="checked"{% endif %} />
                                            {{ lang.options_sig|raw }}
                                        </label>
                                    </p>
                                {% endif %}
                                {% if newreply.showdisablesmilies %}
                                    <p class="option-field option-field--compact">
                                        <label>
                                            <input type="checkbox" class="checkbox" name="postoptions[disablesmilies]" value="1" tabindex="9"{% if newreply.postoptions.disablesmilies %} checked="checked"{% endif %} />
                                            {{ lang.options_disablesmilies|raw }}
                                        </label>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endif %}

                {% if newreply.showmodoptions %}
                    <section class="section section--form compose__hidden-section compose__hidden-section--options">
                        <h2 class="title title--section">{{ lang.mod_options }}</h2>
                        <div class="section__container">
                              <div class="row row--form field">
                                 {% if newreply.showcloseoption %}
                                    <p class="option-field option-field--compact">
                                        <label>
                                            <input type="checkbox" class="checkbox" name="modoptions[closethread]" value="1"{% if newreply.modoptions.closethread %} checked="checked"{% endif %} />
                                            {{ lang.close_thread|raw }}
                                        </label>
                                    </p>
                                {% endif %}
                                {% if newreply.showstickoption %}
                                    <p class="option-field option-field--compact">
                                        <label>
                                            <input type="checkbox" class="checkbox" name="modoptions[stickthread]" value="1"{% if newreply.modoptions.stickthread %} checked="checked"{% endif %} />
                                            {{ lang.stick_thread|raw }}
                                        </label>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endif %}

                {% if mybb.user.uid %}
                    {% include 'misc/subscriptionmethod.twig' %}
                {% endif %}

                {{ captcha|raw }}

                {% if newreply.showattachments %}
                    {% include 'misc/attachments.twig' %}
                {% endif %}

                <div class="form__submit">
                    <button type="submit" class="button button--big" name="submit" tabindex="3" accesskey="s">
                        {{ include('partials/icon.twig', {icon: 'comment', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.post_reply }}</span>
                    </button>
                </div>
                <input type="hidden" name="action" value="do_newreply" />
                <input type="hidden" name="replyto" value="{{ newreply.replyto }}" />
                <input type="hidden" name="posthash" value="{{ newreply.posthash }}" />
                <input type="hidden" name="attachmentaid" value="" />
                <input type="hidden" name="attachmentact" value="" />
                <input type="hidden" name="quoted_ids" value="{{ newreply.quoted_ids }}" />
                <input type="hidden" name="tid" value="{{ thread.tid }}" />
                {% if newreply.isdraft %}
                    <input type="hidden" name="pid" value="{{ newreply.pid }}" />
                {% endif %}
            </div>
        </form>

        {% if mybb.settings.threadreview %}
            <section class="block">
                <h2 class="title title--major">{{ lang.thread_review }}</h2>
                {% for post in posts %}
                    {% if post.visible == 1 %}
                        {% set row = alt_trow() %}
                    {% else %}
                        {% set row = 'trow_shaded' %}
                    {% endif %}
                    <div class="row">
                        <h2 class="title title--minor">{{ lang.posted_by }} {{ post.username }} - {{ post.postdate|raw }}</h2>
                        <div class="block__content scaleimages">
                            {{ post.message|raw }}
                        </div>
                    </div>
                {% endfor %}
                {% if newreply.showmore %}
                    <div class="block__footer-link">{{ lang.thread_review_more|raw }}</div>
                {% endif %}
            </section>
        {% endif %}
    </div>
{% endblock body %}
