{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.empty_folders }}</title>
{% endblock head %}

{% block body %}
    <form action="private.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <table width="100%" border="0" align="center">
            <tr>
                {# To do: usercpnav #}
                <td valign="top">
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead" colspan="3"><strong>{{ lang.empty_folders }}</strong></td>
                        </tr>
                        <tr>
                            <td class="trow1" colspan="3"><span class="smalltext">{{ lang.empty_note|raw }}</span></td>
                        </tr>
                        <tr>
                            <td class="tcat" align="center"><strong>{{ lang.export_folder }}</strong></td>
                            <td class="tcat" align="center"><strong>{{ lang.num_messages }}</strong></td>
                            <td class="tcat" align="center"><strong>{{ lang.empty_q }}</strong></td>
                        </tr>
                        {% for folder in folderlist %}
                            <tr>
                                <td class="trow1"><strong>{{ folder.foldername }}</strong></td>
                                <td class="trow1" align="center">{{ folder.foldercount }}</td>
                                <td class="trow1" align="center"><input type="checkbox" class="checkbox" name="empty[{{ folder.fid }}]" value="1" /></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="trow2" align="center" colspan="3"><input type="checkbox" class="checkbox" name="keepunread" value="1" checked="checked" /><strong>{{ lang.keep_unread }}</strong></td>
                        </tr>
                    </table>
                    <br />
                    <div align="center">
                        <input type="hidden" name="action" value="do_empty" />
                        <input type="submit" class="button" name="submit" value="{{ lang.delete }}" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
{% endblock body %}
