{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.archive_messages }}</title>
{% endblock head %}

{% block body %}             
    <form action="private.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <table width="100%" border="0" align="center">
            <tr>
            {# To do: usercpnav #}
                <td valign="top">
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead" colspan="2"><strong>{{ lang.archive_messages }}</strong></td>
                        </tr>
                        <tr>
                            <td class="tcat" colspan="2"><span class="smalltext">{{ lang.archive_note }}</span></td>
                        </tr>
                        <tr>
                            <td class="trow1" valign="top" width="30%"><strong>{{ lang.folders }}</strong></td>
                            <td class="trow1">
                                <select name="exportfolders[]" multiple="multiple">
                                    <option value="all" selected="selected">{{ lang.all_folders }}</option>
                                    {% for folder in folderlist %}
                                        <option value="{{ folder.id }}">{{ folder.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="trow2" valign="top" width="30%"><strong>{{ lang.date_limit }}</strong></td>
                            <td class="trow2">
                                <select name="dayway">
                                    <option value="older">{{ lang.date_limit_older }}</option>
                                    <option value="newer">{{ lang.date_limit_newer }}</option>
                                    <option value="disregard">{{ lang.date_limit_disregard }}</option>
                                </select> 
                                <input type="text" class="textbox" name="daycut" value="30" size="3" maxlength="4" /> {{ lang.date_limit_days }}</td>
                        </tr>
                        <tr>
                            <td class="trow1" valign="top" width="30%"><strong>{{ lang.export_unread }}</strong></td>
                            <td class="trow1">
                                <input type="radio" class="radio" name="exportunread" value="1" /> {{ lang.yes }} <input type="radio" class="radio" name="exportunread" value="0" checked="checked" /> {{ lang.no }} 
                            </td>
                        </tr>
                        <tr>
                            <td class="trow2" valign="top" width="30%"><strong>{{ lang.delete_archived }}</strong><br /><span class="smalltext">{{ lang.delete_archived_note }}</span></td>
                            <td class="trow2"><input type="radio" class="radio" name="deletepms" value="1" /> {{ lang.yes }} <input type="radio" class="radio" name="deletepms" value="0" checked="checked" /> {{ lang.no }} </td>
                        </tr>
                        <tr>
                            <td class="trow1" valign="top" width="30%"><strong>{{ lang.export_format }}</strong><br /><span class="smalltext">{{ lang.export_format_note }}</span></td>
                            <td class="trow1">
                                <input type="radio" class="radio" name="exporttype" value="html" checked="checked" /> {{ lang.export_html }}<br />
                                <input type="radio" class="radio" name="exporttype" value="txt" /> {{ lang.export_txt }}<br />
                                <input type="radio" class="radio" name="exporttype" value="csv" /> {{ lang.export_csv }}
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div align="center">
                        <input type="hidden" name="action" value="do_export" />
                        <input type="submit" class="button" name="submit" value="{{ lang.archive_messages }}" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
{% endblock body %}
