{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.pm_folders }}</title>
{% endblock head %}

{% block body %}
    <form action="private.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <table width="100%" border="0" align="center">
            <tr>
                {# To do: usercpnav #}
                <td valign="top">
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead"><strong>{{ lang.existing_folders }}</strong></td>
                        </tr>
                        <tr>
                            <td class="trow1"><span class="smalltext">{{ lang.edit_folder_note|raw }}</span></td>
                        </tr>
                        {% for folder in folderlist %}
                            <tr>
                                <td class="trow1">
                                    <input type="text" class="textbox" name="folder[{{ folder.fid }}]" size="25" value="{{ folder.foldername }}" maxlength="30" /> 
                                    {% if folder.default %}
                                        <span class="smalltext">({{ folder.defaultname }} - {{ lang.cannot_be_removed }})</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br />
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead"><strong>{{ lang.new_folders }}</strong></td>
                        </tr>
                        <tr>
                            <td class="trow1"><span class="smalltext">{{ lang.add_folders_note }}</span></td>
                        </tr>
                        {% for fid in 1..5 %}
                            <tr>
                                <td class="trow1"><input type="text" class="textbox" name="folder[new{{ fid }}]" size="25" value="" maxlength="30" /></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br />
                    <div align="center">
                        <input type="hidden" name="action" value="do_folders" />
                        <input type="submit" class="button" name="submit" value="{{ lang.update_folders }}" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
{% endblock body %}
