{% extends 'layouts/messenger.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.private_messaging }}</title>
{% endblock head %}

{% block messengerHeader %}
    <header class="page-header">
		<h1 class="title title--page">{{ private.foldername }}</h1>
    </header>
{% endblock messengerHeader %}

{% block messengerBody %}
    {% if mybb.usergroup.pmquota and private.pmtotal >= mybb.usergroup.pmquota %}
        <section class="alert alert--danger">
        	<i class="alert__icon fas fa-exclamation-triangle"></i>
        	<div class="alert__message">
        		<h1 class="alert__title">{{ lang.reached_warning }}</h1>
        		<p class="alert__description">{{ lang.reached_warning2 }}</p>
        	</div>
        </section>
    {% endif %}
    <form action="private.php" method="post" name="pmForm">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <div class="messenger__search">
			<input type="text" name="keywords" placeholder="{{ lang.enter_keywords }}" class="textbox textbox--large" size="25" />
			<button type="submit" class="button button--inline" name="quick_search" value="search">
				<i class="button__icon fas fa-search"></i>
				<span class="button__text">{{ lang.search_pms }}</span>
			</button>
			<a href="private.php?action=advanced_search" class="messenger__advanced-search button button--basic button--inline">
				<i class="button__icon fas fa-cog"></i>
				<span class="button__text">{{ lang.advanced_search }}</span>
			</a>
		</div>
        <section class="message-list">
            <h2 class="visually-hidden">{{ private.foldername }}</h2>
            {% set ascDesc %}
                <span class="sort-threads__order">
                    <a href="private.php?fid={{ private.folder }}&amp;sortby={{ sortby }}&amp;order={{ private.oppsortnext }}" class="sort-messages__link">
                        {% if private.oppsortnext == 'asc' %}
                            <i class="fas fa-chevron-circle-up" title="{{ private.oppsort }}"></i>
                        {% else %}
                            <i class="fas fa-chevron-circle-down" title="{{ private.oppsort }}"></i>
                        {% endif %}
                    </a>
                </span>
            {% endset %}
            <div class="sort-messages">
				<div class="sort-messages__column sort-messages__column--primary">
                    <a href="private.php?fid={{ private.folder }}&amp;sortby=subject&amp;order=asc" class="sort-messages__link">{{ lang.message_title }}</a>
                    {% if private.orderarrow.subject %}
                        {% set sortby = 'subject' %}
                        {{ ascDesc }}
                        <span class="smalltext">[<a href="private.php?fid={{ private.folder }}&amp;sortby=subject&amp;order={{ private.oppsortnext }}">{{ private.oppsort }}</a>]</span>
                    {% endif %}
					<span class="sort-messages__username">
                        &mdash; <a href="private.php?fid={{ private.folder }}&amp;sortby=username&amp;order=asc" class="sort-messages__link">{{ private.sender }}</a>
                        {% if private.orderarrow.username %}
                            {% set sortby = 'username' %}
                            {{ ascDesc }}
                        {% endif %}
                    </span>
				</div>
				<div class="sort-messages__column sort-messages__column--date">
                    <a href="private.php?fid={{ private.folder }}&amp;sortby=dateline&amp;order=desc" class="sort-messages__link">{{ lang.date_sent }}</a>
                    {% if private.orderarrow.dateline %}
                        {% set sortby = 'dateline' %}
                        {{ ascDesc }}
                    {% endif %}
				</div>
				<div class="sort-messages__column sort-messages__column--checkbox messages-list__select-all">
                    <input name="allbox" title="{{ lang.check_all }}" type="checkbox" class="checkbox checkall" value="{{ lang.check_all }}" />
                </div>
			</div>
            <div class="message-list__container">
                {% for message in messagelist %}
                    {% include 'private/private/item.twig' %}
                {% else %}
                    <div class="alert alert--no-results">{{ lang.nomessages }}</div>
                {% endfor %}
            </div>
            <div class="sort-results">
				<button type="submit" class="button button--inline" name="moveto" value="move">
					<i class="button__icon fas fa-arrow-right"></i>
					<span class="button__text">{{ lang.move_to }}</span>
				</button>
                <div class="select-field">
                    <i class="select-field__icon fas fa-sort"></i>
                    <select name="fid">
                        {% for folder in folders %}
                            <option value="{{ folder.id }}"{% if folder.sel %} selected="selected"{% endif %}>{{ folder.name }}</option>
                        {% endfor %}
                    </select>
                </div>
				<span class="sort-results__text">{{ lang.or }}</span>
				<button type="submit" class="button button--inline" name="delete" value="delete">
					<i class="button__icon fas fa-trash"></i>
					<span class="button__text">{{ lang.delete }}</span>
				</button>
				<span class="sort-results__text">{{ lang.selected_messages }}</span>
			</div>
        </section>
        <input type="hidden" name="action" value="do_stuff" />
    </form>
    
    {{ multipage|raw }}

    {% if mybb.usergroup.pmquota %}
        {% spaceless %}
            <div class="messenger__space">
                <div class="messenger-space">
                    <span class="messenger-space__used messenger-space__used--{{ private.spaceused_severity }}" style="width: {{ private.spaceused }}%;">
                        <span class="messenger-space__text messenger-space__text--over-half">{% if private.spaceused > 50 %}{{ private.overhalf }} {{ lang.pmspaceused }}{% endif %}</span>
                    </span>
                    <span class="messenger-space__unused" style="width: {{ private.spaceused2 }}%;">
                        <span class="messenger-space__text messenger-space__text--under-half">{% if private.spaceused <= 50 %}{{ private.belowhalf }} {{ lang.pmspaceused }}{% endif %}</span>
                    </span>
                </div>
            </div>
        {% endspaceless %}
    {% endif %}

    <div class="page-controls">
		<div class="page-buttons">
			<a href="private.php?action=folders" class="button button--basic button--inline">
				<i class="button__icon far fa-folder-open"></i>
				<span class="button__text">{{ lang.manage_folders }}</span>
			</a>
            {% if mybb.user.totalpms %}
                <a href="private.php?action=empty" class="button button--basic button--inline">
                	<i class="button__icon fas fa-trash"></i>
                	<span class="button__text">{{ lang.empty_folders2 }}</span>
                </a>
                <a href="private.php?action=export" class="button button--basic button--inline">
                	<i class="button__icon fas fa-download"></i>
                	<span class="button__text">{{ lang.export_messages2 }}</span>
                </a>
            {% endif %}
		</div>
	</div>
{% endblock messengerBody %}
