{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.compose_pm }}</title>
    <script type="text/javascript" src="{{ asset_url('jscripts/usercp.js') }}"></script>
{% endblock head %}

{% block body %}
    <form action="private.php" method="post" name="input">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <table width="100%" border="0" align="center">
            <tr>
                {# To do: usercpnav #}
                <td valign="top">
                    {% if sendpm.preview %}
                        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder tfixed clear no_bottom_border">
                            <tr>
                                <td class="thead"><strong>{{ lang.post_preview }}</strong></td>
                            </tr>
                            <tr>
                                <td id="posts_container">
                                    <div id="posts">
                                        {{ postbit|raw }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br />
                    {% endif %}
                    {{ send_errors|raw }}
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead" colspan="2"><strong>{{ lang.compose_pm }}</strong></td>
                        </tr>
                        <tr>
                            <td class="trow1" valign="top" width="200"><strong>{{ lang.compose_to }}</strong>
                                <script type="text/javascript">
                                <!--
                                    document.write('(<a href="javascript:void(0)" onclick="showBcc(); return false;" title="{{ lang.compose_bcc_show_title }}">{{ lang.compose_bcc_show }}<\/a>)');
                                // -->
                                </script>
                                <br /><span class="smalltext">
                                    {{ lang.separate_names }}
                                    {% if mybb.user.buddylist and mybb.settings.use_xmlhttprequest %}
                                        <script type="text/javascript"><!--
                                        document.write('<br /><span class="smalltext"><a href="javascript:void(0)" onclick="UserCP.openBuddySelect(\'to\'); return false;">
                                        <img src="{{ theme.imgdir }}/buddies.png" alt="" style="vertical-align: middle;" alt="" title="{{ lang.select_from_buddies }}" /> {{ lang.select_from_buddies }}</a></span>');
                                        // --></script>
                                    {% endif %}
                                </span>
                            </td>
                            <td class="trow1" valign="top">
                                <textarea name="to" id="to" rows="2" cols="38" tabindex="1" style="width: 450px;">{{ sendpm.to }}</textarea>
                                {% if mybb.usergroup.maxpmrecipients %}
                                    {{ trans('max_recipients', mybb.usergroup.maxpmrecipients) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr id="bcc_area">
                            <td class="trow2" valign="top">
                                <strong>{{ lang.compose_bcc }}</strong>
                                {% if mybb.user.buddylist and mybb.settings.use_xmlhttprequest %}
                                    <script type="text/javascript"><!--
                                    document.write('<br /><span class="smalltext"><a href="javascript:void(0)" onclick="UserCP.openBuddySelect(\'bcc\'); return false;">
                                    <img src="{{ theme.imgdir }}/buddies.png" alt="" style="vertical-align: middle;" alt="" title="{{ lang.select_from_buddies }}" /> {{ lang.select_from_buddies }}</a></span>');
                                    // --></script>
                                {% endif %}
                            </td>
                            <td class="trow2"><textarea name="bcc" id="bcc" rows="2" cols="38" tabindex="1" style="width: 450px;">{{ sendpm.bcc }}</textarea></td>
                        </tr>
                        <tr>
                            <td class="trow1"><strong>{{ lang.compose_subject }}</strong></td>
                            <td class="trow1"><input type="text" class="textbox" name="subject" size="40" maxlength="85" value="{{ sendpm.subject }}" tabindex="3" /></td>
                        </tr>
                        {% if sendpm.showposticons %}
                            <tr>
                                <td class="trow1" style="vertical-align: top">
                                    <strong>{{ lang.message_icon }}</strong>
                                    <span class="smalltext">
                                        <label class="posticons_label"><input type="radio" class="radio" name="icon" value="-1"{% if sendpm.emptyiconcheck %} checked="checked"{% endif %} />{{ lang.no_post_icon }}</label>
                                    </span>
                                </td>
                                <td class="trow1" valign="top">
                                    {% for posticon in posticons %}
                                        <label class="posticons_label">
                                            <input type="radio" name="icon" value="{{ posticon.iid }}"{% if posticon.checked %} checked="checked"{% endif %} /> 
                                            <img src="{{ posticon.path }}" alt="{{ posticon.name }}" title="{{ posticon.name }}" />
                                        </label>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="trow2" valign="top"><strong>{{ lang.compose_message }}</strong>{{ smilieinserter|raw }}</td>
                            <td class="trow2">
                                <textarea name="message" id="message" rows="20" cols="70" tabindex="4">{{ sendpm.message }}</textarea>
                                {{ codebuttons|raw }}
                            </td>
                        </tr>
                        <tr>
                            <td class="trow1" valign="top"><strong>{{ lang.compose_options }}</strong></td>
                            <td class="trow1">
                                <span class="smalltext">
                                    <label><input type="checkbox" class="checkbox" name="options[signature]" value="1" tabindex="5"{% if sendpm.options.signature %} checked="checked"{% endif %} />{{ lang.options_sig|raw }}</label><br />
                                    <label><input type="checkbox" class="checkbox" name="options[disablesmilies]" value="1" tabindex="6"{% if sendpm.options.disablesmilies %} checked="checked"{% endif %} />{{ lang.options_disable_smilies|raw }}</label><br />
                                    <label><input type="checkbox" class="checkbox" name="options[savecopy]" value="1" tabindex="7"{% if sendpm.options.savecopy %} checked="checked"{% endif %} />{{ lang.options_save_copy|raw }}</label>
                                    {% if mybb.usergroup.cantrackpms %}
                                        <br /><label><input type="checkbox" class="checkbox" name="options[readreceipt]" value="1" tabindex="8"{% if sendpm.options.readreceipt %} checked="checked"{% endif %} />{{ lang.options_read_receipt|raw }}</label>
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <input type="hidden" name="action" value="do_send" />
                    <input type="hidden" name="pmid" value="{{ sendpm.pmid }}" />
                    <input type="hidden" name="do" value="{{ sendpm.do }}" />
                    <div style="text-align: center;">
                        <input type="submit" class="button" name="submit" value="{{ lang.send_message }}" tabindex="9" accesskey="s" />
                        <input type="submit" class="button" name="saveasdraft" value="{{ lang.save_draft }}" tabindex="10" />
                        <input type="submit" class="button" name="preview" value="{{ lang.preview }}" tabindex="11" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
    <!--
        if($("#bcc_area").length > 0 && $("#bcc").val() == "")
        {
            $("#bcc_area").css("display", "none");
        }

        function showBcc()
        {
            if($("#bcc_area").css("display") == 'none')
            {
                $("#bcc_area").css("display", "");
            }
            else
            {
                $("#bcc_area").css("display", "none");
            }
        }
    // -->
    </script>
    <link rel="stylesheet" href="{{ asset_url('jscripts/select2/select2.css') }}">
    <script type="text/javascript" src="{{ asset_url('jscripts/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
    <!--
    if({{ mybb.settings.use_xmlhttprequest }})
    {
        MyBB.select2();
        $("#to").select2({
            placeholder: "{{ lang.search_user }}",
            minimumInputLength: 2,
            maximumSelectionSize: {{ mybb.usergroup.maxpmrecipients }},
            multiple: true,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: "xmlhttp.php?action=get_users",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term, // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data};
                }
            },
            initSelection: function(element, callback) {
                var query = $(element).val();
                if (query !== "") {
                    var newqueries = [];
                    exp_queries = query.split(",");
                    $.each(exp_queries, function(index, value ){
                        if(value.replace(/\s/g, '') != "")
                        {
                            var newquery = {
                                id: value.replace(/,\s?/g, ", "),
                                text: value.replace(/,\s?/g, ", ")
                            };
                            newqueries.push(newquery);
                        }
                    });
                    callback(newqueries);
                }
            }
        });

      $("#bcc").select2({
            placeholder: "{{ lang.search_user }}",
            minimumInputLength: 2,
            maximumSelectionSize: {{ mybb.usergroup.maxpmrecipients }},
            multiple: true,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: "xmlhttp.php?action=get_users",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term, // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data};
                }
            },
            initSelection: function(element, callback) {
                var query = $(element).val();
                if (query !== "") {
                    var newqueries = [];
                    exp_queries = query.split(",");
                    $.each(exp_queries, function(index, value ){
                        if(value.replace(/\s/g, '') != "")
                        {
                            var newquery = {
                                id: value.replace(/,\s?/g, ", "),
                                text: value.replace(/,\s?/g, ", ")
                            };
                            newqueries.push(newquery);
                        }
                    });
                    callback(newqueries);
                }
            }
        });
    }
    // -->
    </script>
    <script type="text/javascript">
        $(".author_avatar img").error(function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock body %}
