{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.pm_tracking }}</title>
{% endblock head %}

{% block body %}
    <table width="100%" border="0" align="center">
        <tr>
            {# To do: usercpnav #}
            <td valign="top">
                {{ read_multipage|raw }}
                <form action="private.php" method="post">
                    <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
                    <input type="hidden" name="action" value="do_tracking" />
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead" align="center" colspan="5"><strong>{{ lang.read_messages }}</strong></td>
                        </tr>
                        <tr>
                            <td class="tcat" colspan="2"><span class="smalltext"><strong>{{ lang.message_title }}</strong></span></td>
                            <td class="tcat" align="center" width="30%"><span class="smalltext"><strong>{{ lang.sentto }}</strong></span></td>
                            <td class="tcat" align="right" width="20%"><span class="smalltext"><strong>{{ lang.dateread }}</strong></span></td>
                            <td class="tcat" align="center" width="1%"><span class="smalltext"><input type="checkbox" class="checkbox checkall" name="allbox" /></span></td>
                        </tr>
                        {% for readmessage in readmessages %}
                            <tr>
                                <td align="center" class="trow1" width="1%"><img src="{{ theme.imgdir }}/old_pm.png" alt="" /></td>
                                <td class="trow2">{{ readmessage.subject }}</td>
                                <td class="trow1" align="center">
                                    {{ render_avatar(url=readmessage.to_avatar, alt=readmessage.tousername ) }}

                                    {{ readmessage.profilelink|raw }}
                                </td>
                                <td class="trow2" align="right"><span class="smalltext">{{ readmessage.readdate|raw }}</span></td>
                                <td class="trow1"><input type="checkbox" class="checkbox" name="readcheck[{{ readmessage.pmid }}]" value="1" /></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td align="center" class="trow1" colspan="5">{{ lang.no_readmessages }}</td>
                            </tr>
                        {% endfor %}
                        {% if readmessages %}
                            <tr>
                                <td class="tfoot" align="right" colspan="5">
                                    <strong>
                                        <input type="submit" class="button" name="stoptracking" value="{{ lang.stop_tracking }}" /> {{ lang.selected_messages }} / 
                                        <a href="private.php?action=stopalltracking&amp;my_post_key={{ mybb.post_code }}">{{ lang.stop_tracking_all }}</a>
                                    </strong>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </form>
                <br />
                {{ unread_multipage|raw }}
                <form action="private.php" method="post">
                    <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
                    <input type="hidden" name="action" value="do_tracking" />
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead" align="center" colspan="5"><strong>{{ lang.unread_messages }}</strong></td>
                        </tr>
                        <tr>
                            <td class="tcat" colspan="2"><span class="smalltext"><strong>{{ lang.message_title }}</strong></span></td>
                            <td class="tcat" align="center" style="white-space: nowrap" width="30%"><span class="smalltext"><strong>{{ lang.sentto }}</strong></span></td>
                            <td class="tcat" align="right" style="white-space: nowrap" width="20%"><span class="smalltext"><strong>{{ lang.datesent }}</strong></span></td>
                            <td class="tcat" align="center" width="1%" style="white-space: nowrap"><span class="smalltext"><input type="checkbox" class="checkbox checkall" name="allbox" /></span></td>
                        </tr>
                        {% for unreadmessage in unreadmessages %}
                            <tr>
                                <td align="center" class="trow1" width="1%"><img src="{{ theme.imgdir }}/new_pm.png" alt="" /></td>
                                <td class="trow2">{{ unreadmessage.subject }}</td>
                                <td class="trow1" align="center">
                                    {{ render_avatar(url=unreadmessage.to_avatar, alt=unreadmessage.tousername ) }}

                                    {{ unreadmessage.profilelink|raw }}
                                </td>
                                <td class="trow2" align="right"><span class="smalltext">{{ unreadmessage.senddate|raw }}</span></td>
                                <td class="trow1"><input type="checkbox" class="checkbox" name="unreadcheck[{{ unreadmessage.pmid }}]" value="1" /></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td align="center" class="trow1" colspan="5">{{ lang.no_unreadmessages }}</td>
                            </tr>
                        {% endfor %}
                        {% if unreadmessages %}
                            <tr>
                                <td class="tfoot" align="right" colspan="5">
                                    <strong>
                                        <input type="submit" class="button" name="stoptrackingunread" value="{{ lang.stop_tracking }}" /> / 
                                        <input type="submit" class="button" name="cancel" value="{{ lang.delete }}" /> {{ lang.selected_messages }}
                                    </strong>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </form>
            </td>
        </tr>
    </table>
{% endblock body %}
