{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.account_activation }}</title>
{% endblock head %}

{% block body %}
    <form action="member.php" method="post">
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead" colspan="2"><strong>{{ lang.activate_account }}</strong></td>
            </tr>
            <tr>
                <td class="trow1" width="30%"><strong>{{ lang.username }}</strong></td>
                <td class="trow1"><input type="text" class="textbox" name="username" value="{{ activate.username }}" /></td>
            </tr>
            <tr>
                <td class="trow1" width="30%"><strong>{{ lang.activation_code }}</strong></td>
                <td class="trow1"><input type="text" class="textbox" name="code" value="{{ activate.code }}" /></td>
            </tr>
        </table>
        <br />
        <div align="center">
            <input type="hidden" name="action" value="activate" />
            <input type="submit" class="button" name="regsubmit" value="{{ lang.activate_account }}" />
        </div>
    </form>
{% endblock body %}
