{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.login }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content page-content--centered">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.login }}</h1>
       </header>
        {{ inline_errors|raw }}
        {% if mybb.user.uid %}
            <div class="alert">
                <div class="alert__message">{{ lang.already_logged_in|raw }}</div>
            </div>
        {% endif %}
        <form action="member.php" method="post">
            <section class="block block--form form">
                <div class="section section--form">
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="username">{{ lang.username }}</label></h3>
                        <input type="text" class="textbox" name="username" id="username" autocomplete="username" value="{{ login.username }}" tabindex="1" required autofocus>
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="password">{{ lang.password }}</label></h3>
                        <p class="field__description"><a href="member.php?action=lostpw">{{ lang.lostpw_note }}</a></p>
                        <input type="password" class="textbox" name="password" id="password" autocomplete="current-password" value="{{ login.password }}" tabindex="2" required>
                    </div>
                    <div class="row row--form field">
                        <p class="option-field option-field--compact">
                            <label title="{{ lang.remember_me_desc }}"><input type="checkbox" class="checkbox" name="remember" checked="checked" value="yes" /> {{ lang.remember_me }}</label>
                        </p>
                    </div>
                    {{ captcha|raw }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="button button--big">
                        {{ include('partials/icon.twig', {icon: 'sign-in-alt', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.login }}</span>
                    </button>
                </div>
            </section>
            <input type="hidden" name="action" value="do_login" />
            <input type="hidden" name="url" value="{{ login.redirect_url }}" />
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        </form>
    </div>
{% endblock body %}
