{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.lost_pw }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content page-content--centered">
        <header class="page-header">
           <h1 class="title title--page">{{ lang.lost_pw_form }}</h1>
       </header>
       <form action="member.php" method="post">
           {{ errors|raw }}
           <div class="block block--form form">
               <section class="section section--form">
                   <div class="row row--form field">
                       <h3 class="field__name"><label for="email">{{ lang.email_address }}</label></h3>
                       <input type="text" class="textbox" name="email" id="email" value="{{ email }}" />
                   </div>
               </section>
               {{ captcha|raw }}
               <div class="form__submit">
                   <button name="submit" type="submit" class="button button--medium">
                       {{ include('partials/icon.twig', {icon: 'key', class: 'button__icon'}, with_context = false) }}
                       <span class="button__text">{{ lang.request_user_pass }}</span>
                   </button>
               </div>
           </div>
            <input type="hidden" name="action" value="do_lostpw" />
        </form>
    </div>
{% endblock body %}
