{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ trans('profile', memprofile.username) }} - {{ mybb.settings.bbname }}</title>
    <script type="text/javascript" src="{{ asset_url('jscripts/report.js') }}"></script>
{% endblock head %}

{% block body %}
    <fieldset>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td width="75%">
                    <span class="largetext"><strong>{{ memprofile.formattedname|raw }}</strong></span><br />
                    <span class="smalltext">
                        ({{ memprofile.user_title }})<br />
                        {% if memprofile.groupimage %}
                            <img src="{{ memprofile.groupimage }}" alt="{{ memprofile.user_title }}" title="{{ memprofile.user_title }}" /><br />
                        {% endif %}
                        {% if memprofile.starimage and memprofile.stars %}
                            {% spaceless %}
                                {% for star in range(1, memprofile.stars) %}
                                    <img src="{{ memprofile.starimage }}" border="0" alt="*" />
                                {% endfor %}
                            {% endspaceless %}
                        {% endif %}
                        <br />
                        <br />
                        <strong>{{ lang.registration_date }}</strong> {{ memprofile.memregdate|raw }}<br />
                        <strong>{{ lang.date_of_birth }}</strong> {{ memprofile.membday }} {{ memprofile.membdayage }}<br />
                        <strong>{{ lang.local_time }}</strong> {{ trans('local_time_format', memprofile.memlocaldate, memprofile.memlocaltime) }}<br />
                        <strong>{{ lang.postbit_status }}</strong> 
                        {% if memprofile.isonline %}
                            <a href="online.php"><span class="online" style="font-weight: bold;">{{ lang.postbit_status_online }}</span></a> ({{ memprofile.online_location|raw }} @ {{ memprofile.online_location_time }})
                        {% else %}
                            <span class="offline" style="font-weight: bold;">{{ lang.postbit_status_offline }}</span>
                        {% endif %}
                    </span>
                </td>
                <td width="25%" align="right" valign="middle">
                    {% if memprofile.useravatar %}
                        <img src="{{ memprofile.avatar_image }}" alt="" {{ memprofile.avatar_width_height }} />
                    {% endif %}
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    {% if memprofile.away %}
        <fieldset>
            <legend><strong>{{ trans('away_note', memprofile.username) }}</strong></legend>
            <em>{{ lang.away_reason }} {{ memprofile.awayreason }}</em><br />
            <span class="smalltext">{{ lang.away_since }} {{ memprofile.awaydate }} &mdash; {{ lang.away_returns }} {{ memprofile.returndate }}</span>
        </fieldset>
        <br />
    {% endif %}
    {% if memprofile.banned %}
        <fieldset>
            <legend><strong>{{ lang.ban_note }}</strong></legend>
            <em>{{ lang.banned_warning2 }}: {{ memprofile.banned_reason }}</em><br />
            <span class="smalltext">
                <strong>{{ lang.ban_by }}:</strong> {{ memprofile.banned_adminuser|raw }} &mdash; <strong>{{ lang.ban_length }}:</strong> {{ memprofile.banlength }} 
                <span class="smalltext">
                    {% if memprofile.perm_ban %}
                        {{ lang.na }}
                    {% else %}
                        <span class="{{ memprofile.banned_class }}">({{ memprofile.timeremaining }} {{ lang.ban_remaining }})</span>
                    {% endif %}
                </span>
            </span>
        </fieldset>
        <br />
    {% endif %}
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
            <td width="50%" valign="top">
                <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                    <tr>
                        <td colspan="2" class="thead"><strong>{{ trans('users_forum_info', memprofile.username) }}</strong></td>
                    </tr>
                    <tr>
                        <td class="trow1" style="width: 30%;"><strong>{{ lang.joined }}</strong></td>
                        <td class="trow1">{{ memprofile.memregdate|raw }}</td>
                    </tr>
                    <tr>
                        <td class="trow2"><strong>{{ lang.lastvisit }}</strong></td>
                        <td class="trow2">{{ memprofile.last_active|raw }}</td>
                    </tr>
                    <tr>
                        <td class="trow1"><strong>{{ lang.total_posts }}</strong></td>
                        <td class="trow1">
                            {{ memprofile.postnum|my_number_format }} ({{ trans('ppd_percent_total', memprofile.ppd|my_number_format, memprofile.post_percent) }})
                            {% if mybb.usergroup.cansearch %}
                                <br /><span class="smalltext">(<a href="search.php?action=finduser&amp;uid={{ memprofile.uid }}">{{ lang.find_posts }}</a>)</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="trow2"><strong>{{ lang.total_threads }}</strong></td>
                        <td class="trow2">
                            {{ memprofile.threadnum|my_number_format }} ({{ trans('tpd_percent_total', memprofile.tpd|my_number_format, memprofile.thread_percent) }})
                            {% if mybb.usergroup.cansearch %}
                                <br /><span class="smalltext">(<a href="search.php?action=finduserthreads&amp;uid={{ memprofile.uid }}">{{ lang.find_threads }}</a>)</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="trow1"><strong>{{ lang.timeonline }}</strong></td>
                        <td class="trow1">{{ memprofile.time_online }}</td>
                    </tr>
                    {% if mybb.settings.usereferrals %}
                        <tr>
                            <td class="trow2"><strong>{{ lang.members_referred }}</strong></td>
                            <td class="trow2">{{ memprofile.referrals }}</td>
                        </tr>
                    {% endif %}
                    {% if memprofile.showreputation %}
                        <tr>
                            <td class="trow1"><strong>{{ lang.reputation }}</strong></td>
                            <td class="trow1">
                                {{ memprofile.reputation|raw }} [<a href="reputation.php?uid={{ memprofile.uid }}">{{ lang.reputation_details }}</a>] 
                                {% if memprofile.showvote %}
                                    [<a href="javascript:void(0)" onclick="MyBB.reputation({{ memprofile.uid }}); return false;">{{ lang.reputation_vote }}</a>]
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if memprofile.showwarning %}
                        <tr>
                            <td class="trow2"><strong>{{ lang.warning_level }}</strong></td>
                            <td class="trow2">
                                <a href="{{ memprofile.warning_link }}">{{ memprofile.warning_level|raw }}</a> 
                                {% if memprofile.warn_user %}
                                    [<a href="warnings.php?action=warn&amp;uid={{ memprofile.uid }}">{{ lang.warn }}</a>]
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                {% if memprofile.hascontacts %}
                    {% set row = alt_trow() %}
                    <br />
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder tfixed">
                        <colgroup>
                            <col style="width: 30%;" />
                        </colgroup>
                        <tr>
                            <td colspan="2" class="thead"><strong>{{ trans('users_contact_details', memprofile.username) }}</strong></td>
                        </tr>
                        {% if memprofile.showwebsite %}
                            <tr>
                                <td class="{{ row }}"><strong>{{ lang.homepage }}</strong></td>
                                <td class="{{ row }}"><a href="{{ memprofile.website }}" target="_blank" rel="noopener">{{ memprofile.website }}</a></td>
                            </tr>
                        {% endif %}
                        {% if memprofile.showemail %}
                            <tr>
                                <td class="{{ row }}"><strong>{{ lang.email }}</strong></td>
                                <td class="{{ row }}"><a href="member.php?action=emailuser&amp;uid={{ memprofile.uid }}">{{ trans('send_user_email', memprofile.username) }}</a></td>
                            </tr>
                        {% endif %}
                        {% if memprofile.showpm %}
                            <tr>
                                <td class="{{ row }}"><strong>{{ lang.pm }}</strong></td>
                                <td class="{{ row }}"><a href="private.php?action=send&amp;uid={{ memprofile.uid }}">{{ trans('send_pm', memprofile.username) }}</a></td>
                            </tr>
                        {% endif %}
                        {% for customfield in contactfields %}
                            <tr>
                                <td class="trow1"><strong>{{ customfield.name }}:</strong></td>
                                <td class="trow1 scaleimages">
                                    {% if customfield.ismulti %}
                                        <ul style="margin: 0; padding-left: 15px;">
                                            {% for value in customfield.value %}
                                                <li style="margin-left: 0;">{{ value }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {{ customfield.value|raw }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </td>
            <td>&nbsp;&nbsp;</td>
            <td width="50%" valign="top">
                {% if memprofile.profilefields %}
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder tfixed">
                        <colgroup>
                            <col style="width: 30%;" />
                        </colgroup>
                        <tr>
                            <td colspan="2" class="thead"><strong>{{ trans('users_additional_info', memprofile.username) }}</strong></td>
                        </tr>
                        {% for customfield in customfields %}
                            <tr>
                                <td class="trow1"><strong>{{ customfield.name }}:</strong></td>
                                <td class="trow1 scaleimages">
                                    {% if customfield.ismulti %}
                                        <ul style="margin: 0; padding-left: 15px;">
                                            {% for value in customfield.value %}
                                                <li style="margin-left: 0;">{{ value }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {{ customfield.value|raw }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br />
                {% endif %}
                {% if memprofile.showsignature %}
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder tfixed">
                        <tr>
                            <td class="thead"><strong>{{ trans('users_signature', memprofile.username) }}</strong></td>
                        </tr>
                        <tr>
                            <td class="trow1 scaleimages">{{ memprofile.signature|raw }}</td>
                        </tr>
                    </table>
                    <br />
                {% endif %}
                {% if memprofile.showmodoptions %}
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" width="100%" class="tborder">
                        <tr>
                            <td colspan="2" class="thead"><strong>{{ lang.mod_options }}</strong></td>
                        </tr>
                        {% if mybb.usergroup.canuseipsearch %}
                            <tr>
                                <td class="trow1">
                                    <strong>{{ lang.registration_ip }}</strong> {{ memprofile.regip }}<br />
                                    <strong>{{ lang.last_known_ip }}</strong> {{ memprofile.lastip }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if memprofile.showmanageuser %}
                            <tr>
                                <td class="trow1">
                                    <ul>
                                        {% if memprofile.showeditprofile %}
                                            <li><a href="{{ mybb.settings.bburl }}/modcp.php?action=editprofile&amp;uid={{ memprofile.uid }}">{{ lang.edit_in_mcp }}</a></li>
                                        {% endif %}
                                        {% if memprofile.showbanuser %}
                                            <li><a href="{{ mybb.settings.bburl }}/modcp.php?action=banuser&amp;uid={{ memprofile.uid }}">{{ lang.ban_in_mcp }}</a></li>
                                        {% endif %}
                                        {% if memprofile.showpurgespammer %}
                                            <li><a href="{{ mybb.settings.bburl }}/moderation.php?action=purgespammer&amp;uid={{ memprofile.uid }}">{{ lang.purgespammer }}</a></li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="trow2">
                                {% if memprofile.usernotes %}
                                    {% if memprofile.usernotes|length > 100 %}
                                        {{ memprofile.usernotes|slice(0, 100)|nl2br }}... [<a href="javascript:void(0)" onclick="MyBB.viewNotes({{ memprofile.uid }}); return false;">{{ lang.view_all_notes }}</a>]
                                    {% else %}
                                        {{ memprofile.usernotes|nl2br }}
                                    {% endif %}
                                {% else %}
                                    {{ lang.no_usernotes }}
                                {% endif %}
                                <br />
                                {% if memprofile.showeditprofile %}
                                    <a href="{{ mybb.settings.bburl }}/modcp.php?action=editprofile&amp;uid={{ memprofile.uid }}#usernotes">{{ lang.edit_usernotes }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <br />
                {% endif %}
                {% if memprofile.showadminoptions %}
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" width="100%" class="tborder">
                        <tr>
                            <td colspan="2" class="thead"><strong>{{ lang.admin_options }}</strong></td>
                        </tr>
                        <tr>
                            <td class="trow1">
                                <ul>
                                    <li><a href="{{ mybb.settings.bburl }}/{{ memprofile.admin_dir }}/index.php?module=user-users&amp;action=edit&amp;uid={{ memprofile.uid }}">{{ lang.admin_edit_in_acp }}</a></li>
                                    <li><a href="{{ mybb.settings.bburl }}/{{ memprofile.admin_dir }}/index.php?module=user-banning&amp;uid={{ memprofile.uid }}">{{ lang.admin_ban_in_acp }}</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <br />
                {% endif %}
                {% if memprofile.showoptions %}
                    <div style="text-align: center">
                        {% if memprofile.showbuddy %}
                            {% if memprofile.onbuddylist %}
                                <a href="usercp.php?action=do_editlists&amp;delete={{ memprofile.uid }}&amp;my_post_key={{ mybb.post_code }}" class="button small_button remove_buddy_button">
                                    <span>{{ lang.remove_from_buddy_list }}</span>
                                </a>
                            {% else %}
                                <a href="usercp.php?action=do_editlists&amp;add_username={{ memprofile.username }}&amp;my_post_key={{ mybb.post_code }}" class="button small_button add_buddy_button">
                                    <span>{{ lang.add_to_buddy_list }}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if memprofile.showignore %}
                            {% if memprofile.onignorelist %}
                                <a href="usercp.php?action=do_editlists&amp;manage=ignored&amp;delete={{ memprofile.uid }}&amp;my_post_key={{ mybb.post_code }}" class="button small_button remove_ignore_button">
                                    <span>{{ lang.remove_from_ignore_list }}</span>
                                </a>
                            {% else %}
                                <a href="usercp.php?action=do_editlists&amp;manage=ignored&amp;add_username={{ memprofile.username }}&amp;my_post_key={{ mybb.post_code }}" class="button small_button add_ignore_button">
                                    <span>{{ lang.add_to_ignore_list }}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if memprofile.showreport %}
                            <a href="javascript:Report.reportUser({{ memprofile.uid }});" class="button small_button report_user_button">
                                <span>{{ lang.report_user }}</span>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock body %}
