{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.resend_activation }}</title>
{% endblock head %}

{% block body %}
    <form action="member.php" method="post">
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead" colspan="2"><strong>{{ lang.resend_activation }}</strong></td>
            </tr>
            <tr>
                <td class="trow1" width="40%"><strong>{{ lang.email_address }}</strong></td>
                <td class="trow1" width="60%"><input type="text" class="textbox" name="email" /></td>
            </tr>
        </table>
        <br />
        <div align="center">
            <input type="hidden" name="action" value="do_resendactivation" />
            <input type="submit" class="button" value="{{ lang.request_activation }}" />
        </div>
    </form>
{% endblock body %}
