{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.reset_password }}</title>
{% endblock head %}

{% block body %}
    <form action="member.php" method="post">
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead" colspan="2"><strong>{{ lang.reset_password }}</strong></td>
            </tr>
            <tr>
                <td class="trow1" width="30%"><strong><label for="username">{{ activate.lang_username }}</label></strong></td>
                <td class="trow1"><input type="text" class="textbox" name="username" id="username" value="{{ activate.username }}" /></td>
            </tr>
            <tr>
                <td class="trow2" width="30%"><strong><label for="code">{{ lang.activation_code }}</label></strong></td>
                <td class="trow2"><input type="text" class="textbox" name="code" id="code" value="{{ activate.code }}" /></td>
            </tr>
        </table>
        <br />
        <div align="center">
            <input type="hidden" name="action" value="resetpassword" />
            <input type="submit" class="button" name="regsubmit" value="{{ lang.send_password }}" />
        </div>
    </form>
{% endblock body %}
