{% if collapsed['cat_' ~ forum.fid ~ '_c'] == 'display: show;' %}
    {% set expcolhead = ' thead_collapsed' %}
    {% set expdisplay = 'display: none;' %}
{% endif %}
<section class="block collapse {% if collapsed['cat_' ~ forum.fid ~ '_c'] == 'display: show;' %}collapse--collapsed{% else %}collapse--not-collapsed{% endif %}" id="cat__{{ forum.fid }}_img">
	<div class="title title--major title--nested">
		<h2 class="title__name"><a href="{{ forum.url }}">{{ forum.name }}</a></h2>
        {% if forum.description %}
            <p class="title__description">{{ forum.description }}</p>
        {% endif %}
        <span class="collapse__toggle">
            <i class="collapse__icon collapse__icon--collapse fas fa-minus-square"></i>
            <i class="collapse__icon collapse__icon--expand fas fa-plus-square"></i>
        </span>
    </div>
    <div class="forum-list forum-list--full-width collapse__content">
        {{ sub_forums|raw }}
    </div>
</section>
