{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{% if title %}{{ title }}{% else %}{{ mybb.settings.bbname }}{% endif %}</title>
{% endblock head %}

{% block body %}
<div class="page-content">
    <div class="alert alert--danger">
        {{ include('partials/icon.twig', {icon: 'exclamation-triangle', class: 'alert__icon'}, with_context = false) }}
        <div class="alert__message">
            {% if title %}<h2 class="alert__title">{{ title }}</h2>{% endif %}
            <p class="alert__description">{% if error_message %}{{ error_message|raw }}{% else %}{{ lang.unknown_error }}{% endif %}</p>
        </div>
    </div>
    {% if error_page %}{{ error_page|raw }}{% endif %}
</div>
{% endblock body %}
