{{ lang.error_nopermission_guest_1 }}
<ol>
    <li>{{ lang.error_nopermission_guest_2 }}</li>
    <li>{{ lang.error_nopermission_guest_3 }}</li>
    <li>{{ lang.error_nopermission_guest_4 }}{% if mybb.user.uid %} (<a href="member.php?action=resendactivation">{{ lang.error_nopermission_user_resendactivation }}</a>){% endif %}</li>
    <li>{{ lang.error_nopermission_guest_5 }}</li>
</ol>
