{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.users_online }} - {{ mybb.settings.bbname }}</title>

    {% if mybb.settings.refreshwol > 0 %}
        <meta http-equiv="refresh" content="{{ mybb.settings.refreshwol * 60 }};URL=online.php{{ refresh_string }}"/>
    {% endif %}
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.users_online }}</h1>
        </header>
        <div class="page-controls page-controls--top">
            {{ multipage|raw }}
        </div>
        <div class="sort-results">
            <span class="sort-results__text">{{ lang.sort_results }}</span>
            <a href="online.php?sortby=username" class="button button--basic">
                {{ include('partials/icon.twig', {icon: 'user', class: 'button__icon'}, with_context = false) }}
                <span class="button__text">{{ lang.on_username }}</span>
            </a>
            <a href="online.php?sortby=time" class="button button--basic">
                {{ include('partials/icon.twig', {icon: 'clock', class: 'button__icon'}, with_context = false) }}
                <span class="button__text">{{ lang.time }}</span>
            </a>
            <a href="online.php?sortby=location" class="button button--basic">
                {{ include('partials/icon.twig', {icon: 'globe', class: 'button__icon'}, with_context = false) }}
                <span class="button__text">{{ lang.location }}</span>
            </a>
        </div>
        <div class="user-list">
            {% for user in online_users %}
                <div class="user-list__user">
                    <h2 class="user-list__username">{{ user.online_name|raw }}</h2>
                    <ul class="list list--stats list--user">
                        <li class="list__item">
                            <span class="list__field">{{ lang.location }}</span>
                            <span class="list__value">{{ user.location|raw }}</span>
                        </li>
                        <li class="list__item">
                            <span class="list__field">{{ lang.time }}</span>
                            <span class="list__value">{{ user.online_time}}</span>
                        </li>
                        {% if mybb.usergroup.canviewonlineips %}
                            <li class="list__item">
                                <span class="list__field">{{ lang.ip }}</span>
                                <span class="list__value">
                                    {{ user.ip }}
                                    {% if mybb.usergroup.canmodcp and mybb.usergroup.canuseipsearch %}
                                        <a href="modcp.php?action=ipsearch&amp;ipaddress={{ user.ip }}&amp;search_users=1">
                                            {{ lang.lookup }}
                                        </a>
                                    {% endif %}
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="page-controls">
            {{ multipage|raw }}
            <div class="page-buttons">
                <a href="online.php?action=today" class="button button--basic">
                    {{ include('partials/icon.twig', {icon: 'calendar', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.online_today }}</span>
                </a>
                <a href="online.php" class="button button--basic">
                    {{ include('partials/icon.twig', {icon: 'sync', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.refresh_page }}</span>
                </a>
            </div>
        </div>
    </div>
{% endblock body %}
