{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.online_today }}</title>
{% endblock head %}

{% block body %}
    {{ multipage|raw }}
    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
        <tr>
            <td class="thead thead_left" align="center" width="50%">
                <span class="smalltext"><strong>{{ lang.on_username }}</strong></span>
            </td>
            <td class="thead thead_right" align="center" width="50%">
                <span class="smalltext"><strong>{{ lang.time }}</strong></span>
            </td>
        </tr>
        {% for user in online_today_users %}
            <tr>
                <td align="center" class="trow1" width="50%">
                    {{ user.profilelink|raw }}{{ user.invisible ? '*' : '' }}
                </td>
                <td align="center" class="trow2" width="50%">{{ user.onlinetime }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td align="center" colspan="2" class="trow1" style="white-space: nowrap">{{ online_today|raw }}</td>
        </tr>
    </table>
    <br/>
    {{ multipage|raw }}
{% endblock body %}
