{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.calendar }} - {{ lang.add_event }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.add_event }}</h1>
        </header>
        {{ event_errors|raw }}
        <form action="calendar.php" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <div class="block block--form form form--compose compose">
                <section class="section section--form">
                    <div class="row row--form field">
                        <h2 class="field__name"><label for="event_name">{{ lang.event_name }}</label></h2>
                        <input type="text" class="textbox" name="name" id="event_name" maxlength="120" value="{{ select.name }}"/>
                    </div>
                    {% if calendarcount > 1 %}
                        <div class="row row--form field">
                            <h2 class="field__name"><label for="event_calendar">{{ lang.select_calendar }}</label></h2>
                            <div class="select-field">
                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                <select name="calendar">
                                    {% for calendar in calendar_select %}
                                        <option value="{{ calendar.cid }}"{% if calendar.selected %} selected="selected"{% endif %}>{{ calendar.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="calendar" value="{{ calendar.cid }}" />
                    {% endif %}
                    <div class="row row--form field">
                        <h2 class="field__name">{{ lang.event_date }}</h2>
                        <script type="text/javascript">
                        <!--
                            function toggleType()
                            {
                                if($("#type_single").prop("checked"))
                                {
                                    $("#ranged_selects").hide();
                                    $("#single_selects").show();
                                }
                                else
                                {
                                    $("#single_selects").hide();
                                    $("#ranged_selects").show();
                                    toggleRepeats();
                                }
                            }

                            function toggleRepeats()
                            {
                                var repeats = $("#repeats").get(0).selectedIndex;
                                $(".repeats_type").each(function()
                                {
                                    $(this).hide();
                                });
                                if($("#repeats_type_"+repeats).length > 0)
                                {
                                    $("#repeats_type_"+repeats).show();
                                }
                            }
                        // -->
                        </script>
                        <div class="option-field">
                            <input type="radio" name="type" value="single"{% if select.type_single %} checked="checked"{% endif %} id="type_single" onclick="toggleType();" class="option-field__input" />
                            <h3 class="option-field__name"><label for="type_single">{{ lang.type_single }}</label></h3>
                            <div class="section section--inline" id="single_selects">
                                <div class="row row--form field">
                                    <div class="date-field">
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.day }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="single_day">
                                                    {% for day in days %}
                                                        <option value="{{ day.day }}"{% if day.single_day %} selected="selected"{% endif %}>{{ day.day }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.month }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="single_month">
                                                    {% for month in months %}
                                                        <option value="{{ month.month }}"{% if month.single_month %} selected="selected"{% endif %}>{{ month.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.year }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="single_year">
                                                    {% for year in years %}
                                                        <option value="{{ year.year }}"{% if year.single_year %} selected="selected"{% endif %}>{{ year.year }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="option-field">
                            <input type="radio" name="type" value="ranged"{% if select.type_ranged %} checked="checked"{% endif %} id="type_ranged" onclick="toggleType();" class="option-field__input" />
                            <h3 class="option-field__name"><label for="type_ranged">{{ lang.type_ranged }}</label></h3>
                            <div class="section section--inline" id="ranged_selects">
                                <div class="row row--form field">
                                    <h5 class="field__name">{{ lang.start_time }}</h5>
                                    <div class="date-field">
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.day }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="start_day">
                                                    {% for day in days %}
                                                        <option value="{{ day.day }}"{% if day.start_day %} selected="selected"{% endif %}>{{ day.day }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.month }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="start_month">
                                                    {% for month in months %}
                                                        <option value="{{ month.month }}"{% if month.start_month %} selected="selected"{% endif %}>{{ month.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.year }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="start_year">
                                                    {% for year in years %}
                                                        <option value="{{ year.year }}"{% if year.start_year %} selected="selected"{% endif %}>{{ year.year }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.enter_time }}</h4>
                                            <input type="text" class="textbox textbox--small" name="start_time" value="{{ select.start_time }}" size="7" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row row--form field">
                                    <h3 class="field__name">{{ lang.end_time }}</h3>
                                    <div class="date-field">
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.day }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="end_day">
                                                    {% for day in days %}
                                                        <option value="{{ day.day }}"{% if day.end_day %} selected="selected"{% endif %}>{{ day.day }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.month }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="end_month">
                                                    {% for month in months %}
                                                        <option value="{{ month.month }}"{% if month.end_month %} selected="selected"{% endif %}>{{ month.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.year }}</h4>
                                            <div class="select-field">
                                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                <select name="end_year">
                                                    {% for year in years %}
                                                        <option value="{{ year.year }}"{% if year.end_year %} selected="selected"{% endif %}>{{ year.year }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="date-field__item">
                                            <h4 class="date-field__name">{{ lang.enter_time }}</h4>
                                            <input type="text" class="textbox textbox--small" name="end_time" value="{{ select.end_time }}" size="7" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row row--form field">
                                    <h3 class="field__name">{{ lang.timezone }}</h3>
                                    <div class="select-field">
                                        {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                        <select name="timezone" id="timezone">
                                            {% for timezone in timezones %}
                                                <option value="{{ timezone.timezone }}"{% if timezone.selected %} selected{% endif %}>{{ timezone.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <p class="option-field option-field--compact">
                                        <label class="smalltext"><input type="checkbox" name="ignoretimezone" value="1"{% if select.ignore_timezone %} checked="checked"{% endif %} style="vertical-align: middle;" /> {{ lang.ignore_timezone|raw }} </label>
                                    </p>
                                </div>
                                <div class="row row--form field">
                                    <h3 class="field__name">{{ lang.repeats }}</h3>
                                    <div class="select-field">
                                        {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                        <select name="repeats" id="repeats" onchange="toggleRepeats();">
                                            <option value="0">{{ lang.does_not_repeat }}</option>
                                            <option value="1"{% if select.repeats_sel.1 %} selected="selected"{% endif %}>{{ lang.repeats_daily }}</option>
                                            <option value="2"{% if select.repeats_sel.2 %} selected="selected"{% endif %}>{{ lang.repeats_weekdays }}</option>
                                            <option value="3"{% if select.repeats_sel.3 %} selected="selected"{% endif %}>{{ lang.repeats_weekly }}</option>
                                            <option value="4"{% if select.repeats_sel.4 %} selected="selected"{% endif %}>{{ lang.repeats_monthly }}</option>
                                            <option value="5"{% if select.repeats_sel.5 %} selected="selected"{% endif %}>{{ lang.repeats_yearly }}</option>
                                        </select>
                                    </div>
                                    <div class="section section--inline repeats_type" id="repeats_type_1">
                                        <div class="row row--form field">
                                            <h4 class="field__name">{{ lang.repeats_every }}</h4>
                                            <input type="text" class="textbox textbox--small" name="repeats_1_days" value="{{ select.repeats_1_days }}" size="2" /> {{ lang.day_or_days }}
                                        </div>
                                    </div>
                                    <div class="section section--inline repeats_type" id="repeats_type_3">
                                        <div class="row row--form field">
                                            <h4 class="field__name">{{ lang.repeats_every }}</h4>
                                            <input type="text" class="textbox textbox--small" name="repeats_3_weeks" value="{{ select.repeats_3_weeks }}" size="2" /> {{ lang.week_or_weeks_on }}
                                            <p class="option-field option-field--compact"><label><input type="checkbox" name="repeats_3_days[0]" value="1"{% if select.repeats_3_days.0 %} checked="checked"{% endif %} style="vertical-align: middle;" /> {{ lang.sunday }}</label></p>
                                            <p class="option-field option-field--compact"><label><input type="checkbox" name="repeats_3_days[1]" value="1"{% if select.repeats_3_days.1 %} checked="checked"{% endif %} style="vertical-align: middle;" /> {{ lang.monday }}</label></p>
                                            <p class="option-field option-field--compact"><label><input type="checkbox" name="repeats_3_days[2]" value="1"{% if select.repeats_3_days.2 %} checked="checked"{% endif %} style="vertical-align: middle;" /> {{ lang.tuesday }}</label></p>
                                            <p class="option-field option-field--compact"><label><input type="checkbox" name="repeats_3_days[3]" value="1"{% if select.repeats_3_days.3 %} checked="checked"{% endif %} style="vertical-align: middle;" /> {{ lang.wednesday }}</label></p>
                                            <p class="option-field option-field--compact"><label><input type="checkbox" name="repeats_3_days[4]" value="1"{% if select.repeats_3_days.4 %} checked="checked"{% endif %} style="vertical-align: middle;" /> {{ lang.thursday }}</label></p>
                                            <p class="option-field option-field--compact"><label><input type="checkbox" name="repeats_3_days[5]" value="1"{% if select.repeats_3_days.5 %} checked="checked"{% endif %} style="vertical-align: middle;" /> {{ lang.friday }}</label></p>
                                            <p class="option-field option-field--compact"><label><input type="checkbox" name="repeats_3_days[6]" value="1"{% if select.repeats_3_days.6 %} checked="checked"{% endif %} style="vertical-align: middle;" /> {{ lang.saturday }}</label></p>
                                        </div>
                                    </div>
                                    <div class="section section--inline repeats_type" id="repeats_type_4">
                                        <div class="row row--form field">
                                            <div class="option-field option-field--compact">
                                                <label><input type="radio" name="repeats_4_type" id="repeats_4_type_1" value="1" {% if select.repeats_4_type.1 %} checked="checked"{% endif %} /> {{ lang.repeats_on_day }}</label>
                                                <input type="text" class="textbox textbox--short textbox--inline" name="repeats_4_day" value="{{ select.repeats_4_day }}" onfocus="$('#repeats_4_type_1').prop('checked', true);" size="2" /> {{ lang.of_every }}
                                                <input type="text" class="textbox textbox--short textbox--inline" name="repeats_4_months" value="{{ select.repeats_4_months }}" size="2" onfocus="$('#repeats_4_type_1').prop('checked', true);" /> {{ lang.month_or_months }}
                                            </div>
                                            <div class="option-field option-field--compact">
                                                <label><input type="radio" name="repeats_4_type" id="repeats_4_type_2" value="2" {% if select.repeats_4_type.2 %} checked="checked"{% endif %} />{{ lang.repeats_on_the }}</label>
                                                <div class="select-field select-field--short select-field--inline">
                                                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                    <select name="repeats_4_occurance" onfocus="$('#repeats_4_type_2').prop('checked', true);">
                                                        <option value="1"{% if select.repeats_4_occurance.1 %} selected="selected"{% endif %}>{{ lang.first }}</option>
                                                        <option value="2"{% if select.repeats_4_occurance.2 %} selected="selected"{% endif %}>{{ lang.second }}</option>
                                                        <option value="3"{% if select.repeats_4_occurance.3 %} selected="selected"{% endif %}>{{ lang.third }}</option>
                                                        <option value="4"{% if select.repeats_4_occurance.4 %} selected="selected"{% endif %}>{{ lang.fourth }}</option>
                                                        <option value="last"{% if select.repeats_4_occurance.last %} selected="selected"{% endif %}>{{ lang.last }}</option>
                                                    </select>
                                                </div>
                                                <div class="select-field select-field--short select-field--inline">
                                                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                    <select name="repeats_4_weekday" onfocus="$('#repeats_4_type_2').prop('checked', true);">
                                                        <option value="0"{% if select.repeats_4_weekday.0 %} selected="selected"{% endif %}>{{ lang.sunday }}</option>
                                                        <option value="1"{% if select.repeats_4_weekday.1 %} selected="selected"{% endif %}>{{ lang.monday }}</option>
                                                        <option value="2"{% if select.repeats_4_weekday.2 %} selected="selected"{% endif %}>{{ lang.tuesday }}</option>
                                                        <option value="3"{% if select.repeats_4_weekday.3 %} selected="selected"{% endif %}>{{ lang.wednesday }}</option>
                                                        <option value="4"{% if select.repeats_4_weekday.4 %} selected="selected"{% endif %}>{{ lang.thursday }}</option>
                                                        <option value="5"{% if select.repeats_4_weekday.5 %} selected="selected"{% endif %}>{{ lang.friday }}</option>
                                                        <option value="6"{% if select.repeats_4_weekday.6 %} selected="selected"{% endif %}>{{ lang.saturday }}</option>
                                                    </select>
                                                </div>
                                                {{ lang.of_every }}
                                                <input type="text" class="textbox textbox--short textbox--inline" name="repeats_4_months2" value="{{ select.repeats_4_months2 }}" size="2" onfocus="$('#repeats_4_type_2').prop('checked', true);" /> {{ lang.month_or_months }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section section--inline repeats_type" id="repeats_type_5">
                                        <div class="row row--form field">
                                            <div class="option-field option-field--compact"><label>
                                                <input type="radio" name="repeats_5_type" value="1" id="repeats_5_type_1" {% if select.repeats_5_type.1 %} checked="checked"{% endif %} />
                                                {{ lang.repeats_on }}</label>
                                                <input type="text" class="textbox textbox--short textbox--inline" name="repeats_5_day" onfocus="$('#repeats_5_type_1').prop('checked', true);" value="{{ select.repeats_5_day }}" size="2" />
                                                <div class="select-field select-field--short select-field--inline">
                                                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                    <select name="repeats_5_month" onfocus="$('#repeats_5_type_1').prop('checked', true);" >
                                                        {% for month in months %}
                                                            <option value="{{ month.month }}"{% if month.repeats_5_month %} selected="selected"{% endif %}>{{ month.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                {{ lang.every }}
                                                <input type="text" class="textbox textbox--short textbox--inline" name="repeats_5_years" value="{{ select.repeats_5_years }}" onfocus="$('#repeats_5_type_1').prop('checked', true);" size="2" /> {{ lang.year_or_years }}
                                            </div>
                                            <div class="option-field option-field--compact"><label>
                                                <input type="radio" name="repeats_5_type" value="2" id="repeats_5_type_2" {% if select.repeats_5_type.2 %} checked="checked"{% endif %} />
                                                {{ lang.repeats_on_the }}</label>
                                                <div class="select-field select-field--short select-field--inline">
                                                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                    <select name="repeats_5_occurance" onfocus="$('#repeats_5_type_2').prop('checked', true);" >
                                                        <option value="1"{% if select.repeats_5_occurance.1 %} selected="selected"{% endif %}>{{ lang.first }}</option>
                                                        <option value="2"{% if select.repeats_5_occurance.2 %} selected="selected"{% endif %}>{{ lang.second }}</option>
                                                        <option value="3"{% if select.repeats_5_occurance.3 %} selected="selected"{% endif %}>{{ lang.third }}</option>
                                                        <option value="4"{% if select.repeats_5_occurance.4 %} selected="selected"{% endif %}>{{ lang.fourth }}</option>
                                                        <option value="last"{% if select.repeats_5_occurance.last %} selected="selected"{% endif %}>{{ lang.last }}</option>
                                                    </select>
                                                </div>
                                                <div class="select-field select-field--short select-field--inline">
                                                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                    <select name="repeats_5_weekday" onfocus="$('#repeats_5_type_2').prop('checked', true);" >
                                                        <option value="0"{% if select.repeats_5_weekday.0 %} selected="selected"{% endif %}>{{ lang.sunday }}</option>
                                                        <option value="1"{% if select.repeats_5_weekday.1 %} selected="selected"{% endif %}>{{ lang.monday }}</option>
                                                        <option value="2"{% if select.repeats_5_weekday.2 %} selected="selected"{% endif %}>{{ lang.tuesday }}</option>
                                                        <option value="3"{% if select.repeats_5_weekday.3 %} selected="selected"{% endif %}>{{ lang.wednesday }}</option>
                                                        <option value="4"{% if select.repeats_5_weekday.4 %} selected="selected"{% endif %}>{{ lang.thursday }}</option>
                                                        <option value="5"{% if select.repeats_5_weekday.5 %} selected="selected"{% endif %}>{{ lang.friday }}</option>
                                                        <option value="6"{% if select.repeats_5_weekday.6 %} selected="selected"{% endif %}>{{ lang.saturday }}</option>
                                                    </select>
                                                </div>
                                                {{ lang.of }}
                                                <div class="select-field select-field--short select-field--inline">
                                                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                                    <select name="repeats_5_month2" onfocus="$('#repeats_5_type_2').prop('checked', true);" >
                                                        {% for month in months %}
                                                            <option value="{{ month.month }}"{% if month.repeats_5_month2 %} selected="selected"{% endif %}>{{ month.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                {{ lang.every }}
                                                <input type="text" class="textbox textbox--short textbox--inline" name="repeats_5_years2" value="{{ select.repeats_5_years2 }}" size="2" onfocus="$('#repeats_5_type_2').prop('checked', true);" /> {{ lang.year_or_years }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                    <!--
                        toggleType();
                        toggleRepeats();
                    // -->
                    </script>
                    <div class="row row--form field">
                        <h2 class="field__name">{{ lang.event_details }}</h2>
                        <div class="compose__container">
                            <div class="compose__message">
                                <textarea name="description" id="message" rows="20" cols="70">{{ select.description }}</textarea>
                                {{ codebuttons|raw }}
                            </div>
                            {{ smilieinserter|raw }}
                        </div>
                    </div>
                    <div class="row row--form field">
                        <h2 class="field__name">{{ lang.event_options }}</h2>
                        <p class="option-field option-field--compact"><label><input type="checkbox" class="checkbox" name="private" value="1"{% if select.privatecheck %} checked="checked"{% endif %} /> {{ lang.private_option|raw }}</label></p>
                    </div>
                </section>
                <div class="form__submit">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'calendar-plus', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.post_event }}</span>
                    </button>
                </div>
            </div>
            <input type="hidden" name="action" value="do_addevent" />
        </form>
    </div>
{% endblock body %}
