{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.calendar }}</title>
{% endblock head %}

{% block body %}
    {% if birthdaycount > 0 %}
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead"><strong>{{ trans('birthdays_on_day', calendar.bdaydate) }}</strong></td>
            </tr>
            <tr>
                <td class="trow1">
                    <span class="smalltext">
                        {% for birthday in birthdays %}
                            {{ birthday.comma }}{{ birthday.profilelink|raw }}{{ birthday.age }}
                        {% endfor %}
                        {% if bdayhidden > 0 %}
                            {{ calendar.hiddendash }}{{ bdayhidden }} {{ lang.birthdayhidden }}
                        {% endif %}
                    </span>
                </td>
            </tr>
        </table>
        <br />
    {% endif %}
    {% for event in events %}
        {% include 'calendar/event_row.twig' %}
    {% else %}
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="trow1">{{ lang.no_events|raw }}</td>
            </tr>
        </table>
    {% endfor %}
    <br />
    <form action="calendar.php" method="post">
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="trow1">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                        <td valign="top">
                            {% if calendar_permissions.canaddevents %}
                                <a href="calendar.php?action=addevent&amp;calendar={{ calendar.cid }}">{{ lang.add_public_event }}</a> | <a href="calendar.php?action=addevent&amp;calendar={{ calendar.cid }}&amp;private=1">{{ lang.add_private_event }}</a>
                            {% endif %}
                        </td>
                        <td align="right">
                            <span class="smalltext"><strong>{{ lang.jump_month }}</strong></span>
                            <select name="month">
                                <option value="{{ calendar.month }}">{{ calendar.currentmonth }}</option>
                                <option value="{{ calendar.month }}">----------</option>
                                <option value="1">{{ lang.alt_month_1 }}</option>
                                <option value="2">{{ lang.alt_month_2 }}</option>
                                <option value="3">{{ lang.alt_month_3 }}</option>
                                <option value="4">{{ lang.alt_month_4 }}</option>
                                <option value="5">{{ lang.alt_month_5 }}</option>
                                <option value="6">{{ lang.alt_month_6 }}</option>
                                <option value="7">{{ lang.alt_month_7 }}</option>
                                <option value="8">{{ lang.alt_month_8 }}</option>
                                <option value="9">{{ lang.alt_month_9 }}</option>
                                <option value="10">{{ lang.alt_month_10 }}</option>
                                <option value="11">{{ lang.alt_month_11 }}</option>
                                <option value="12">{{ lang.alt_month_12 }}</option>
                            </select>
                            <select name="year">
                                <option value="{{ calendar.year }}">{{ calendar.year }}</option>
                                <option value="{{ calendar.year }}">----------</option>
                                {% for year in years %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="button" value="{{ lang.go }}" />
                            <br />
                            {{ calendar_jump|raw }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
{% endblock body %}
