<section class="block">
    <h1 class="title title--major title--separation">{{ event.name }}</h1>
    <div class="post post--no-avatar">
        <div class="post__meta">
            <h3 class="post__author">{{ event.profilelink|raw }}</h3>
            <span class="post__date">{{ event.time_period }}</span>
            {# TO DO: incorporate?
            <span class="smalltext">
                {{ event.usertitle }}<br />
                {% if event.starimage and event.stars %}
                    {% spaceless %}
                        {% for star in range(1, event.stars) %}
                            <img src="{{ event.starimage }}" border="0" alt="*" />
                        {% endfor %}
                    {% endspaceless %}
                    <br />
                {% endif %}
            </span>#}
        </div>
        <div class="post__body scaleimages {{ event.event_class }}">
            {{ event.description|raw }}
            {% if event.repeats %}
                <div class="post__signature">{{ lang.repeats }} {{ event.repeats }}</div>
            {% endif %}
        </div>
        {% if event.can_edit == true or calendar_permissions.canmoderateevents %}
            <div class="post__foot post__foot--controls">
                {% if event.can_edit == true %}
                <div class="post-controls post-controls--primary">
                    <a href="calendar.php?action=editevent&amp;eid={{ event.eid }}" class="post-control post-control--edit"><i class="post-control__icon fas fa-edit fa-fw"></i><span class="post-control__text">{{ lang.postbit_button_edit }}</span></a>
                    <a href="javascript:void(0)" onclick="MyBB.deleteEvent({{ event.eid }}); return false;" class="post-control post-control--delete"><i class="post-control__icon fas fa-trash fa-fw"></i><span class="post-control__text">{{ lang.postbit_button_qdelete }}</span></a>
                </div>
                {% endif %}
                {% if calendar_permissions.canmoderateevents %}
                    <div class="post-controls post-controls--secondary post-options">
                        <input type="checkbox" class="post-options__checkbox" id="post_options_{{ event.eid }}">
                        <label for="post_options_{{ event.eid }}" class="post-control post-control--options post-options__control" title="{{ lang.moderator_options }}">
                            <i class="post-control__icon fas fa-ellipsis-v fa-fw"></i>
                            <span class="visually-hidden">{{ lang.moderator_options }}</span>
                        </label>
                        <span class="post-options__list" id="post_options2_{{ event.eid }}">
                            <a href="calendar.php?action={{ event.approve_value }}&amp;eid={{ event.eid }}&amp;my_post_key={{ mybb.post_code }}" title="{{ event.approve }}" class="post-control post-control--{{ event.approve_value }}"><i class="post-control__icon fas {% if event.approve_value == 'approve' %}fa-check{% else %}fa-times{% endif %} fa-fw"></i><span class="post-control__text">{{ event.approve }}</span></a>
                            <a href="calendar.php?action=move&amp;eid={{ event.eid }}&amp;my_post_key={{ mybb.post_code }}" title="{{ lang.move_event }}" class="post-control post-control--move"><i class="post-control__icon fas fa-arrow-right fa-fw"></i><span class="post-control__text">{{ lang.move_event }}</span></a>
                        </span>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>
