{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.calendar }} - {{ event.name }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ event.name }}</h1>
        </header>
        <div class="page-controls page-controls--top">
            <div class="page-buttons">
                {% if calendar_permissions.canaddevents %}
                    <a href="calendar.php?action=addevent&amp;calendar={{ calendar.cid }}" class="button button--half-width">
                        {{ include('partials/icon.twig', {icon: 'calendar-plus', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.add_public_event }}</span>
                    </a>
                    <a href="calendar.php?action=addevent&amp;calendar={{ calendar.cid }}&amp;private=1" class="button button--half-width">
                        {{ include('partials/icon.twig', {icon: 'calendar-plus', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.add_private_event }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
        {% include 'calendar/event_row.twig' %}
        <footer class="page-footer">
            {% include 'calendar/calendar_select.twig' %}
        </footer>
    </div>
{% endblock body %}
