{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.calendar }} - {{ lang.weekly_overview}} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.weekly_overview }}</h1>
        <p class="page-description">{{ calendar.friendly_week_from }} {{ lang.through }} {{ calendar.friendly_week_to }}</p>
    </header>
    <div class="page-controls page-controls--top">
        <div class="calendar-nav">
            {% if calendar.prev_week_link %}
                <a href="{{ calendar.prev_week_link|raw }}" class="button button--basic">
                    {{ include('partials/icon.twig', {icon: 'angle-left', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.previous_week }}</span>
                </a>
            {% endif %}
            {% if calendar.next_week_link %}
                <a href="{{ calendar.next_week_link|raw }}" class="button button--basic">
                    <span class="button__text">{{ lang.next_week }}</span>
                    {{ include('partials/icon.twig', {icon: 'angle-right', class: 'button__icon button__icon--after'}, with_context = false) }}
                </a>
            {% endif %}
        </div>
        <div class="page-buttons">
            {% if calendar_permissions.canaddevents %}
                <a href="calendar.php?action=addevent&amp;calendar={{ calendar.cid }}" class="button button--half-width">
                    {{ include('partials/icon.twig', {icon: 'calendar-plus', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.add_public_event }}</span>
                </a>
                <a href="calendar.php?action=addevent&amp;calendar={{ calendar.cid }}&amp;private=1" class="button button--half-width">
                    {{ include('partials/icon.twig', {icon: 'calendar-plus', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.add_private_event }}</span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="page-content page-content--sidebar">
        <div class="calendar calendar--week">
            {% for weekday in weekdays %}
                <div class="calendar__week">
                    <h2 class="title title--major">{{ weekday.month }} {{ weekday.year }}</h2>
                    {% for day in weekday.days %}
                        {% if day.weekday_month == weekday.monthnum %}
                            <div class="calendar__day {{ day.day_shaded }}">
                                <span class="calendar__day-of-week">{{ day.weekday_name }}</span>
                                <h2 class="calendar__day-heading">{{ day.weekday_day }}</h2>
                                {% if day.bday_count > 0 %}
                                    <p class="calendar__event"><a href="{{ day.calendar_link|raw }}" class="calendar__event-link calendar__event-link--birthdays">{{ day.bday_count }} {{ day.birthday_lang }} {{ include('partials/icon.twig', {icon: 'birthday-cake', class: 'calendar__event-icon'}, with_context = false) }}</a></p>
                                {% endif %}
                                {% for event in day.events %}
                                    <p class="calendar__event">
                                        <a href="{{ event.eventlink|raw }}" class="calendar__event-link {{ event.event_class }}" title="{{ event.fullname }}">{{ event.fullname }} {% if event.time_period %}<span class="calendar__event-time-period">({{ event.time_period }})</span>{% endif %}</a>
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="page-sidebar">
        {% for mini_calendar in mini_calendars %}
            <section class="mini-calendar block block--sidebar">
                <h1 class="title title--sidebar"><a href="{{ mini_calendar.month_link|raw }}">{{ mini_calendar.month }} {{ mini_calendar.year }}</a></h1>
                <div class="mini-calendar__days-of-week">
                    <span class="mini-calendar__week-shortcut"></span>
                    {% for weekday_header in mini_calendar.weekday_headers %}
                        <span class="mini-calendar__day-of-week-heading">{{ weekday_header }}</span>
                    {% endfor %}
                </div>
                {% for week in mini_calendar.week %}
                    <div class="mini-calendar__week">
                        <span class="mini-calendar__week-shortcut">
                            <a href="{{ week.week_link|raw }}" class="calendar__week-link button button--basic" title="{{ lang.go_week }}">
                                {{ include('partials/icon.twig', {icon: 'angle-double-right', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.go_week }}</span>
                            </a>
                        </span>
                        {% for day in week.days %}
                            <span class="mini-calendar__day {{ day.day_class }}">
                                {% if day.link %}
                                    <a href="{{ day.link|raw }}" class="mini-calendar__day-link">{{ day.day }}</a>
                                {% else %}
                                    {{ day.day }}
                                {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </section>
        {% endfor %}
    </div>
    <footer class="page-footer">
        {% include 'calendar/calendar_select.twig' %}
    </footer>
{% endblock body %}
