{% extends 'layouts/moderation.twig' %}

{% block head %}
    <title>{{ lang.ban_user }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block moderationHeader %}
    <header class="page-header">
        <h1 class="title title--page">
            {{ lang.ban_user }}
        </h1>
    </header>
{% endblock %}

{% block moderationBody %}
    {{ errors|raw }}
    <form action="modcp.php" method="post">
        <input type="hidden" name="action" value="do_banuser" />
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <section class="block block--form form">
            <div class="section section--form">
                <div class="row row--form field">
                    <h3 class="field__name"><label for="username">{{ lang.ban_username }}</label></h3>
                    <input type="text" class="user-select-field" name="username" id="username" value="{{ banned.username }}" size="25" />
                </div>
                <div class="row row--form field">
                    <h3 class="field__name"><label for="banreason">{{ lang.ban_reason }}</label></h3>
                    <textarea class="textarea" name="banreason" id="banreason" cols="60" rows="4" maxlength="255">{{ banned.reason }}</textarea>
                </div>
                {% if banned.numgroups > 1 %}
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="usergroup">{{ lang.ban_movegroup }}</strong></h3>
                        <div class="select-field">
                            {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                            <select name="usergroup" id="usergroup">
                                {% for group in bangroups %}
                                    <option value="{{ group.gid }}"{% if group.selected %} selected="selected"{% endif %}>{{ group.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% else %}
                    <input type="hidden" name="usergroup" value="{{ banned.banned_group }}" />
                {% endif %}
                <div class="row row--form field">
                    <h3 class="field__name"><label for="liftafter">{{ lang.ban_liftafter }}</label></h3>
                    <div class="select-field">
                        {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                        <select name="liftafter" id="liftafter">
                            {% for lifttime in liftlist %}
                                <option value="{{ lifttime.time }}"{% if lifttime.selected %} selected="selected"{% endif %}>{{ lifttime.title }}{% if lifttime.thattime %} ({{ lifttime.thattime }}){% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form__submit">
                <button type="submit" class="button button--big" name="updateban">
                    {{ include('partials/icon.twig', {icon: 'ban', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.ban }}</span>
                </button>
            </div>
        </section>
    </form>
    <link rel="stylesheet" href="{{ asset_url('jscripts/select2/select2.css') }}">
    {{ attach(resource=jscripts/select2/select2.min.js', absolute=true) }}
    <script type="text/javascript">
    <!--
    if({{ mybb.settings.use_xmlhttprequest }})
    {
        MyBB.select2();
        $("#username").select2({
            placeholder: "{{ lang.search_user }}",
            minimumInputLength: 2,
            multiple: false,
            allowClear: true,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: "xmlhttp.php?action=get_users",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term, // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data};
                }
            },
            initSelection: function(element, callback) {
                var value = $(element).val();
                if (value !== "") {
                    callback({
                        id: value,
                        text: value
                    });
                }
            },
        });
    }
    // -->
    </script>
{% endblock moderationBody %}
