{% extends 'layouts/moderation.twig' %}

{% block head %}
    <title>{{ lang.warning_logs }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block moderationHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.warning_logs }}</h1>
    </header>
{% endblock moderationHeader %}

{% block moderationBody %}
    <section class="block">
        {% for warning in warning_list %}
            {% include 'modcp/warninglogs/item.twig' %}
        {% else %}
            <div class="alert alert--no-results alert--no-results-container">{{ lang.no_warning_logs }}</div>
        {% endfor %}
    </section>
    {{ multipage|raw }}
    <form action="modcp.php" method="get">
        <input type="hidden" name="action" value="warninglogs" />
        <section class="block block--form form">
            <div class="section section--form">
                <h2 class="title title--section">{{ lang.filter_warning_logs }}</h2>
                <div class="section__container">
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="filter_username">{{ lang.filter_warned_user }}</label></h3>
                        <input type="text" name="filter[username]" id="filter_username" value="{{ select.username }}" class="textbox" />
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="filter_mod_username">{{ lang.filter_issued_by }}</label></h3>
                        <input type="text" name="filter[mod_username]" id="filter_mod_username" value="{{ select.mod_username }}" class="textbox" />
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="filter_reason">{{ lang.filter_reason }}</label></h3>
                        <input type="text" name="filter[reason]" id="filter_reason" value="{{ select.reason }}" class="textbox" />
                    </div>
                </div>
            </div>
            <div class="section section--form">
                <h2 class="title title--section">{{ lang.sort_by }}</h2>
                <div class="section__container">
                    <div class="row row--form field">
                        <div class="select-field">
                            {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                            <select name="filter[sortby]">
                                <option value="username"{% if select.sortby.username %} selected="selected"{% endif %}>{{ lang.sortby_username }}</option>
                                <option value="issuedby"{% if select.sortby.issuedby %} selected="selected"{% endif %}>{{ lang.sortby_issued_by }}</option>
                                <option value="dateline"{% if select.sortby.dateline %} selected="selected"{% endif %}>{{ lang.sortby_issued_date }}</option>
                                <option value="expires"{% if select.sortby.expires %} selected="selected"{% endif %}>{{ lang.sortby_expiry_date }}</option>
                            </select>
                        </div>
                        <div class="field__block">
                            <div class="segmented-control">
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="filter[order]" id="order_asc" value="asc"{% if select.order.asc %} checked{% endif %} />
                                    <label class="segmented-control__button" for="order_asc">{{ lang.asc }} {{ lang.order }}</label>
                                </span>
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="filter[order]" id="order_desc" value="desc"{% if select.order.desc %} checked{% endif %} />
                                    <label class="segmented-control__button" for="order_desc">{{ lang.desc }} {{ lang.order }}</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="filter_per_page">{{ lang.per_page }}</label></h3>
                        <input type="text" name="filter[per_page]" id="filter_per_page" value="{{ select.per_page }}" class="textbox textbox--small" />
                    </div>
                </div>
            </div>
            <div class="form__submit">
                <button type="submit" class="button button--medium">
                    {{ include('partials/icon.twig', {icon: 'filter', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.filter_warning_logs }}</span>
                </button>
            </div>
        </section>
    </form>
    <link rel="stylesheet" href="{{ asset_url('jscripts/select2/select2.css') }}">
    {{ attach(resource='jscripts/select2/select2.min.js', absolute=true) }}
    <script type="text/javascript">
    <!--
    if({{ mybb.settings.use_xmlhttprequest }})
    {
        MyBB.select2();
        $("#username").select2({
            placeholder: "{{ lang.search_user }}",
            minimumInputLength: 2,
            multiple: false,
            allowClear: true,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: "xmlhttp.php?action=get_users",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term, // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data};
                }
            },
            initSelection: function(element, callback) {
                var value = $(element).val();
                if (value !== "") {
                    callback({
                        id: value,
                        text: value
                    });
                }
            },
        });
    }
    // -->
    </script>
{% endblock moderationBody %}
