<div class="row mod-queue">
    <div class="mod-queue__header">
        <div class="mod-queue__header-section">
            <h2 class="mod-queue__subject"><a href="{{ post.postlink|raw }}#pid{{ post.pid }}" title="{{ post.subject }}">{{ lang.post }}</a> in <a href="{{ post.threadlink }}">{{ post.threadsubject }}</a></h2>
            <div class="mod-queue__author">{{ lang.by }} {{ post.profile_link|raw }}</div>
            <div class="mod-queue__date">{{ post.postdate|raw }}</div>
            <div class="mod-queue__forum">{{ lang.meta_forum }} <a href="{{ post.forum_link }}">{{ post.forum_name }}</a></div>
        </div>
        <div class="mod-queue__header-section">
            <div class="segmented-control">
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_ignore segmented-control__input" name="posts[{{ post.pid }}]" id="post_ignore_{{ post.pid }}" value="ignore" checked />
                    <label class="segmented-control__button" for="post_ignore_{{ post.pid }}">
                        {{ include('partials/icon.twig', {icon: 'minus-circle', class: 'segmented-control__icon'}, with_context = false) }}
                        <span class="segmented-control__text">{{ lang.ignore }}</span>
                    </label>
                </span>
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_delete segmented-control__input" name="posts[{{ post.pid }}]" id="post_delete_{{ post.pid }}" value="delete" />
                    <label class="segmented-control__button" for="post_delete_{{ post.pid }}">
                        {{ include('partials/icon.twig', {icon: 'trash', class: 'segmented-control__icon'}, with_context = false) }}
                        <span class="segmented-control__text">{{ lang.delete }}</span>
                    </label>
                </span>
                <span class="segmented-control__option">
                    <input type="radio" class="radio radio_approve segmented-control__input" name="posts[{{ post.pid }}]" id="post_approve_{{ post.pid }}" value="approve" />
                    <label class="segmented-control__button" for="post_approve_{{ post.pid }}">
                        {{ include('partials/icon.twig', {icon: 'check', class: 'segmented-control__icon'}, with_context = false) }}
                        <span class="segmented-control__text">{{ lang.approve }}</span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="mod-queue__message">
        {{ post.message|nl2br }}
    </div>
</div>
