<li class="buddy-ignore-list__user" id="{{ user.type }}_{{ user.uid }}">
    <span class="buddy-ignore-list__username">{{ user.profile_link|raw }}</span>
    {% if user.status_type == "online" %}
        <span class="buddy-ignore-list__user-status user-status user-status--online">
            {{ include('partials/icon.twig', {icon: 'dot-circle', class: 'user-status__icon', title: attribute(lang, user.status)}, with_context = false) }}
        </span>
    {% elseif user.status == "away" %}
        <span class="buddy-ignore-list__user-status user-status user-status--away">
            {{ include('partials/icon.twig', {icon: 'dot-circle', class: 'user-status__icon', title: attribute(lang, user.status)}, with_context = false) }}
        </span>
    {% else %}
        <span class="buddy-ignore-list__user-status user-status user-status--offline">
            {{ include('partials/icon.twig', {icon: 'dot-circle', class: 'user-status__icon', title: attribute(lang, user.status)}, with_context = false) }}
        </span>
    {% endif %}
    <a href="usercp.php?action=do_editlists&amp;my_post_key={{ mybb.post_code }}&amp;manage={{ user.type }}&amp;delete={{ user.uid }}"
       onclick="return UserCP.removeBuddy('{{ user.type }}', {{ user.uid }});" title="{{ lang.remove_from_list }}" class="buddy-ignore-list__delete-link">
       {{ include('partials/icon.twig', {icon: 'user-times', class: 'buddy-ignore-list__delete-icon', title: lang.remove_from_list}, with_context = false) }}
    </a>
</li>
