{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.password_required }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content page-content--centered">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.password_required }}</h1>
        </header>

        {% if pwnote %}
            <div class="alert alert--danger">
                {{ include('partials/icon.twig', {icon: 'exclamation-triangle', class: 'alert__icon'}, with_context = false) }}
                <div class="alert__message">
                    <p class="alert__description">{{ lang.wrong_forum_password }}</p>
                </div>
            </div>
        {% endif %}

        <form action="{{ currentUrl }}" method="post">
            <section class="block block--form form">
                <div class="section section--form">
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="pwverify">{{ lang.enter_password_below }}</label></h3>
                        <p class="field__description">{{ lang.forum_password_note }}</p>
                        <input type="password" class="textbox" name="pwverify" id="pwverify" value="" />
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'key', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.verify_forum_password }}</span>
                    </button>
                </div>
            </section>
        </form>
    </div>
{% endblock body %}
