{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.password_required }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <form action="{{ currentUrl }}" method="post">
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="thead" align="center" colspan="2"><strong>{{ lang.password_required }}</strong></td>
            </tr>
            <tr>
                <td class="trow2" colspan="2">{{ lang.forum_password_note }}</td>
            </tr>
            <tr>
                <td class="tcat" colspan="2"><strong>{{ lang.enter_password_below }}</strong></td>
            </tr>
            {% if pwnote %}
                <tr>
                    <td class="trow1" align="center" colspan="2"><strong>{{ lang.wrong_forum_password }}</strong></td>
                </tr>
            {% endif %}
            <tr>
                <td class="trow1" align="center" colspan="2"><input type="password" class="textbox" name="pwverify" size="50" value="" /></td>
            </tr>
        </table>
        <br />
        <div align="center"><input type="submit" class="button" name="submit" value="{{ lang.verify_forum_password }}" /></div>
    </form>
{% endblock body %}