{% set class %}{{ thread.bgcolor }} {{ thread.classType }}{% endset %}
<div class="row row--thread thread {{ class }} inline_row {% if thread.unreadpost and moved != true %}thread--unread{% endif %} {% if modpermissions.ismod %}thread--moderator{% endif %}">
    <div class="thread__column thread__column--primary">
		<h3 class="thread__title">
            <span class="tag">{{ lang.deleted_thread }}</span>

            {# Thread status icons #}
            <span class="thread__icons">
                {# Closed #}
                {% if thread.closed and moved != true %}
                    <i class="thread__icon fas fa-lock fa-fw" title="{{ lang.closed }}"></i>
                {% endif %}

                {# Sticky #}
                {% if thread.sticky %}
                    <i class="thread__icon thread__icon--sticky fas fa-thumbtack fa-fw" title="{{ lang.sticky }}"></i>
                {% endif %}

                {# Moved #}
                {% if moved %}
                    <i class="thread__icon fas fa-arrow-right fa-fw" title="{{ lang.moved_prefix }}"></i>
                {% endif %}

                {# Poll #}
                {% if thread.poll %}
                    <i class="thread__icon fas fa-check-square fa-fw" title="{{ lang.poll_prefix }}"></i>
                {% endif %}
            </span>
        </h3>
    </div>
    <div class="thread__column thread__column--replies">&nbsp;</div>
    <div class="thread__column thread__column--latest">&nbsp;</div>
    {% include 'forumdisplay/thread_modbit.twig' %}
</div>
