{# TO DO: THREAD RATINGS #}
{# {% include 'forumdisplay/thread_rating.twig' %} #}

<div class="row row--thread thread inline_row
    {% if thread.unreadpost and thread.moved == 0 %} thread--unread{% endif %}
    {% if thread.sticky %} thread--sticky{% endif %}
    {% if modpermissions.ismod %} thread--moderator{% endif %}
    {% if thread.visible == -1 and modpermissions.canviewdeleted %} thread--deleted{% endif %}
    {% if thread.visible == 0 %} thread--awaiting-approval{% endif %}">
    <div class="thread__column thread__column--primary">
        <h3 class="thread__title">
            {# Thread prefix #}
            {% if thread.threadprefix %}
                <span class="tag tag--thread-prefix tag--thread-prefix-{{ thread.prefix }}">{{ thread.threadprefix|raw }}</span>
            {% endif %}

            {# Thread title #}
            <span class="{{ thread.inlineEditClass }} {{ thread.newclass }}" id="tid_{{ thread.tid }}">
                <a href="{{ thread.threadlink }}">{{ thread.subject }}</a>
            </span>

            {# Deleted thread #}
            {% if thread.visible == -1 %}
                <span class="tag tag--thread-status tag--deleted">{{ lang.deleted_thread }}</span>
            {% endif %}

            {% if thread.visible == 0 %}
                <span class="tag tag--thread-status tag--awaiting-approval">{{ lang.awaiting_approval }}</span>
            {% endif %}

            {# Go to unread link #}
            {% if thread.unreadpost and thread.moved == 0 %}
                <a href="{{ thread.newpostlink }}" class="thread__status">
                    {{ include('partials/icon.twig', {icon: 'circle', class: '', title: lang.goto_first_unread}, with_context = false) }}
                </a>
            {% endif %}

            {# Thread status icons #}
            <span class="thread__icons">
                {# Thread icon #}
                {% if thread.icon and iconCache[thread.icon] %}
                    <span class="thread__icon"><img src="{{ iconCache[thread.icon].path }}" alt="{{ iconCache[thread.icon].name }}" title="{{ iconCache[thread.icon].name }}" /></span>
                {% endif %}

                {# Contains posts by you #}
                {% if 'dot' in thread.folder.value %}
                    {{ include('partials/icon.twig', {icon: 'user-circle', class: 'thread__icon fa-fw', title: lang.posts_by_you}, with_context = false) }}
                {% endif %}

                {# Attachment paperclip #}
                {% if mybb.settings.enableattachments and thread.attachmentcount %}
                    {% set attachment_title = (thread.attachmentcount > 1) ? trans(lang.attachment_count_multiple, thread.attachmentcount) : lang.attachment_count %}
                    {{ include('partials/icon.twig', {icon: 'paperclip', class: 'thread__icon fa-fw', title: attachment_title}, with_context = false) }}
                {% endif %}

                {# Hot thread #}
                {% if 'hot' in thread.folder.value %}
                    {{ include('partials/icon.twig', {icon: 'fire', class: 'thread__icon fa-fw', title: lang.hot}, with_context = false) }}
                {% endif %}

                {# Poll #}
                {% if thread.poll %}
                    {{ include('partials/icon.twig', {icon: 'check-square', class: 'thread__icon fa-fw', title: lang.poll_prefix}, with_context = false) }}
                {% endif %}

                {# Moved #}
                {% if thread.moved %}
                    {{ include('partials/icon.twig', {icon: 'arrow-right', class: 'thread__icon fa-fw', title: lang.moved_prefix}, with_context = false) }}
                {% endif %}

                {# Closed #}
                {% if thread.closed %}
                    {{ include('partials/icon.twig', {icon: 'lock', class: 'thread__icon fa-fw', title: lang.closed}, with_context = false) }}
                {% endif %}

                {# Sticky #}
                {% if thread.sticky %}
                    {{ include('partials/icon.twig', {icon: 'thumbtack', class: 'thread__icon thread__icon--sticky fa-fw', title: lang.sticky}, with_context = false) }}
                {% endif %}
            </span>
        </h3>
        {% if thread.posts > mybb.settings.postsperpage %}
            <span class="thread__pages">
                <span class="thread__page-legend">{{ lang.pages }}</span>
                {% set pagesStop = (thread.pages > mybb.settings.maxmultipagelinks) ? mybb.settings.maxmultipagelinks : thread.pages %}
                {% for page in 1..pagesStop %}
                    <a href="{{ page_link }}" class="thread__page-link">{{ page }}</a>{# TODO: page_link to be replaced when get_thread_link is adapted to Twig #}
                {% endfor %}
                {% if thread.pages > mybb.settings.maxmultipagelinks %}... <a href="{{ thread.threadlink }}" class="thread__page-link">{{ thread.pages }}</a>{% endif %}
            </span>
        {% endif %}
        <p class="thread__author">{{ lang.by }} {{ thread.profilelink|raw }} {{ thread.start_datetime }}</p>
    </div>
    {% if thread.moved %}
        <div class="thread__column thread__column--replies">&nbsp;</div>
    {% else %}
        <div class="thread__column thread__column--replies">
            <p class="thread__replies">
                <a href="{{ mybb.settings.bburl }}/misc.php?action=whoposted&amp;tid={{ thread.tid }}" onclick="MyBB.whoPosted({{ thread.tid }}); return false;" title="{{ lang.replies }}: {{ thread.replies }} &middot; {{ lang.views }}: {{ thread.views }}" class="thread__reply-count">{{ thread.replies }}</a>
                {% if thread.unapprovedposts and modpermissions.canviewunapprove %}
                    <span class="thread__unapproved-replies" title="{{ (thread.unapprovedposts == 1) ? trans(lang.thread_unapproved_post_count, 1) : trans(lang.thread_unapproved_posts_count, thread.unapprovedposts) }}">
                        {{ thread.unapprovedposts|my_number_format }}
                    </span>
                {% endif %}
                <span class="thread__reply-legend">{% if thread.replies == 1 %}{{ lang.reply }}{% else %}{{ lang.replies }}{% endif %}</span>
            </p>
        </div>
    {% endif %}
    <div class="thread__column thread__column--latest">
        <p class="thread__latest-post">
            <span class="thread__latest-post__text">{{ lang.lastpost_by }}</span>
            <a href="{{ get_profile_link(thread.lastposteruid) }}" class="avatar-profile-link">
                {{ render_avatar(url=thread.last_poster_avatar, alt=thread.last_poster_name, class='avatar--smallest') }}
            </a>
            <span class="thread__latest-post__author">
                {% if thread.lastposteruid > 0 %}
                    {{ thread.lastposter|raw }}
                {% else %}
                    {{ lang.guest }}
                {% endif %}
            </span>
            <a href="{{ thread.lastpostlink }}" class="thread__latest-post__date">{{ thread.lastpostdate|raw }}</a>
        </p>
    </div>
    {% include 'forumdisplay/thread_modbit.twig' %}
</div>
