{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.search }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.search }}</h1>
        </header>
        <form action="search.php">
            <input type="hidden" name="action" value="do_search" />
            <div class="block block--form form">
                <section class="section section--form">
                    <h2 class="title title--section"><label for="keywords">{{ lang.search_keyword }}</label></h2>
                    <div class="section__container">
                        <div class="row row--form field">
                            <input type="text" class="textbox" id="keywords" name="keywords" size="35" maxlength="250" />
                            <div class="field__block">
                                <p class="option-field option-field--compact">
                                    <label><input type="radio" class="radio" name="postthread" value="1" checked="checked" /> {{ lang.search_entire_post }}</label>
                                </p>
                                <p class="option-field option-field--compact">
                                    <label><input type="radio" class="radio" name="postthread" value="2" /> {{ lang.search_titles_only }}</label>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section--form">
                    <h2 class="title title--section"><label for="author">{{ lang.search_username }}</label></h2>
                    <div class="section__container">
                        <div class="row row--form field">
                            <input type="text" class="" id="author" name="author" size="35" maxlength="{{ mybb.settings.maxnamelength }}" />
                            <p class="option-field option-field--compact">
                                <label><input type="checkbox" class="checkbox" name="matchusername" value="1" checked="checked" /> {{ lang.match_username }}</label>
                            </p>
                        </div>
                    </div>
                </section>
                <section class="section section--form">
                    <h2 class="title title--section">{{ lang.search_forums }}</h2>
                    <div class="section__container">
                        <div class="row row--form field">
                        <select name="forums[]" size="20" multiple="multiple">
                            <option value="all" selected="selected">{{ lang.search_all_forums }}</option>
                            <option value="all">----------------------</option>
                            {% for forum in forums %}
                                <option value="{{ forum.fid }}">{{ forum.depth|raw }} {{ forum.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </section>
                <section class="section section--form">
                    <h2 class="title title--section">{{ lang.search_options }}</h2>
                    <div class="section__container">
                        <div class="row row--form field">
                            <div class="select-field">
                            {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                <select name="findthreadst">
                                    <option value="1">{{ lang.threads_at_least }}</option>
                                    <option value="2">{{ lang.threads_at_most }}</option>
                                </select>
                            </div>
                            &nbsp;
                            <input type="text" class="textbox textbox--small" name="numreplies" size="2" maxlength="4" />
                            {{ lang.replies2 }}
                        </div>
                        <div class="row row--form field">
                            <div class="select-field">
                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                <select name="postdate">
                                    <option value="0">{{ lang.find_anydate }}</option>
                                    <option value="1">{{ lang.find_yesterday }}</option>
                                    <option value="7">{{ lang.find_lastweek }}</option>
                                    <option value="14">{{ lang.find_2weeks }}</option>
                                    <option value="30">{{ lang.find_month }}</option>
                                    <option value="90">{{ lang.find_3months }}</option>
                                    <option value="180">{{ lang.find_6months }}</option>
                                    <option value="365">{{ lang.find_year }}</option>
                                </select>
                            </div>
                            <div class="field__block">
                                <span class="segmented-control">
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio segmented-control__input" name="pddir" id="pddir_1" value="1" checked="checked" />
                                        <label for="pddir_1" class="segmented-control__button">{{ lang.and_newer }}</label>
                                    </span>
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio segmented-control__input" name="pddir" id="pddir_0" value="0" />
                                        <label for="pddir_0" class="segmented-control__button">{{ lang.and_older }}</label>
                                    </span>
                                </span>
                            </div>
                        </div>
                        {% if search.showprefixes %}
                            <div class="row row--form field">
                                <div class="select-field">
                                    {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                    <select name="threadprefix[]" multiple="multiple" size="5">
                                        <option value="any">{{ lang.any_prefix }}</option>
                                        <option value="0">{{ lang.no_prefix }}</option>
                                        {% for prefix in prefixes %}
                                            <option value="{{ prefix.pid }}"{% if prefix.selected %} selected="selected"{% endif %}>{{ prefix.prefix }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="sortby">{{ lang.sort_by }}</label></h3>
                            <div class="select-field">
                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                <select name="sortby" id="sortby">
                                    <option value="lastpost">{{ lang.sort_lastpost }}</option>
                                    <option value="starter">{{ lang.sort_author }}</option>
                                    <option value="forum">{{ lang.sort_forum }}</option>
                                    <option value="views">{{ lang.sort_views }}</option>
                                    <option value="replies">{{ lang.sort_replies }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row row--form field">
                            <h3 class="field__name">{{ lang.sort_order }}</h3>
                            <span class="segmented-control">
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="sortordr" id="sortordr_asc" value="asc" />
                                    <label for="sortordr_asc" class="segmented-control__button">{{ lang.sort_asc }}</label>
                                </span>
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="sortordr" id="sortordr_desc" value="desc" checked="checked" />
                                    <label for="sortordr_desc" class="segmented-control__button">{{ lang.sort_desc }}</label>
                                </span>
                            </span>
                        </div>
                        <div class="row row--form field">
                            <h3 class="field__name">{{ lang.show_results_as }}</h3>
                            <span class="segmented-control">
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="showresults" id="showresults_threads" value="threads" checked="checked" />
                                    <label for="showresults_threads" class="segmented-control__button">{{ lang.show_results_threads }}</label>
                                </span>
                                <span class="segmented-control__option">
                                    <input type="radio" class="segmented-control__input radio" name="showresults" id="showresults_posts" value="posts" />
                                    <label for="showresults_posts" class="segmented-control__button">{{ lang.show_results_posts }}</label>
                                </span>
                            </span>
                        </div>
                    </div>
                </section>
                {% if search.ismoderator %}
                    <section class="section section--form">
                        <h2 class="title title--section"><label for="visible">{{ lang.mod_options }}</label></h2>
                        <div class="section__container">
                            <div class="select-field">
                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                <select name="visible">
                                    <option value="">{{ lang.display_all }}</option>
                                    <option value="1">{{ lang.display_only_approved }}</option>
                                    <option value="0">{{ lang.display_only_unapproved }}</option>
                                    <option value="-1">{{ lang.display_only_softdeleted }}</option>
                                </select>
                            </div>
                        </div>
                    </section>
                {% endif %}
                <div class="form__submit">
                    <button type="submit" class="button button--big" name="submit">
                        {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.search }}</span>
                    </button>
                </div>
            </div>
        </form>
        <link rel="stylesheet" href="{{ asset_url('jscripts/select2/select2.css') }}">
        {{ attach(resource='jscripts/select2/select2.min.js', absolute=true) }}
        <script type="text/javascript">
            <!--
            if({{ mybb.settings.use_xmlhttprequest }})
            {
                MyBB.select2();
                $("#author").select2({
                    placeholder: "{{ lang.search_user }}",
                    minimumInputLength: 2,
                    multiple: false,
                    allowClear: true,
                    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                        url: "xmlhttp.php?action=get_users",
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                query: term, // search term
                            };
                        },
                        results: function (data, page) { // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to alter remote JSON data
                            return {results: data};
                        }
                    },
                    initSelection: function(element, callback) {
                        var value = $(element).val();
                        if (value !== "") {
                            callback({
                                id: value,
                                text: value
                            });
                        }
                    },
                });
            }
            // -->
        </script>
    </div>
{% endblock body %}
