{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.contact }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.contact }}</h1>
        </header>
        <form action="contact.php" method="post">
            <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
            <input type="hidden" name="from" value="{{ redirect_url }}" />
            {{ errors|raw }}
            <div class="block block--form form">
                <section class="section section--form">
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="subject">{{ lang.contact_subject }}</label></h3>
                        <p class="field__description">{{ lang.contact_subject_desc }}</p>
                        <input type="text" name="subject" id="subject" class="textbox" size="49" value="{{ mybb.input.subject }}" />
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="message">{{ lang.contact_message }}</label></h3>
                        <p class="field__description">{{ lang.contact_message_desc }}</p>
                        <textarea cols="50" rows="10" name="message" id="message" class="textarea" >{{ mybb.input.message }}</textarea>
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="email">{{ lang.contact_email }}</label></h3>
                        <p class="field__description">{{ lang.contact_email_desc }}</p>
                        <input type="text" name="email" id="email" class="textbox" size="49" value="{{ mybb.input.email }}" />
                    </div>
                </section>
                {{ captcha|raw }}
                <div class="form__submit">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'envelope', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.contact_send }}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
