<div class="row row--message message message--{{ message.msgstatus }}">
    <div class="message__column message__column--primary">
        {% if not message.multiplerecipients %}
            <a href="{{ get_profile_link(message.uid) }}" class="avatar-profile-link">
                {{ render_avatar(url=message.avatar, alt=message.username_raw, class='avatar--smallest') }}
            </a>
        {% endif %}
        <h3 class="message__subject">
            <a class="{{ message.msgstatus }}" href="private.php?action=read&amp;pmid={{ message.pmid }}">{{ message.subject }}</a>
            {% if message.denyreceipt %}
                 <span class="message__deny-receipt"><a href="private.php?action=read&amp;pmid={{ message.pmid }}&amp;denyreceipt=1">{{ lang.deny_receipt }}</a></span>
            {% endif %}
            <span class="message__icons">
                {% if message.hasicon %}
                    <span class="message__icon"><img src="{{ message.icon_path }}" alt="{{ message.icon_name }}" title="{{ message.icon_name }}" /></span>
                {% endif %}
                {% if message.msgstatus == 'new_pm' %}
                    {{ include('partials/icon.twig', {icon: 'envelope', class: 'message__icon message__icon--new_pm'}, with_context = false) }}
                {% elseif message.msgstatus == 're_pm' %}
                    {{ include('partials/icon.twig', {icon: 'reply', class: 'message__icon message__icon--re_pm'}, with_context = false) }}
                {% elseif message.msgstatus == 'fw_pm' %}
                    {{ include('partials/icon.twig', {icon: 'share', class: 'message__icon message__icon--fw_pm'}, with_context = false) }}
                {% endif %}
            </span>
        </h3>
        <p class="message__username">
            {% if message.folder == 2 or message.folder == 3 %}
                <span class="message__label message__label--to">{{ lang.to }}</span>
            {% else %}
                <span class="message__label message__label--from">{{ lang.from }}</span>
            {% endif %}
            {# TO DO: Multiple recipients dropdown #}
            {% if message.multiplerecipients %}
                <a href="private.php?action=read&amp;pmid={{ message.pmid }}" id="private_message_{{ message.pmid }}">{{ lang.multiple_recipients|raw }}</a>
                <div id="private_message_{{ message.pmid }}_popup" class="popup_menu" style="display: none;">
                    <div class="tcat"><strong>{{ lang.to }}</strong></div>
                    {% for user in messages.tousers %}
                        <div class="popup_item_container"><a href="{{ user.profilelink|raw }}" class="popup_item">{{ user.username|raw }}</a></div>
                    {% endfor %}
                    {% if message.bbcusers %}
                        <div class="tcat"><strong>{{ lang.bcc }}</strong></div>
                    {% endif %}
                    {% for user in messages.bbcusers %}
                        <div class="popup_item_container"><a href="{{ user.profilelink|raw }}" class="popup_item">{{ user.username|raw }}</a></div>
                    {% endfor %}
                </div>
                <script type="text/javascript">
                <!--
                    $("#private_message_{{ message.pmid }}").popupMenu();
                // -->
                </script>
            {% else %}
                {{ message.username|raw }}
            {% endif %}
        </p>
        <p class="message__folder">
            <span class="message__label message__label--in">{{ lang.in }}</span>
            <a href="private.php?fid={{ message.folder }}">{{ message.foldername }}</a>
        </p>
    </div>
    <div class="message__column message__column--date">
        <span class="visually-hidden">{{ lang.date_sent }}</span>
        <span class="message__date">{{ message.senddate|raw }}</span>
    </div>
    <div class="message__column message__column--checkbox">
        <input type="checkbox" class="checkbox" name="check[{{ message.pmid }}]" value="1" />
    </div>
</div>
