{% extends 'messages/base.twig' %}

{% block message %}
    <div class="float_right">
        <a href="{{ mybb.settings.bburl }}/private.php?action=dismiss_notice&amp;my_post_key={{ mybb.post_code }}" title="{{ lang.dismiss_notice }}" onclick="return MyBB.dismissPMNotice('{{ mybb.settings.bburl }}/')">
            <img src="{{ theme.imgdir }}/dismiss_notice.png" alt="{{ lang.dismiss_notice }}" title="{{ lang.dismiss_notice }}" />
        </a>
    </div>
{% endblock message %}