<!doctype html>
<html class="no-js"{% if lang.settings.rtl %} dir="rtl"{% endif %}{% if lang.settings.htmllang %} lang="{{ lang.settings.htmllang }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block head %}
        <title>MyBB</title>
    {% endblock head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% for stylesheet in get_stylesheets() %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    {# TEMPORARY #}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.8/jquery.jgrowl.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Asap:400,600,600i|Open+Sans:300,400,700" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="{{ lang.latest_threads }} (RSS 2.0)" href="{{ mybb.settings.bburl }}/syndication.php" />
    <link rel="alternate" type="application/atom+xml" title="{{ lang.latest_threads }} (Atom 1.0)" href="{{ mybb.settings.bburl }}/syndication.php?type=atom1.0" />

    {% block js deferred %}
    {% for jscript in get_jscripts() %}
        <script type="text/javascript" src="{{ jscript.path }}"{{ jscript.attributes|raw }}></script>
    {% endfor %}
    {% endblock %}

    <script type="text/javascript">
    <!--
        lang.unknown_error = "{{ lang.unknown_error }}";
        lang.confirm_title = "{{ lang.confirm_title }}";

        lang.expcol_collapse = "{{ lang.expcol_collapse }}";
        lang.expcol_expand = "{{ lang.expcol_expand }}";
        lang.select2_match = "{{ lang.select2_match }}";
        lang.select2_matches = "{{ lang.select2_matches }}";
        lang.select2_nomatches = "{{ lang.select2_nomatches }}";
        lang.select2_inputtooshort_single = "{{ lang.select2_inputtooshort_single }}";
        lang.select2_inputtooshort_plural = "{{ lang.select2_inputtooshort_plural }}";
        lang.select2_inputtoolong_single = "{{ lang.select2_inputtoolong_single }}";
        lang.select2_inputtoolong_plural = "{{ lang.select2_inputtoolong_plural }}";
        lang.select2_selectiontoobig_single = "{{ lang.select2_selectiontoobig_single }}";
        lang.select2_selectiontoobig_plural = "{{ lang.select2_selectiontoobig_plural }}";
        lang.select2_loadmore = "{{ lang.select2_loadmore }}";
        lang.select2_searching = "{{ lang.select2_searching }}";

        var templates = {
            modal: '{{ jsTemplates.modal|raw }}',
            modal_button: '{{ jsTemplates.modal_button|raw }}'
        };

        var cookieDomain = "{{ mybb.settings.cookiedomain }}";
        var cookiePath = "{{ mybb.settings.cookiepath }}";
        var cookiePrefix = "{{ mybb.settings.cookieprefix }}";
        var cookieSecureFlag = "{{ mybb.settings.cookiesecureflag }}";
        var deleteevent_confirm = "{{ lang.deleteevent_confirm }}";
        var removeattach_confirm = "{{ lang.removeattach_confirm }}";
        var loading_text = '{{ lang.ajax_loading }}';
        var saving_changes = '{{ lang.saving_changes }}';
        var use_xmlhttprequest = "{{ mybb.settings.use_xmlhttprequest }}";
        var my_post_key = "{{ mybb.post_code }}";
        var rootpath = "{{ mybb.settings.bburl }}";
        var imagepath = "{{ theme.imgdir }}";
        var yes_confirm = "{{ lang.yes }}";
        var no_confirm = "{{ lang.no }}";
        var MyBBEditor = null;
        var spinner_image = "{{ theme.imgdir }}/spinner.gif";
        var spinner = "<img src='" + spinner_image +"' alt='' />";
        var modal_zindex = 9999;
        var modal_close = '{% apply spaceless %}{% include 'modals/close.twig' %}{% endapply %}';
    // -->
    </script>

    {% block jscripts %}{% endblock %}
</head>
<body>
{% block header %}{% include 'partials/header.twig' %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% include 'partials/footer.twig' %}{% endblock %}
</body>
</html>
