{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.warning_log }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% set has_active = false %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.warning_log }}</h1>
            {% if warning_level > 0 %}
                <p class="page-description">{{ trans('current_warning_level', warning_level, user.warningpoints, mybb.settings.maxwarningpoints)|raw }}</p>
                <div class="warning-level">
                    <div class="warning-level__bar warning-level__bar--current" style="width: {{ warning_level }}%;"></div>
                </div>
            {% endif %}
        </header>
        {{ multipage|raw }}

        <section class="block">
            {% for warning in warnings %}
                {% if warning.active == 1 %}
                    <h1 class="title title--major">{{ lang.active_warnings }}</h1>
                    {% set has_active = true %}
                {% endif %}
                {% if warning.active == 2 %}
                    {# Show separate section block if there are both active and expired warnings #}
                    {% if has_active %}
                        </section>
                        <section class="block">
                    {% endif %}
                    <h1 class="title title--major">{{ lang.expired_warnings }}</h1>
                {% endif %}

                {% include 'warnings/warning_row.twig' %}
            {% else %}
                <div class="alert alert--no-results alert--no-results-container">{{ lang.no_warnings }}</div>
            {% endfor %}
        </section>

        {{ multipage|raw }}
    </div>
{% endblock body %}
