{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ foruminfo.name }} - {{ mybb.settings.bbname }}</title>

    {% if foruminfo.type != 'c' %}
        <link rel="alternate" type="application/rss+xml" title="{{ trans('rss_discovery_forum', foruminfo.name|striptags) }} (RSS 2.0)" href="{{ mybb.settings.bburl }}/syndication.php?fid={{ foruminfo.fid }}" />
        <link rel="alternate" type="application/atom+xml" title="{{ lang.rss_discovery_forum }} (Atom 1.0)" href="{{ mybb.settings.bburl }}/syndication.php?type=atom1.0&amp;fid={{ foruminfo.fid }}" />
    {% endif %}
{% endblock head %}

{% block jscripts %}
    <script type="text/javascript">
    <!--
        lang.no_new_posts = "{{ lang.no_new_posts }}";
        lang.click_mark_read = "{{ lang.click_mark_read }}";
        lang.inline_edit_description = "{{ lang.inline_edit_description }}";
        lang.post_fetch_error = "{{ lang.post_fetch_error }}";
    // -->
    </script>
{% endblock jscripts %}

{% block body %}
    {% set displayRating = (mybb.settings.allowthreadratings and foruminfo.allowtratings and fpermissions.canviewthreads) ? true : false %}

    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ foruminfo.name }}</h1>
            {% if foruminfo.description %}
                <p class="page-description">{{ foruminfo.description|raw }}</p>
            {% endif %}
        </header>

        {# Moderated by #}
        {% if moderators %}
            <p>{{ lang.moderated_by }}
                <strong>
                    {% for moderator in moderators.users %}
                        <a href="{{ moderator.profilelink }}">{{ moderator.username }}</a>{% if loop.last == false %}{{ lang.comma }} {% endif %}
                    {% endfor %}
                    {% if moderators.groups %}{{ lang.comma }} {% endif %}
                    {% for moderator in moderators.groups %}
                        {{ moderator.title }}{% if loop.last == false %}{{ lang.comma }} {% endif %}
                    {% endfor %}
                </strong>
            </p>
        {% endif %}

        {# Forum rules #}
        {% if foruminfo.rulestype and foruminfo.rules %}
            <section class="container container--forum-rules">
                {% if foruminfo.rulestype == 2 %}
                    <strong><a href="misc.php?action=rules&amp;fid={{ foruminfo.fid }}">{{ foruminfo.rulestitle|default(trans('forum_rules', foruminfo.name)) }}</a></strong>
                {% else %}
                    <h4 class="title title--container">{{ foruminfo.rulestitle|default(trans('forum_rules', foruminfo.name)) }}</h4>
                    {{ foruminfo.rules }}
                {% endif %}
            </section>
        {% endif %}

        {# Subforums #}
        {% if subforums %}
            <section class="block">
                <h2 class="title title--major">{{ trans('sub_forums_in', foruminfo.name) }}</h2>
                <div class="forum-list forum-list--full-width">
                    {{ subforums|raw }}
                </div>
            </section>
        {% endif %}

        {% if foruminfo.type == 'f' and foruminfo.open and fpermissions.canpostthreads and mybb.user.suspendposting is not empty %}
            {% set newthread %}
                <a href="newthread.php?fid={{ foruminfo.fid }}" class="button button--medium button--full-width">
                    {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.post_thread }}</span>
                </a>
            {% endset %}
        {% endif %}

        {% if foruminfo.type != 'c' %}
            <div class="page-controls page-controls--top">
                <div class="page-buttons">
                    <a href="misc.php?action=markread&amp;fid={{ foruminfo.fid }}{% if mybb.user.uid %}&amp;my_post_key={{ mybb.post_code }}{% endif %}" class="button button--medium button--secondary button--half-width">
                        {{ include('partials/icon.twig', {icon: 'dot-circle', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.markforum_read }}</span>
                    </a>
                    <a href="usercp.php?action={{ subAction }}subscription&amp;type=forum&amp;fid={{ foruminfo.fid }}&amp;my_post_key={{ mybb.post_code }}" class="button button--medium button--secondary button--half-width">
                        {% if subAction == 'add' %}
                            {{ include('partials/icon.twig', {icon: 'plus', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.subscribe_forum }}</span>
                        {% else %}
                            {{ include('partials/icon.twig', {icon: 'minus', class: 'button__icon'}, with_context = false) }}
                            <span class="button__text">{{ lang.unsubscribe_forum }}</span>
                        {% endif %}
                    </a>
                    {% if foruminfo.password %}
                        <a href="misc.php?action=clearpass&amp;fid={{ foruminfo.fid }}&amp;my_post_key={{ mybb.post_code }}" class="button button--medium button--secondary button--full-width">
                            {{ include('partials/icon.twig', {icon: 'key', class: 'button__icon'}, with_context = false) }}
                            {{ lang.clear_stored_password }}</a>
                    {% endif %}
                    {{ newthread }}
                </div>
                {{ multipage|raw }}
            </div>
            <section class="thread-list">
                {# Sorting #}
                {% set ascDesc %}
                    <span class="sort-threads__order">
                        <a href="{{ sorting.url }}&amp;sortby={{ sorting.by }}&amp;order={{ sorting.oppsortnext }}">
                            {% if sorting.oppsortnext == 'asc' %}
                                {{ include('partials/icon.twig', {icon: 'chevron-circle-up', class: '', title: sorting.oppsort}, with_context = false) }}
                            {% else %}
                                {{ include('partials/icon.twig', {icon: 'chevron-circle-down', class: '', title: sorting.oppsort}, with_context = false) }}
                            {% endif %}
                        </a>
                    </span>
                {% endset %}

            	<div class="sort-threads">
            		<div class="sort-threads__column sort-threads__column--primary">
            			<a href="{{ sorting.url }}&amp;sortby=subject&amp;order=asc" class="sort-threads__link">{{ lang.thread }}</a> {% if sorting.by == 'subject' %}{{ ascDesc }}{% endif %}
                        <span class="sort-threads__author"> &mdash; <a href="{{ sorting.url }}&amp;sortby=starter&amp;order=asc" class="sort-threads__link">{{ lang.author }}</a> {% if sorting.by == 'starter' %}{{ ascDesc }}{% endif %}</span>
            		</div>
            		<div class="sort-threads__column sort-threads__column--replies">
            			<a href="{{ sorting.url }}&amp;sortby=replies&amp;order=desc" class="sort-threads__link">{{ lang.replies }}</a> {% if sorting.by == 'replies' %}{{ ascDesc }}{% endif %}
            		</div>
            		<div class="sort-threads__column sort-threads__column--latest">
            			<a href="{{ sorting.url }}&amp;sortby=lastpost&amp;order=desc" class="sort-threads__link">{{ lang.lastpost }}</a> {% if sorting.by == 'lastpost' %}{{ ascDesc }}{% endif %}
            		</div>
                    {% if modpermissions.ismod %}
                        <span class="sort-threads__column sort-threads__column--checkbox">
                            <input type="checkbox" name="allbox" onclick="inlineModeration.checkAll(this)" />
                        </span>
                    {% endif %}
            	</div>

                {% if displayRating %}
                    {#<td class="tcat" align="center" width="80">
                        <span class="smalltext">
                            <strong>
                                <a href="{{ sorting.url }}&amp;sortby=rating&amp;order=desc">{{ lang.rating }}</a>
                                {% if sorting.by == 'rating' %}{{ ascDesc }}{% endif %}
                            </strong>
                        </span>
                        {{ attach_resource('jscripts/rating.js', {'defer': 'defer'}) }}
                        <script type="text/javascript">
                        <!--
                            lang.stars = [];
                            lang.stars[1] = "{{ lang.one_star }}";
                            lang.stars[2] = "{{ lang.two_stars }}";
                            lang.stars[3] = "{{ lang.three_stars }}";
                            lang.stars[4] = "{{ lang.four_stars }}";
                            lang.stars[5] = "{{ lang.five_stars }}";
                            lang.ratings_update_error = "{{ lang.ratings_update_error }}";
                        // -->
                        </script>
                    </td> #}
                {% endif %}

            {# Select all #}
            {% if modpermissions.ismod and threadcount > perpage %}
                <div class="thread-list__select-all" id="selectAllrow">
                	{{ trans('page_selected', threadCache|length) }} <a href="javascript:void(0)" onclick='inlineModeration.selectAll(); return false;'>{{ trans('select_all', threadcount) }}</a>
                </div>
                <div class="thread-list__select-all" id="allSelectedrow">
                	{{ trans('all_selected', treadcount) }} <a href="javascript:void(0)" onclick='inlineModeration.clearChecked(); return false;'>{{ lang.clear_selection }}</a>
                </div>
            {% endif %}

            {# Announcements #}
            {% if announcements %}
                <div class="thread-list__announcements">
                    <h2 class="visually-hidden">{{ lang.forum_announcements }}</h2>
                    {% for announcement in announcements %}
                        {% include 'forumdisplay/announcement.twig' %}
                    {% endfor %}
                </div>
            {% endif %}

            {# Threads – errors #}
            {% if fpermissions.canviewthreads != 1 or threadcount is empty %}
                <div class="alert alert--no-results">
                    {% if fpermissions.canviewthreads != 1 %}
                        {{ lang.nopermission }}
                    {% elseif threadcount is empty %}
                        {{ lang.nothreads }}
                    {% endif %}
                </div>
            {% else %}
                <div class="thread-list__container">
                    {% for thread in threadCache %}
                        {# Sticky thread separator #}
                        {% if thread.sticky and stickySepAdded != true %}
                            <div class="thread-list__sticky-threads">
                                <h2 class="visually-hidden">{{ lang.sticky_threads }}</h2>
                            {% set stickySepAdded = true %}

                        {# Normal thread separator #}
                        {% elseif not thread.sticky and normalSepAdded != true %}
                            {# Close sticky section if open #}
                            {% if stickySepAdded %}
                                </div>
                            {% endif %}

                            {# Begin normal thread section #}
                            <div class="thread-list__normal-threads">
                                <h2 class="visually-hidden">{{ lang.normal_threads }}</h2>
                            {% set normalSepAdded = true %}
                        {% endif %}

                        {# Threads – no errors #}
                        {% if fpermissions.canviewdeletionnotice and thread.visible == -1 and modpermissions.canviewdeleted != 1 %}
                            {% include 'forumdisplay/thread_deleted.twig' %}
                        {% else %}
                            {% include 'forumdisplay/thread.twig' %}
                        {% endif %}

                    {# No threads #}
                    {% else %}
                        <div class="alert alert--no-results">{{ lang.nothreads }}</div>
                    {% endfor %}

                    {# Close sticky or normal thread section #}
                    {% if stickySepAdded or normalSepAdded %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {# Threadlist footer #}
            <div class="sort-results">
                <form action="forumdisplay.php" method="get">
                    <input type="hidden" name="fid" value="{{ foruminfo.fid }}" />
                    <h3 class="sort-results__title visually-hidden">{{ lang.sort_threads }}</h3>
                    <div class="select-field">
                        {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                        <select name="sortby">
                            {% for field in ['subject', 'lastpost', 'starter', 'started', 'replies', 'views'] %}
                                <option value="{{ field }}"{% if mybb.input[field] %} selected{% endif %}>{{ attribute(lang, 'sort_by_' ~ field) }}</option>
                            {% endfor %}
                            {% if displayRating %}
                                <option value="rating"{% if mybb.input.rating %} selected{% endif %}>{{ lang.sort_by_rating }}</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="select-field">
                        {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                        <select name="order">
                            {% for field in ['asc', 'desc'] %}
                                <option value="{{ field }}"{% if mybb.input[field] %} selected{% endif %}>{{ attribute(lang, 'sort_order_' ~ field) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-field">
                        {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                        <select name="datecut">
                            <option value="1"{% if mybb.input.datecut == 1 %} selected{% endif %}>{{ lang.datelimit_1day }}</option>
                            {% for field in [5, 10, 20, 50, 75, 100] %}
                                <option value="{{ field }}"{% if mybb.input.datecut == field %} selected{% endif %}>{{ attribute(lang, 'datelimit_' ~ field ~ 'days') }}</option>
                            {% endfor %}
                            <option value="365"{% if mybb.input.datecut == 365 %} selected{% endif %}>{{ lang.datelimit_lastyear }}</option>
                            <option value="9999"{% if mybb.input.datecut == 9999 or mybb.input.datecut == '' %} selected{% endif %}>{{ lang.datelimit_beginning }}</option>
                        </select>
                    </div>
                    {{ prefixselect|raw }}
                    <button type="submit" class="button button--inline">
                        {{ include('partials/icon.twig', {icon: 'random', class: 'button__icon'}, with_context = false) }}
        				<span class="button__text">{{ lang.sort_threads }}</span>
        			</button>
                    </form>
                </div>
            </section>

            {{ multipage|raw }}

            <footer class="page-footer">
                <div class="row row--no-border page-tools">
                    {# Search #}
                    {% if fpermissions.cansearch and foruminfo.type == 'f' %}
                        <div class="forum-search page-tools__item">
                            <h2 class="title title--legend {% if not modpermissions.ismod %}visually-hidden{% endif %}">{{ lang.search_forum }}</h2>
                            <form action="search.php">
                                <input type="text" name="keywords" placeholder="{{ lang.enter_keywords }}" class="textbox textbox--large" />
                                <input type="hidden" name="action" value="do_search" />
                                <input type="hidden" name="forums[]" value="{{ foruminfo.fid }}" />
                                <input type="hidden" name="postthread" value="1" />
                                <button type="submit" class="button button--inline">
                                    {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                                    <span class="button__text">{{ lang.search_forum }}</span>
                                </button>
                            </form>
                        </div>
                    {% endif %}

                    {# Inline moderation #}
                    {% if modpermissions.ismod %}
                        {% include 'forumdisplay/inlinemoderation.twig' %}
                    {% endif %}
                </div>

                {# Users browsing #}
                {% if mybb.settings.browsingthisforum %}
                    <div class="container container--small container--users-browsing">{{ lang.users_browsing_forum }}
                        {% for user in usersBrowsing %}
                            {% if user.profilelink %}
                                {{ user.profilelink|raw }}{% if user.invisible %}*{% endif %}{% if loop.last == false %}{{ lang.comma }} {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if usersBrowsingCounter.invisible and mybb.usergroup.canviewwolinvis != 1 %}
                            {% if usersBrowsing %}{{ lang.comma }} {% endif %}{{ trans('users_browsing_forum_guests', usersBrowsingCounter.guests) }}
                        {% endif %}

                        {% if usersBrowsingCounter.guests %}
                            {% if usersBrowsing or (usersBrowsingCounter.invisible and mybb.usergroup.canviewwolinvis != 1) %}{{ lang.comma }} {% endif %}{{ trans('users_browsing_forum_guests', usersBrowsingCounter.guests) }}
                        {% endif %}
                    </div>
                {% endif %}
            </footer>
        {% endif %}
    </div>
{% endblock body %}
