{% if thread.rating == 'moved' %}
    <td class="{{ class }}" style="text-align: center;">-</td>
{% elseif thread.rating == 'normal' %}
    {% set currentAverage %}{{ trans('rating_votes_average', thread.numratings, thread.averagerating) }}{% endset %}
    {% set notRatedClass = (thread.rated is empty) ? ' start_rating_notrated' : '' %}
    <td align="center" class="{{ class }}" id="rating_table_{{ thread.tid }}">
        <ul class="star_rating{{ notRatedClass }}" id="rating_thread_{{ thread.tid }}">
            <li style="width: {{ thread.width }}%" class="current_rating" id="current_rating_{{ thread.tid }}">{{ currentAverage }}</li>
        </ul>
        <script type="text/javascript">
        <!--
            Rating.build_forumdisplay({{ thread.tid }}, { width: '{{ thread.width }}', extra_class: '{{ notRatedClass }}', current_average: '{{ currentAverage }}' });
        // -->
        </script>
    </td>
{% endif %}
