<div class="forum__latest">
	{{ render_avatar(url=forum.last_post.last_poster_avatar_url, alt=forum.last_post.lastposter) }}

	<h4 class="forum__subject"><a href="{{ forum.last_post.link|raw }}" title="{{ forum.last_post.full_subject }}">{{ forum.last_post.subject }}</a></h4>
	<p class="forum__date-author">{{ forum.last_post.date|raw }} {{ lang.by }} {{ forum.last_post.profile_link|raw }}</p>
</div>
