{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bburl }} - {{ lang.manage_announcement }}</title>
{% endblock head %}

{% block body %}
    <table width="100%" border="0" align="center">
        <tr>
            {# Modcp nav #}
            <td valign="top">

                {# Global announcements #}
                {% if mybb.usergroup.issupermod %}
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead" colspan="3"><div class="float_right"><a href="modcp.php?action=new_announcement&amp;fid=-1">{{ lang.add_global_announcement }}</a></div><strong>{{ lang.global_announcements }}</strong></td>
                        </tr>
                        <tr>
                            <td class="tcat"><span class="smalltext"><strong>{{ lang.announcement }}</strong></span></td>
                            <td class="tcat" width="200" colspan="2" align="center"><span class="smalltext"><strong>{{ lang.controls }}</strong></span></td>
                        </tr>
                        {% if globalAnnouncements %}
                            {% for aid, announcement in globalAnnouncements %}
                                <tr>
                                    <td>
                                        {% if announcement.startdate > 'now'|date('U') or ('now'|date('U') > announcement.enddate and announcement.enddate) %}
                                            {% set title = lang.expired_announcement %}
                                        {% else %}
                                            {% set title = lang.active_announcement %}
                                        {% endif %}
                                        <div class="subforumicon subforum_minioff" title="{{ title }}"></div>
                                        <a href="announcements.php?aid={{ aid }}">{{ announcement.subject|e }}</a>
                                    </td>
                                    <td align="center"><a href="modcp.php?action=edit_announcement&amp;aid={{ aid }}">{{ lang.edit }}</a></td>
                                    <td align="center"><a href="modcp.php?action=delete_announcement&amp;aid={{ aid }}">{{ lang.delete }}</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="trow1" colspan="3">{{ lang.no_global_announcements }}</td>
                            </tr>
                        {% endif %}
                    </table>
                    <br />
                {% endif %}

                <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                    <tr>
                        <td class="thead" colspan="3"><strong>{{ lang.forum_announcements }}</strong></td>
                    </tr>
                    <tr>
                        <td class="tcat"><span class="smalltext"><strong>{{ lang.announcement }}</strong></span></td>
                        <td class="tcat" width="200" colspan="2" align="center"><span class="smalltext"><strong>{{ lang.controls }}</strong></span></td>
                    </tr>
                    {% if forumAnnouncements %}
                    	{{ forumAnnouncements|raw }}
                    {% else %}
                    	<tr>
                            <td class="trow1" colspan="3">{$lang->no_forum_announcements}</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}