{% extends 'layouts/moderation.twig' %}

{% block head %}
    <title>{{ lang.find_users }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block moderationHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.find_users }}</h1>
    </header>
{% endblock %}

{% block moderationBody %}
    <div class="user-list">
        {% for user in users %}
            <div class="user-list__user">
                <h2 class="user-list__username"><a href="modcp.php?action=editprofile&amp;uid={{ user.uid }}">{{ user.username|raw }}</a></h2>
                <ul class="list list--stats list--user">
                    <li class="list__item">
                        <span class="list__field">{{ lang.usergroup }}</span>
                        <span class="list__value">{{ user.ugroup }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__field">{{ lang.regdate }}</span>
                        <span class="list__value">{{ user.regdate|my_date }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__field">{{ lang.lastvisit }}</span>
                        <span class="list__value">
                            {% if user.invisible == 1 and mybb.usergroup.canviewwolinvis != 1 and user.uid != mybb.user.uid %}
                                {% if user.lastvisit %}
                                    {{ lang.lastvisit_hidden }}
                                {% else %}
                                    {{ lang.lastvisit_never }}
                                {% endif %}
                            {% else %}
                                {{ user.lastvisit|my_date }}
                            {% endif %}
                        </span>
                    </li>
                    <li class="list__item">
                        <span class="list__field">{{ lang.postnum }}</span>
                        <span class="list__value">{{ user.postnum }}</span>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="alert alert--no-results">{{ lang.no_user_results }}</div>
        {% endfor %}
    </div>
    {{ multipage|raw }}
    <form action="modcp.php?action=finduser" method="post">
        <section class="block block--form form">
            <div class="section section--form">
                <h2 class="title title--section">{{ lang.find_users }}</h2>
                <div class="section__container">
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="username">{{ lang.username_contains }}</label></h3>
                        <input type="text" name="username" id="username" value="{{ mybb.input.username }}" class="" />
                    </div>
                </div>
            </div>
            <div class="section section--form">
                <h2 class="title title--section">{{ lang.sort_by }}</h2>
                <div class="section__container">
                    <div class="row row--form field">
                        <div class="select-field">
                            {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                            <select name="sortby">
                                <option value="username"{% if mybb.input.sortby == 'username' %} selected{% endif %}>{{ lang.sortby_username }}</option>
                                <option value="regdate"{% if mybb.input.sortby == 'regdate' or mybb.input.sortby == '' %} selected{% endif %}>{{ lang.sortby_regdate }}</option>
                                <option value="lastvisit"{% if mybb.input.sortby == 'lastvisit' %} selected{% endif %}>{{ lang.sortby_lastvisit }}</option>
                                <option value="postnum"{% if mybb.input.sortby == 'postnum' %} selected{% endif %}>{{ lang.sortby_postnum }}</option>
                            </select>
                        </div>
                        <div class="field__block">
                            <div class="segmented-control">
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="order" id="order_asc" value="asc"{% if mybb.input.order == 'asc' %} checked{% endif %} />
                                    <label class="segmented-control__button" for="order_asc">{{ lang.asc }} {{ lang.order }}</label>
                                </span>
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="order" id="order_desc" value="0"{% if mybb.input.order != 'asc' %} checked{% endif %} />
                                    <label class="segmented-control__button" for="order_desc">{{ lang.desc }} {{ lang.order }}</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__submit">
                <button type="submit" class="button button--medium">
                    {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.find_users }}</span>
                </button>
            </div>
        </section>
    </form>
    <link rel="stylesheet" href="{{ mybb.asset_url }}/jscripts/select2/select2.css?ver=1807" />
    <script type="text/javascript" src="{{ mybb.asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
    <!--
    if(use_xmlhttprequest == "1")
    {
        MyBB.select2();
        $("#username").select2({
            placeholder: "{{ lang.find_users }}",
            minimumInputLength: 2,
            multiple: false,
            allowClear: true,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: "xmlhttp.php?action=get_users",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term, // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data};
                }
            },
            initSelection: function(element, callback) {
                var value = $(element).val();
                if (value !== "") {
                    callback({
                        id: value,
                        text: value
                    });
                }
            }
        });
    }
    // -->
    </script>
{% endblock moderationBody %}
