{% extends 'layouts/moderation.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.modcp }}</title>
{% endblock head %}

{% block moderationHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.modcp }}</h1>
    </header>
{% endblock %}

{% block moderationBody %}
    {# Latest resources in mod queue #}
    {% if mybb.usergroup.canmanagemodqueue and (attachment or post or thread) %}
        <section class="block">
            <h1 class="title title--major">{{ lang.awaiting_moderation }}</h1>
            <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                <tr>
                    <td class="tcat" width="23%"><span class="smalltext"><strong>{{ lang.type }}</strong></span></td>
                    <td class="tcat" align="center" width="33%"><span class="smalltext"><strong>{{ lang.number_awaiting }}</strong></span></td>
                    <td class="tcat" align="center" width="44%"><span class="smalltext"><strong>{{ lang.latest }}</strong></span></td>
                </tr>
                {# Attachment #}
                {% if mybb.settings.enableattachments and (counters.modqueue.attachments > 0 or mybb.usergroup.issupermod) %}
                    <tr>
                        <td><span class="smalltext"><strong>{{ lang.attachments }}</strong></span></td>
                        <td align="center"><span class="smalltext">{{ unapproved_attachments }}</span></td>
                        <td align="center">
                            <span class="smalltext">
                                {% if attachment.link %}
                                    <span class="smalltext">
                                        <a href="{{ attachment.link }}#pid{{ attachment.pid }}"><strong>{{ attachment.filename }}</strong></a><br />
                                        {{ attachment.date }}<br />
                                        {{ lang.by }} {{ attachment.profilelink|raw }}
                                    </span>
                                {% else %}
                                    <span style="text-align: center;">{{ lang.lastpost_never }}</span>
                                {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {# Post #}
                {% if counters.modqueue.posts > 0 or mybb.usergroup.issupermod %}
                    <tr>
                        <td><span class="smalltext"><strong>{{ lang.posts }}</strong></span></td>
                        <td align="center"><span class="smalltext">{{ unapproved_posts }}</span></td>
                        <td align="center">
                            <span class="smalltext">
                                {% if post.link %}
                                    <span class="smalltext">
                                        <a href="{{ post.link }}#pid{{ post.pid }}" title="{{ post.fullsubject }}"><strong>{{ post.subject }}</strong></a><br />
                                        {{ post.date }}<br />
                                        {{ lang.by }} {{ post.profilelink|raw }}
                                    </span>
                                {% else %}
                                    <span style="text-align: center;">{{ lang.lastpost_never }}</span>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endif %}
                {# Thread #}
                {% if counters.modqueue.threads > 0 or mybb.usergroup.issupermod %}
                    <tr>
                        <td><span class="smalltext"><strong>{{ lang.threads }}</strong></span></td>
                        <td align="center"><span class="smalltext">{{ unapproved_threads }}</span></td>
                        <td align="center">
                            <span class="smalltext">
                                {% if thread.link %}
                                    <span class="smalltext">
                                        <a href="{{ thread.link }}" title="{{ thread.fullsubject }}"><strong>{{ thread.subject }}</strong></a><br />
                                        {{ thread.date }}<br />
                                        {{ lang.by }} {{ thread.profilelink|raw }}
                                    </span>
                                {% else %}
                                    <span style="text-align: center;">{{ lang.lastpost_never }}</span>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </section>
    {% endif %}

    {# Latest 5 mod actions #}
    {% if (counters.modlogs > 0 or mybb.usergroup.issupermod) and mybb.usergroup.canviewmodlogs %}
        <section class="block">
            <h1 class="title title--major">{{ lang.modlogs }}</h1>
            {% for logitem in modlogs %}
                {% include 'modcp/modlogs/item.twig' %}
            {% else %}
                <div class="alert alert--no-results">{{ lang.error_no_results }}</div>
            {% endfor %}
        </section>
    {% endif %}

    <section class="block">
        <h1 class="title title--major">{{ lang.bans_ending_soon }}</h1>
        {% for banned in bannedusers %}
            {% include 'modcp/banning/item.twig' %}
        {% else %}
            <div class="alert alert--no-results">{{ lang.no_banned }}</div>
        {% endfor %}
    </section>

    <form action="modcp.php" method="post">
        <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}" />
        <input type="hidden" name="action" value="do_modnotes" />
        <section class="block block--form form">
            <div class="section section--form">
                <div class="row row--form field">
                    <h3 class="field__name"><label for="notepad">{{ lang.moderator_notes }}</label></h3>
                    <p class="field__description">{{ lang.notes_public_all }}</p>
                    <textarea name="modnotes" id="notepad" rows="10">{{ modnotes }}</textarea>
                </div>
            </div>
            <div class="form__submit">
            	<input type="hidden" name="action" value="do_notepad" />
            	<button type="submit" class="button" name="submit">
            		<i class="button__icon fas fa-sticky-note"></i>
            		<span class="button__text">{{ lang.save_notes }}</span>
                </button>
            </div>
        </section>
    </form>
{% endblock moderationBody %}
