{% extends 'layouts/moderation.twig' %}

{% block head %}
    <title>{{ lang.iplookup }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block moderationHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.iplookup }}</h1>
    </header>
{% endblock %}

{% block moderationBody %}
    <section class="block">
        <h1 class="title title--major">{{ trans('ipaddress_misc_info', ipaddress.ipaddress) }}</h1>
        <ul class="list list--divided list--stats">
            <li class="list__item">
                <span class="list__field">{{ lang.ipaddress_host_name }}</span>
                <span class="list__value">{{ ipaddress.host_name }}</span>
            </li>
            <li class="list__item">
                <span class="list__field">{{ lang.ipaddress_location }}</span>
                <span class="list__value">{{ ipaddress.location }}</span>
            </li>
        </ul>
    </section>
{% endblock moderationBody %}
