{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.modlogs }}</title>
{% endblock head %}

{% block body %}
    <table width="100%" border="0" align="center">
        <tr>
            {# To do: modcp_nav #}
            <td valign="top">
                <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                    <tr>
                        <td class="thead" align="center" colspan="5"><strong>{{ lang.modlogs }}</strong></td>
                    </tr>
                    <tr>
                        <td class="tcat"><span class="smalltext"><strong>{{ lang.username }}</strong></span></td>
                        <td class="tcat" align="center"><span class="smalltext"><strong>{{ lang.date }}</strong></span></td>
                        <td class="tcat" align="center"><span class="smalltext"><strong>{{ lang.action }}</strong></span></td>
                        <td class="tcat" align="center"><span class="smalltext"><strong>{{ lang.information }}</strong></span></td>
                        <td class="tcat" align="center"><span class="smalltext"><strong>{{ lang.ip }}</strong></span></td>
                    </tr>
                    {% for logitem in modlogs %}
                        {% include 'modcp/modlogs/item.twig' %}
                    {% else %}
                        <tr>
                            <td class="trow1" align="center" colspan="5">{{ lang.error_no_results }}</td>
                        </tr>
                    {% endfor %}
                    {% if multipage %}
                        <tr>
                            <td class="tfoot" colspan="5"><span class="smalltext"> {{ multipage|raw }}</span></td>
                        </tr>
                    {% endif %}
                </table>
                <br />
                <form action="modcp.php?action=modlogs" method="post">
                    <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
                        <tr>
                            <td class="thead" colspan="2"><strong>{{ lang.filter_modlogs }}</strong></td>
                        </tr>
                        <tr>
                            <td class="trow1" width="25%"><strong>{{ lang.forum }}</strong></td>
                            <td class="trow1" width="75%">
                                {{ forum_select|raw }}
                            </td>
                        </tr>
                        <tr>
                            <td class="trow1" width="25%"><strong>{{ lang.from_moderator }}</strong></td>
                            <td class="trow1" width="75%">
                                <select name="uid">
                                    <option value="">{{ lang.all_moderators }}</option>
                                    <option value="">----------</option>
                                    {% for user in users %}
                                        <option value="{{ user.uid }}"{% if user.selected %} selected="selected"{% endif %}>{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="trow1" width="25%"><strong>{{ lang.sort_by }}</strong></td>
                            <td class="trow1" width="75%">
                                <select name="sortby">
                                    <option value="dateline"{% if select.sortby.dateline %} selected="selected"{% endif %}>{{ lang.date }}</option>
                                    <option value="username"{% if select.sortby.username %} selected="selected"{% endif %}>{{ lang.username }}</option>
                                    <option value="forum"{% if select.sortby.forum %} selected="selected"{% endif %}>{{ lang.forum_name }}</option>
                                    <option value="thread"{% if select.sortby.thread %} selected="selected"{% endif %}>{{ lang.thread_subject }}</option>
                                </select>
                                {{ lang.in }}
                                <select name="order">
                                    <option value="asc"{% if select.order.asc %} selected="selected"{% endif %}>{{ lang.asc }}</option>
                                    <option value="desc"{% if select.order.desc %} selected="selected"{% endif %}>{{ lang.desc }}</option>
                                </select>
                                {{ lang.order }}
                            </td>
                        </tr>
                        <tr>
                            <td class="trow1" width="25%"><strong>{{ lang.per_page }}</strong></td>
                            <td class="trow1" width="75%"><input type="text" name="perpage" value="{{ select.perpage }}" size="4" class="textbox" /></td>
                        </tr>
                    </table>
                    <br />
                    <div align="center">
                        <input type="submit" class="button" value="{{ lang.filter_logs }}" />
                    </div>
                </form>
            </td>
        </tr>
    </table>
{% endblock body %}