{% extends 'layouts/moderation.twig' %}

{% block head %}
    <title>{{ lang.modlogs }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block moderationHeader %}
    <header class="page-header">
        <h1 class="title title--page">{{ lang.modlogs }}</h1>
    </header>
{% endblock %}

{% block moderationBody %}
    <section class="block">
        {% for logitem in modlogs %}
            {% include 'modcp/modlogs/item.twig' %}
        {% else %}
            <div class="alert alert--no-results alert--no-results-container">{{ lang.error_no_results }}</div>
        {% endfor %}
    </section>
    {% if multipage %}
        {{ multipage|raw }}
    {% endif %}

    <form action="modcp.php?action=modlogs" method="post">
        <section class="block block--form form">
            <div class="section section--form">
                <h2 class="title title--section">{{ lang.filter_modlogs }}</h2>
                <div class="section__container">
                    <div class="row row--form field">
                        <h3 class="field__name">{{ lang.forum }}</h3>
                        <div class="select-field">
                            {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                            {{ forum_select|raw }}
                        </div>
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="from_moderator">{{ lang.from_moderator }}</label></h3>
                        <div class="select-field">
                            {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                            <select name="uid" id="from_moderator">
                                <option value="">{{ lang.all_moderators }}</option>
                                <option value="">----------</option>
                                {% for user in users %}
                                    <option value="{{ user.uid }}"{% if user.selected %} selected="selected"{% endif %}>{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section--form">
                <h2 class="title title--section">{{ lang.sort_by }}</h2>
                <div class="section__container">
                    <div class="row row--form field">
                        <div class="select-field">
                            {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                            <select name="sortby">
                                <option value="dateline"{% if select.sortby.dateline %} selected="selected"{% endif %}>{{ lang.sortby_date }}</option>
                                <option value="username"{% if select.sortby.username %} selected="selected"{% endif %}>{{ lang.sortby_username }}</option>
                                <option value="forum"{% if select.sortby.forum %} selected="selected"{% endif %}>{{ lang.sortby_forum_name }}</option>
                                <option value="thread"{% if select.sortby.thread %} selected="selected"{% endif %}>{{ lang.sortby_thread_subject }}</option>
                            </select>
                        </div>
                        <div class="field__block">
                            <div class="segmented-control">
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="order" id="order_asc" value="asc"{% if select.order.asc %} checked{% endif %} />
                                    <label class="segmented-control__button" for="order_asc">{{ lang.asc }} {{ lang.order }}</label>
                                </span>
                                <span class="segmented-control__option">
                                    <input type="radio" class="radio segmented-control__input" name="order" id="order_desc" value="desc"{% if select.order.desc %} checked{% endif %} />
                                    <label class="segmented-control__button" for="order_desc">{{ lang.desc }} {{ lang.order }}</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row row--form field">
                        <h3 class="field__name"><label for="perpage">{{ lang.per_page }}</label></h3>
                        <input type="text" name="perpage" id="perpage" value="{{ select.perpage }}" size="4" class="textbox textbox--small" />
                    </div>
                </div>
            </div>
            <div class="form__submit">
                <button type="submit" class="button button--medium">
                    {{ include('partials/icon.twig', {icon: 'filter', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.filter_logs }}</span>
                </button>
            </div>
        </section>
    </form>
{% endblock moderationBody %}
