{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.forum_announcement }}</title>
{% endblock head %}

{% block body %}

<table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder tfixed clear no_bottom_border">
    <tr>
        <td class="thead">
            <strong>{{ lang.forum_announcement }}</strong>
        </td>
    </tr>
    <tr>
        <td id="posts_container">
            <div id="posts">
                {{ announcement|raw }}
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(".author_avatar img").error(function () {
        $(this).unbind("error").closest('.author_avatar').remove();
    });
</script>

{% endblock body %}