{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.member_list }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.member_list }}</h1>
        </header>
        <div class="page-controls page-controls--top">
            <div class="page-buttons">
                <a href="showteam.php" class="button button--secondary">
                    {{ include('partials/icon.twig', {icon: 'address-book', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.forumteam }}</span>
                </a>
                <a href="#member-search" class="button">
                    {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                    <span class="button__text">{{ lang.search_members }}</span>
                </a>
            </div>
            {{ multipage|raw }}
        </div>
        <div class="container container--user-alphabet user-alphabet">
            {% for letter in 'A'..'Z' %}
                <a href="memberlist.php?letter={{ letter }}" class="user-alphabet__letter">{{ letter }}</a>
            {% endfor %}
        </div>
        <div class="user-list">
            {% for user in users %}
                {% include 'memberlist/memberlist_row.twig' %}
            {% else %}
            <div class="alert alert--no-results">{{ lang.error_no_members|raw }}</div>
            {% endfor %}
        </div>
        <div class="page-controls">
            {{ multipage|raw }}
        </div>

        <form method="post" action="memberlist.php">
            <section class="form" id="member-search">
                <div class="section section--form">
                    <h3 class="title title--section">{{ lang.search_members }}</h3>
                    <div class="section__container">
                        <div class="row row--form field">
                            <h4 class="field__name"><label for="username">{{ lang.username }}</label></h4>
                            <input type="text" class="" name="username" id="username" style="width: 99%; margin-top: 4px;" value="{{ memberlist.username }}" />
                        </div>
                        <div class="row row--form field">
                            <h4 class="field__name"><label for="website">{{ lang.website }}</label></h4>
                            <input type="text" class="textbox" name="website" id="website" style="width: 99%; margin-top: 4px;" value="{{ memberlist.website }}" />
                        </div>
                    </div>
                </div>
                <div class="section section--form">
                    <h3 class="title title--section"><label for="sort">{{ lang.sort_by }}</label></h3>
                    <div class="section__container">
                        <div class="row row--form field">
                            <div class="select-field">
                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                <select name="sort" id="sort" style="width: 99%;">
                                    <option value="username"{% if memberlist.sort.username %} selected="selected"{% endif %}>{{ lang.sort_by_username }}</option>
                                    <option value="regdate"{% if memberlist.sort.regdate %} selected="selected"{% endif %}>{{ lang.sort_by_regdate }}</option>
                                    <option value="lastvisit"{% if memberlist.sort.lastvisit %} selected="selected"{% endif %}>{{ lang.sort_by_lastvisit }}</option>
                                    <option value="postnum"{% if memberlist.sort.postnum %} selected="selected"{% endif %}>{{ lang.sort_by_posts }}</option>
                                    <option value="threadnum"{% if memberlist.sort.threadnum %} selected="selected"{% endif %}>{{ lang.sort_by_threads }}</option>
                                    {% if mybb.settings.usereferrals %}
                                        <option value="referrals"{% if memberlist.sort.referrals %} selected="selected"{% endif %}>{{ lang.sort_by_referrals }}</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="field__block">
                                <div class="segmented-control">
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio segmented-control__input" name="order" id="order_asc" value="ascending"{% if memberlist.order.ascending %} checked="checked"{% endif %} />
                                        <label class="segmented-control__button" for="order_asc">{{ lang.order_asc }}</label>
                                    </span>
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio segmented-control__input" name="order" id="order_desc" value="descending"{% if memberlist.order.descending %} checked="checked"{% endif %} />
                                        <label class="segmented-control__button" for="order_desc">{{ lang.order_desc }}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="button">
                        {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.search }}</span>
                    </button>
                    <a href="memberlist.php?action=search" class="button button--secondary">
                        {{ include('partials/icon.twig', {icon: 'cog', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.advanced_search }}</span>
                    </a>
                </div>
            </section>
        </form>
    </div>

    <link rel="stylesheet" href="{{ asset_url('jscripts/select2/select2.css') }}">
    <script type="text/javascript">
    <!--
    if({{ mybb.settings.use_xmlhttprequest }})
    {
        MyBB.select2();
        $("#username").select2({
            placeholder: "{{ lang.search_user }}",
            minimumInputLength: 2,
            multiple: false,
            allowClear: true,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: "xmlhttp.php?action=get_users",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term, // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data};
                }
            },
            initSelection: function(element, callback) {
                var value = $(element).val();
                if (value !== "") {
                    callback({
                        id: value,
                        text: value
                    });
                }
            },
           // Allow the user entered text to be selected as well
           createSearchChoice:function(term, data) {
                if ( $(data).filter( function() {
                    return this.text.localeCompare(term)===0;
                }).length===0) {
                    return {id:term, text:term};
                }
            },
        });

        $('[for=username]').on('click', function(){
            $("#username").select2('open');
            return false;
        });
    }
    // -->
    </script>
{% endblock body %}
