{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.search_member_list }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ lang.search_member_list }}</h1>
        </header>
        <form method="post" action="memberlist.php">
            <div class="form">
                <section class="section section--form">
                    <h2 class="title title--section">{{ lang.search_criteria }}</h2>
                    <div class="section__container">
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="username">{{ lang.username }}</label></h3>
                            <div class="select-field">
                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                <select name="username_match">
                                    <option value="begins">{{ lang.begins_with }}</option>
                                    <option value="contains">{{ lang.username_contains }}</option>
                                    <option value="exact">{{ lang.username_exact }}</option>
                                </select>
                            </div>
                            <input type="text" class="" name="username" id="username" />
                        </div>
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="website">{{ lang.search_website }}</label></h3>
                            <input type="text" class="textbox" name="website" id="website" />
                        </div>
                        {% for contact_field in contact_fields %}
                            <div class="row row--form field">
                                <h3 class="field__name"><label for="{{ contact_field.field }}">{{ contact_field.lang_string }}</label></h3>
                               <input type="text" class="textbox" name="{{ contact_field.field }}" id="{{ contact_field.field }}" />
                           </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="section section--form">
                    <h2 class="title title--section">{{ lang.search_options }}</h2>
                    <div class="section__container">
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="sort">{{ lang.sort_by }}</label></h3>
                            <div class="select-field">
                                {{ include('partials/icon.twig', {icon: 'sort', class: 'select-field__icon'}, with_context = false) }}
                                <select name="sort" id="sort">
                                    <option value="username">{{ lang.sort_by_username }}</option>
                                    <option value="regdate">{{ lang.sort_by_regdate }}</option>
                                    <option value="lastvisit">{{ lang.sort_by_lastvisit }}</option>
                                    <option value="postnum">{{ lang.sort_by_posts }}</option>
                                    <option value="threadnum">{{ lang.sort_by_threads }}</option>
                                    <option value="referrals">{{ lang.sort_by_referrals }}</option>
                                </select>
                            </div>
                            <div class="field__block">
                                <div class="segmented-control">
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio segmented-control__input" name="order" id="order_asc" value="ascending" checked="checked" />
                                        <label class="segmented-control__button" for="order_asc">{{ lang.order_asc }}</label>
                                    </span>
                                    <span class="segmented-control__option">
                                        <input type="radio" class="radio segmented-control__input" name="order" id="order_desc" value="descending" />
                                        <label class="segmented-control__button" for="order_desc">{{ lang.order_desc }}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row row--form field">
                            <h3 class="field__name"><label for="perpage">{{ lang.per_page }}</label></h3>
                            <input type="text" class="textbox" size="4" name="perpage" id="perpage" value="15" />
                        </div>
                    </div>
                </section>
                <div class="form__submit">
                    <button type="submit" class="button button--medium">
                        {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.search }}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <link rel="stylesheet" href="{{ asset_url('jscripts/select2/select2.css') }}">
    {{ attach_resource('jscripts/select2/select2.min.js') }}
    <script type="text/javascript">
    <!--
    if({{ mybb.settings.use_xmlhttprequest }})
    {
        MyBB.select2();
        $("#username").select2({
            placeholder: "{{ lang.search_user }}",
            minimumInputLength: 2,
            multiple: false,
            allowClear: true,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: "xmlhttp.php?action=get_users",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term, // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data};
                }
            },
            initSelection: function(element, callback) {
                var value = $(element).val();
                if (value !== "") {
                    callback({
                        id: value,
                        text: value
                    });
                }
            },
           // Allow the user entered text to be selected as well
           createSearchChoice:function(term, data) {
                if ( $(data).filter( function() {
                    return this.text.localeCompare(term)===0;
                }).length===0) {
                    return {id:term, text:term};
                }
            },
        });

        $('[for=username]').on('click', function(){
            $("#username").select2('open');
            return false;
        });
    }
    // -->
    </script>
{% endblock body %}
