{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ lang.calendar }} - {{ mybb.settings.bbname }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="title title--page">{{ calendar.currentmonth }} {{ calendar.year }}</h1>
        </header>
        <div class="page-controls page-controls--top">
            <div class="calendar-nav">
                {% if calendar.prev_link %}
                    <a href="{{ calendar.prev_link|raw }}" class="button button--basic">
                        {{ include('partials/icon.twig', {icon: 'angle-left', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ calendar.prev_month_name }} {{ calendar.prev_month_year }}</span>
                    </a>
                {% endif %}
                {% if calendar.next_link %}
                    <a href="{{ calendar.next_link|raw }}" class="button button--basic">
                        <span class="button__text">{{ calendar.next_month_name }} {{ calendar.next_month_year }}</span>
                        {{ include('partials/icon.twig', {icon: 'angle-right', class: 'button__icon button__icon--after'}, with_context = false) }}
                    </a>
                {% endif %}
            </div>
            <div class="page-buttons">
                {% if calendar_permissions.canaddevents %}
                    <a href="calendar.php?action=addevent&amp;calendar={{ calendar.cid }}" class="button button--half-width">
                        {{ include('partials/icon.twig', {icon: 'calendar-plus', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.add_public_event }}</span>
                    </a>
                    <a href="calendar.php?action=addevent&amp;calendar={{ calendar.cid }}&amp;private=1" class="button button--half-width">
                        {{ include('partials/icon.twig', {icon: 'calendar-plus', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.add_private_event }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="calendar calendar--month">
            <div class="calendar__days-of-week">
                <span class="calendar__week-shortcut"></span>
                {% for weekday in weekday_headers %}
                    <span class="calendar__day-of-week-heading">{{ weekday }}</span>
                {% endfor %}
            </div>
            <div class="calendar__container">
                {% for week in weeks %}
                    {% set i = 0 %}
                    <div class="calendar__week">
                        <div class="calendar__week-shortcut">
                            <a href="{{ week.week_link|raw }}" class="calendar__week-link button button--basic" title="{{ lang.go_week }}">
                                {{ include('partials/icon.twig', {icon: 'angle-double-right', class: 'button__icon'}, with_context = false) }}
                                <span class="button__text">{{ lang.go_week }}</span>
                            </a>
                        </div>
                        {% for day in week.days %}
                            <div class="calendar__day {{ day.day_class }}">
                                <span class="calendar__day-of-week">{{ weekday_headers[i] }}</span>
                                <h2 class="calendar__day-heading"><a href="{{ day.day_link|raw }}" class="calendar__day-link"><span class="calendar__month">{{ day.month }}</span> {{ day.day }}</a></h2>
                                {% if day.bday_count > 0 %}
                                     <p class="calendar__event"><a href="{{ day.calendar_link|raw }}" class="calendar__event-link calendar__event-link--birthdays">{{ day.bday_count }} {{ day.birthday_lang }} {{ include('partials/icon.twig', {icon: 'birthday-cake', class: 'calendar__event-icon'}, with_context = false) }}</a></p>
                                {% endif %}
                                {% if day.eventlimit == true %}
                                    <p class="calendar__event"><a href="{{ calendar.link }}" class="calendar__event-link calendar__event-link--multiple">{{ day.total_events }} {{ day.event_lang }} {{ include('partials/icon.twig', {icon: 'calendar', class: 'calendar__event-icon'}, with_context = false) }}</a></p>
                                {% else %}
                                    {% for event in day.events %}
                                        <p class="calendar__event {{ event.event_class }}"><a href="{{ event.eventlink|raw }}" title="{{ event.fullname }}" class="calendar__event-link">{{ event.name }}</a></p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <footer class="page-footer">
            {% include 'calendar/calendar_select.twig' %}
        </footer>
    </div>
{% endblock body %}
